
<div class="scroll-container">

    <div class="grid-exp-container">
    
        <div class="outer-column-left"></div>
    
            <div class="nav-header">
                <p class="logo-text">nav header</p>
                <div class="nav-buttons">
                    <button class="nav-button">one</button>
                    <button class="nav-button">two</button>
                    <button class="nav-button">three</button>
    
                </div>
                <div class="icon-button">
                    <mat-icon>cart</mat-icon>
                </div>
            </div>
            <div class="home">
                
                <p class="text">shop panel</p>
                <div class="shop-panel">
                
                    <div class="item shop-item"></div>
                    <div class="item shop-item"></div>
                    <div class="item shop-item"></div>
                    
                </div>
                
                <p class="text">home feature</p>
                <div class="home-feature">
                
    
                    <div class="item feature-item"></div>
                    <div class="item feature-item"></div>
                    <div class="item feature-item"></div>
    
                    
                </div>
                
                <p class="text">about panel</p>
                <div class="about-panel">
                
                    <div class="item about-item"></div>
                    <div class="item about-item"></div>
    
                </div>
                
            </div>
    
            <div class="nav-footer">
    
                <p class="logo-text">nav footer</p>
    
                <div class="footer-links"></div>
                
                <div class="footer-text-container">
                    <p class="footer-text ft-one">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur vitae ducimus sint minus dolor? Quam, voluptas dolorum labore nihil reprehenderit ut incidunt, beatae nulla perspiciatis error itaque velit eligendi voluptatem ipsa cupiditate repellendus, illo saepe nostrum voluptatum maxime repudiandae illum nemo doloribus. Vitae magnam eum repellat hic consequatur modi quidem!</p>
                    <p class="footer-text ft-two">Lorem ipsum dolor sit amet.</p>
                </div>
    
            </div>
    
        <div class="outer-column-right"></div>
    
    </div>

</div>