@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.breadcrumb-panel-container {
    @include global.flexboxLayout(row, center, flex-start);
    background-color: var(--au-light-background);
    flex-grow: 1;

    .breadcrumb-panel-inner-container {
        @include global.flexboxLayout(row, flex-start, center);
        max-width: 1110px;
        width: 100%;

        @include audioMixin.response(xl) {
            max-width: 768px;
            padding: 0 40px;
        }

        a {
            @include audioMixin.bodyText;
            color: rgba(0,0,0,0.5);
            padding: 76px 0 38px;
            text-decoration: none;
            text-transform: capitalize;

        }
    }
}
