@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.breadcrumb-panel-container {
    @include global.flexboxLayout(row, center, flex-start);
    background-color: var(--au-light-background);
    flex-grow: 1;

    .breadcrumb-panel-inner-container {
        @include global.flexboxLayout(row, flex-start, center);
        max-width: 1110px;
        width: 100%;

        @include audioMixin.response(lg) {
            max-width: var(--au-md-inner-width);
        }
        
        @include audioMixin.response(md) {
            max-width: var(--au-sm-inner-width);
        }

        a {
            @include audioMixin.bodyText;
            color: rgba(0,0,0,0.5);
            // padding: 76px 0 38px;
            text-decoration: none;
            text-transform: capitalize;

            &:hover {
                color: var(--au-primary-hover);
            }

        }
    }
}
