
<div class="category-page-container">
    
    <div class="category-header">
    
        <p class="category-title">{{category$ | async}}</p>
    
    </div>

    <ng-container *ngIf="products$ | async as products">

        <ng-container *ngFor="let product of products; even as isEven">
            
            <app-product-card [viewportMode]="viewportMode"
                              [product]="product"
                              [even]="isEven"            
            ></app-product-card>

        </ng-container>
        
    </ng-container>
    
    <app-shop-panel [url]="url"></app-shop-panel>

    <app-about-panel></app-about-panel>

</div>

