@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.nav-header-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--nav-header-background-color);
    width: 100%;
    
    .inner-container {
        @include global.flexboxLayout(row, space-between, center);
        border-bottom: 1px solid var(--global-grey-5);
        max-width: 1110px;
        width: 100%;
        
        .header-title {
            @include audioMixin.logoText;
            color: var(--nav-header-text-color);
        }

        .populate-cart-button {
            @include audioMixin.subtitleText;
            @include audioMixin.audioColors;
            border: none;
            color: var(--nav-header-text-color);
            margin: 20px;
            padding: 2px 6px;
            
        }
    
        mat-icon {
            color: var(--nav-header-text-color);
            cursor: pointer;
        }
    }
}
