
<nav class="nav-header-container" id="audio-nav">

    <div class="inner-container" #navHeaderContainer>

        <div class="left">
            
            <button class="open-menu-button" (click)="handleOpenNavMenu()">
                
                <mat-icon class="menu-icon">menu</mat-icon>
    
            </button>
            
            <p class="header-title">{{AppText.LOGO_TEXT}}</p>

        </div>

        <app-nav-links></app-nav-links>

        <div class="right">
            
            <button class="populate-cart-button" (click)="populateCart()">fill cart</button>
        
            <button class="show-cart-button" (click)="handleShowShoppingCart()">
    
                <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>
    
            </button>

        </div>

    </div>

</nav>