@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@import "styles.scss";

.delete-dialog-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    background-color: var(--background-2);
    
    .title-container {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 24px;
        width: 100%;

        .title-text {
            @include kanban.kanbanHeadingLText;
            color: var(--kanban-destructive-idle);
            padding: 0;
        }
    }

    .message {
        @include kanban.kanbanBodyLText;
        color: var(--subtitle-text-1);
        margin: 0 0 24px;

    }

    .action-buttons {
        @include global.flexboxLayout(row, flex-end, center);
             width: 100%;

        button {
            width: 50%;
        }

        @include global.response(md) {
            @include global.flexboxLayout(column, center, center);
            width: 100%;

            button {
                width: 100%;
            }

        }

        .cancel-button {
            @include kanban.kanbanMainButtonStyles(var(--kanban-secondary-idle), var(--kanban-on-secondary-idle), 40px);
            justify-content: center;
        }
        
        .delete-button {
            @include kanban.kanbanMainButtonStyles(var(--kanban-destructive-idle), var(--kanban-on-destructive-idle), 40px);
            justify-content: center;
        }
    }


}