@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;
@use '../css-tricks-mixins' as cssTricks;
@import "styles.scss";

.login-form-container {
    @include global.flexboxLayout(column, center, center);
    @include cssTricks.boxShadowRaisedUpperLeftLowerRight;
    background-color: #223243;
    border: 8px solid #223243;
    border-radius: 20px;
    padding: 40px;
    width: 360px;

    .form {
        @include global.flexboxLayout(column, center, flex-start);
        font-family: var(--global-font-nunito);
        
        h2 {
            align-self: center;
            color: #fff;
            font-family: inherit;
            font-weight: 500;
            letter-spacing: 0.1em;
            margin: 0 0 20px;
        }

        .input-box {
            // @include cssTricks.spiffyInputStyles;
            @include global.flexboxLayout(row, flex-start, center);
            margin-bottom: 25px;
            position: relative;
            width: 300px;
            
            input {
                background: transparent;
                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 25px;
                box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
                            5px 5px 15px rgba(0,0,0,0.35);
                color: #fff;
                font-family: inherit;
                font-size: 1em;
                font-weight: 300;
                outline: none;
                padding: 15px 10px 15px 56px;
                width: 100%;
                

                &:valid,
                &:focus {
                    border: 1px solid #00dfc4;
                }
                
                &:valid ~ .placeholder,
                &:focus ~ .placeholder {
                    @include cssTricks.placeholderFocusStyles;
                    display: inline-block;
                    position: absolute;
                    left: 40px;
                    top: -10px;
                    transition: 0.5s;
                }
                
                &:focus ~ .placeholder.error {
                    color: red;
                }
            }

            .spacer {
                position: absolute;
                left: 50px;
                border-left: 1px solid #00dfc4;
                height: 16px;
            }

            .placeholder {
                @include cssTricks.placeholderText;
                position: absolute;
                left: 0;
            }

            .error {
                @include cssTricks.placeholderText;
                position: absolute;
                left: 0;
                color: red;
                font-size: 0.75em;
                transition: 0.5s;
            }

            mat-icon {
                position: absolute;
                top: 10px;
                left: 16px;
                color: #00dfc4;
                font-size: 22px;
                padding: 4px 0 2px 8px;
                width: 25px;
            }
        }

        .create-button {
            @include cssTricks.spiffyButtonStyles;
            margin-bottom: 25px;

                        
        }

        .footer-text {
            align-self: center;
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.75em;
            font-weight: 300;

            span {
                color: #fff;
                cursor: pointer;
                font-weight: 500;

            }
        }
    }
}
