

<div class="login-form-container">

    <div class="form signup">

        <h2>Sign Up</h2>
        <div class="input-box">
            <input type="text" required="required">
            <span class="spacer"></span>
            <mat-icon class="icon material-symbols-outlined">person</mat-icon>
            <span class="placeholder">username</span>
        </div>
        <div class="input-box">
            <input type="text" required="required">
            <span class="spacer"></span>
            <mat-icon class="icon material-symbols-outlined">mail</mat-icon>
            <span class="placeholder">email address</span>
        </div>
        <div class="input-box">
            <input type="password" required="required">
            <span class="spacer"></span>
            <mat-icon class="icon material-symbols-outlined">lock</mat-icon>
            <span class="placeholder">create password</span>
        </div>
        <div class="input-box">
            <input type="password" required="required">
            <span class="spacer"></span>
            <mat-icon class="icon material-symbols-outlined">lock</mat-icon>
            <span class="placeholder">confirm password</span>
        </div>
        <div class="create-button">
            <p class="button-text">Create account</p>
        </div>
        <p class="footer-text">Already a member ? <span class="login">Log in</span></p>
        
    </div>
    <div class="form signin"></div>
</div>