@use '../../../styles/global-mixins' as global;
@use '../../../styles/ng-exp-mixins' as ang-exp;
// @use './ang-exp-theme' as ang-exp-theme;
@import "styles.scss";

.ang-exp-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-drawer-container {
        height: 100%;
        width: 100%;
    }

    .mat-drawer {
        @include global.flexboxLayout(column, flex-start, space-between);
        background-color: var(--ang-exp-sidenav-background-color);
        width: 300px;

        ::ng-deep .mat-drawer-inner-container {
            @include global.flexboxLayout(column, space-between, flex-start);
            overflow: hidden;
        }

        .top-drawer-container {

            .heading {
                @include ang-exp.headingXLText;
                color: var(--ang-exp-sidenav-text-color);
                margin: 34px 120px 54px 34px;
            }

            .nav-button {
                @include ang-exp.sidenavButtonStyles;
                @include ang-exp.angExpColors($background-color: var(--ang-exp-sidenav-button-color), $color: var(--ang-exp-sidenav-button-text-color));
                @include global.flexboxLayout(row, flex-start, center);

                &:not(.active-link) {
                        
                    &:hover {
                        @include ang-exp.angExpColors(var(--ang-exp-sidenav-button-hover-color), var(--ang-exp-sidenav-button-hover-text-color));
                    }
                }

                mat-icon {
                    margin: 0 16px 0 0;
                }

                &-text {
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                }
            }

            // .topnav-active {
            //     @include global.globalColors(var(--topnav-menu-item-active-color), var(--topnav-menu-item-text-active-color));
            // }

            .active-link {
                @include ang-exp.angExpColors(var(--ang-exp-sidenav-active-link-color), var(--ang-exp-sidenav-active-link-text-color));
            }
        }
    }

    .mat-drawer-content {
        background-color: var(--ang-exp-main-background-color);
        overflow-y: hidden;
        position: relative;

        .nav-bar {
            @include global.flexboxLayout(row, space-between, center);
            background-color: var(--ang-exp-nav-background-color);
            border-bottom: 1px solid lightgrey;
            height: var(--ang-exp-size-nav-bar-height);
            width: 100%;

            .title-container {
                margin: 0 0 0 20px;

                .title-text {
                    @include ang-exp.headingXLText;
                    @include ang-exp.angExpColors(var(--ang-exp-nav-background-color), var(--ang-exp-nav-background-text-color));
                }
            }

        
            .buttons-container {
                @include global.flexboxLayout(row, flex-start, center);
                
                .nav-button {
                    @include ang-exp.topnavButtonStyles(24px);
                    @include ang-exp.angExpColors(var(--ang-exp-nav-button-color), var(--ang-exp-nav-button-text-color));
                    
                }
            }
        }

        .show-drawer-button {
            @include ang-exp.mainButtonStyles(var(--size-button-tall));    
            @include ang-exp.angExpColors(var(--ang-exp-nav-button-color), var(--ang-exp-nav-button-text-color));
            border-top-left-radius: 0;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 0;
            cursor: pointer;
            position: absolute;
            left: 500;
            margin: 0;
            top: 90%;
            z-index: 10;
        }


    }


}