
<button class="populate-form-button" (click)="populateCheckoutForm()">
    fill form
</button>

<form [formGroup]="checkoutForm">

        <!-- billing details -->
    <p class="section-header-text">{{AppText.BILLING_DETAILS}}</p>

    <div class="form-section">
        
        <div class="control-container">
            
            <label for="name">{{AppText.NAME}}</label>
            <input type="text" placeholder="name" class="checkout-form-control"
                    formControlName="nameControl"
            >

        </div>

        <div class="control-container">
            
            <label for="email">{{AppText.EMAIL_ADDRESS}}</label>
            <input type="text" placeholder="email address" class="checkout-form-control"
                   formControlName="emailControl"
            >

        </div>

        
        <div class="control-container">
            
            <label for="phone">{{AppText.PHONE_NUMBER}}</label>
            <input type="text" placeholder="phone number" class="checkout-form-control"
                   formControlName="phoneControl"
            >

        </div>

    </div>


    <!-- shipping info -->
<p class="section-header-text">{{AppText.SHIPPING_INFO}}</p>

<div class="form-section">

    <div class="control-container wide-control">

        <label for="address">{{AppText.ADDRESS}}</label>
        <input type="text" placeholder="address" class="checkout-form-control"
               formControlName="addressControl"
        >

    </div>

    <div class="control-container">

        <label for="city">{{AppText.CITY}}</label>
        <input type="text" placeholder="city" class="checkout-form-control"
               formControlName="cityControl"
        >

    </div>
    
    <div class="control-container">
        
        <label for="state">{{AppText.STATE}}</label>
        <input type="text" placeholder="state" class="checkout-form-control"
               formControlName="stateControl"
        >
        
    </div>
    
    <div class="control-container">
        
        <label for="zipcode">{{AppText.ZIP_CODE}}</label>
        <input type="text" placeholder="zip code" class="checkout-form-control"
               formControlName="zipControl"
        >
        
    </div>
    
    <div class="control-container">

        <label for="country">{{AppText.COUNTRY}}</label>
        <input type="text" placeholder="country" class="checkout-form-control"
               formControlName="countryControl"
        >
        
    </div>

</div>
    
        <!-- payment details -->
    <p class="section-header-text">{{AppText.PAYMENT_DETAILS}}</p>

    <div class="form-section">

        <div class="control-container wide-control radio-container">
            
            <div class="left">
                
                <label for="paymentMethod">{{AppText.PAYMENT_METHOD}}</label>

            </div>

            <div class="right">
                
                <div class="radio-control">
                    
                    <input type="radio" id="COD" value="COD" name="paymentMethodControl"
                           formControlName="paymentMethodControl" [checked]="paymentMethodControl.value === PaymentMethod.COD"
                    />
                    <label for="COD">{{AppText.CASH_ON_DELIVERY}}</label>
    
                </div>
                
                <div class="radio-control">
    
                    <input type="radio" id="e-Money" value="e-Money" name="paymentMethodControl"
                           formControlName="paymentMethodControl" [checked]="paymentMethodControl.value === PaymentMethod.E_MONEY"
                    >
                    <label for="e-Money">{{AppText.E_MONEY}}</label>
                    
                </div>

            </div>

        </div>

        <div class="control-container">
            
            <label for="e-MoneyNumber">{{AppText.E_MONEY_NUMBER}}</label>
            <input type="text" placeholder="e-Money Number" class="checkout-form-control"
                   formControlName="eMoneyNumberControl"
            >

        </div>

        <div class="control-container">
            
            <label for="eMoneyPin">{{AppText.E_MONEY_PIN}}</label>
            <input type="text" placeholder="e-Money PIN" class="checkout-form-control"
                   formControlName="eMoneyPinControl"
            >

        </div>

    </div>

</form>
