
<form>

        <!-- billing details -->
    <p class="section-header-text">billing details</p>

    <div class="form-section">
        
        <div class="control-container">
            
            <label for="name">name</label>
            <input type="text" placeholder="name" class="checkout-form-control">

        </div>

        <div class="control-container">
            
            <label for="email">email address</label>
            <input type="text" placeholder="email address" class="checkout-form-control">

        </div>

        
        <div class="control-container">
            
            <label for="phone">phone number</label>
            <input type="text" placeholder="phone number" class="checkout-form-control">

        </div>

    </div>


    <!-- shipping info -->
<p class="section-header-text">shipping info</p>

<div class="form-section">

    <div class="control-container wide-control">

        <label for="address">address</label>
        <input type="text" placeholder="address" class="checkout-form-control">

    </div>

    <div class="control-container">

        <label for="city">city</label>
        <input type="text" placeholder="city" class="checkout-form-control">

    </div>
    
    <div class="control-container">
        
        <label for="state">state</label>
        <input type="text" placeholder="state" class="checkout-form-control">
        
    </div>
    
    <div class="control-container">
        
        <label for="zipcode">zip code</label>
        <input type="text" placeholder="zip code" class="checkout-form-control">
        
    </div>
    
    <div class="control-container">

        <label for="country">country</label>
        <input type="text" placeholder="country" class="checkout-form-control">
        
    </div>

</div>
    
        <!-- payment details -->
    <p class="section-header-text">payment details</p>

    <div class="form-section">

        <div class="control-container wide-control radio-container">
            
            <div class="left">
                
                <label for="paymentMethod">payment method</label>

            </div>

            <div class="right">
                
                <div class="radio-control">
                    
                    <input type="radio" id="COD" value="COD" name="paymentMethod">
                    <label for="COD">Cash on Delivery</label>
    
                </div>
                
                <div class="radio-control">
    
                    <input type="radio" id="e-Money" value="e-Money" name="paymentMethod">
                    <label for="e-Money">e-Money</label>
                    
                </div>

            </div>


        </div>

        <div class="control-container">
            
            <label for="e-MoneyNumber">e Money Number</label>
            <input type="text" placeholder="e-Money Number" class="checkout-form-control">

        </div>

        <div class="control-container">
            
            <label for="eMoneyPin">e-Money PIN</label>
            <input type="text" placeholder="e-Money PIN" class="checkout-form-control">

        </div>

    </div>

</form>
