
<mat-drawer-container>

    <mat-drawer #drawer mode="side"
                opened="true"
                class="board-view-sidenav"
                (openedChange)="toggleShowDrawerButton($event)"
    >

        <div class="top-drawer-container">

            <div class="kanban-logo-container"
                 [class.sidenav-closed]="shouldShowOpenDrawerButton"
            >

                <div class="kanban-icon-container">
                    <div class="kanban-icon-segment segment-1"></div>
                    <div class="kanban-icon-segment segment-2"></div>
                    <div class="kanban-icon-segment segment-3"></div>
                </div>
                
                <p class="logo-text">kanban</p>

            </div>

            <!-- <mat-icon svgIcon="logo-light" color="primary"></mat-icon>
            <mat-icon svgIcon="icon-light-theme" color="primary"></mat-icon> -->
        
            <p class="all-boards">all boards ({{numBoards}})</p>

            <button *ngFor="let board of boards$ | async"
                    type="button"
                    class="sidenav-button"
                    (click)="setSelectedBoard(board)"
                    (click)="drawer.close()"
                    [class.focused]="getFocusStatus(board.displayName)"
            >
                <mat-icon>grid_on</mat-icon>
                <p class="sidenav-button-text">
                    {{board.displayName}}
                </p>
            </button>

            <button mat-flat-button
                    type="button"
                    class="create-new-board-button"
                    disableRipple="true"
                    (click)="openCreateBoardDialog()"
            >
                <mat-icon>add</mat-icon>
                create new board
            </button>

            <button mat-flat-button
                    type="button"
                    class="create-new-board-button"
                    disableRipple="true"
                    (click)="handleAddSampleBoard()"
            >
                <mat-icon>add</mat-icon>
                add sample board
            </button>

        </div>

        <div class="bottom-buttons-container">
            <div class="dark-mode-switch-container">
                <mat-icon class="material-symbols-outlined">light_mode</mat-icon>
                <mat-slide-toggle [color]="darkModeToggleButtonColor"
                                  [checked]="darkModeOn$ | async"
                                  (change)="toggleTheme()"
                                
                ></mat-slide-toggle>
                <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>

            </div>

            <button class="hide-sidebar-button"
                    (click)="drawer.close()"
            >
                <mat-icon>visibility_off</mat-icon>
                Hide Sidebar
            </button>

            <button class="hide-sidebar-button"
                    (click)="startGuidedTour()"
            >
                <mat-icon class="material-symbols-outlined">info</mat-icon>
                Take the tour
            </button>

        </div>

    </mat-drawer>

    <mat-drawer-content>

        <ng-container *ngIf="selectedBoard$ | async as board">
        
            <nav class="nav-bar">
            
                <div class="board-title-container">
                
                    <div *ngIf="shouldShowOpenDrawerButton" 
                        class="kanban-logo-container"
                        [class.sidenav-closed]="shouldShowOpenDrawerButton"
                    >
        
                        <div class="kanban-icon-container">
                            <div class="kanban-icon-segment segment-1"></div>
                            <div class="kanban-icon-segment segment-2"></div>
                            <div class="kanban-icon-segment segment-3"></div>
                        </div>
        
                        <p class="logo-text">kanban</p>
        
                    </div>
        
                    <p class="board-title">{{board.displayName}}</p>
                    
                    <button mat-icon-button
                            class="dropdown-icon-button"
                            color="primary"
                            (click)="openBoardsSelectDialog()"
                    >
                        <mat-icon>expand_more</mat-icon>
                    </button>
        
                </div>
                
                <div class="buttons-container">

                    <button mat-button
                            class="nav-button"
                            (click)="uploadData()"
                    >
                        <mat-icon>add</mat-icon>
                        <p class="nav-button-text">Upload data</p>
                    </button>

                    <button mat-button
                            class="nav-button"
                            (click)="handleResetStore()"
                    >
                        <mat-icon>add</mat-icon>
                        <p class="nav-button-text">Reset store</p>
                    </button>
        
                    <button mat-button
                            class="nav-button"
                            (click)="openCreateTaskDialog()"
                    >
                        <mat-icon>add</mat-icon>
                        <p class="nav-button-text">Add Task</p>
                    </button>
        
                    <button mat-icon-button
                            class="menu-button"
                            color="primary"
                            [matMenuTriggerFor]="topnavMenu"
                            (menuOpened)="handleTopnavMenuOpen()"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
        
                    <mat-menu #topnavMenu="matMenu" [class]="topnavMenuCssClass">
        
                        <button mat-menu-item (click)="openEditBoardDialog()">Edit Board</button>
                        <button mat-menu-item (click)="openDeleteBoardDialog()" class="delete-board-menu-item">Delete Board</button>
                        <button mat-menu-item (click)="openCreateTaskDialog()" class="create-task-menu-item">Add Task</button>
                        <button mat-menu-item (click)="openConfigureColumnsDialog()">Configure Columns</button>
                        <button mat-menu-item (click)="handleLogout()">Log out</button>
                        
                    </mat-menu>
                    
                </div>
        
            </nav>

            <ng-container *ngIf="(selectedBubble$ | async)! as bubble">
                <div #guidedTour class="tour-bubble"
                     [style.top]="bubble.top"
                     [style.left]="bubble.left"
                >
                    <app-guided-tour [selectedBubble]="bubble"
                                     (next)="handleNextTourStop()"
                                     (closeTour)="handleCancelTour()"
                    ></app-guided-tour>
                </div>

            </ng-container>
            
            
            <app-kanban-tasks [tasks]="(tasks$ | async)!"
                              [theme]="theme"
                              (addTask)="openCreateTaskDialog()"
            >
            </app-kanban-tasks>

                <!-- Button in lower left to open drawer for this app -->
            <button *ngIf="shouldShowOpenDrawerButton"
                    class="show-drawer-button"
                    (click)="drawer.open()"
            >
                <mat-icon>visibility</mat-icon>
            </button>
            
        </ng-container>

        

    </mat-drawer-content>

</mat-drawer-container>
