@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;
@use '../landing-page-variables' as landingPageVar;
@import "../../../../styles/styles.scss";

:host {
    width: 80%;
    
    .job-container {
        @include global.flexboxLayout(column, flex-start, flex-start);
        margin: 20px 0;
        
        .job-header {
            @include global.flexboxLayout(row, space-between, center);
            width: 100%;
            
            @include landingPageVar.response(md) {
                @include global.flexboxLayout(column, flex-start, flex-start);
            }
        }
    
        .job-headline {
            margin-bottom: 18px;
            text-align: center;
        }
    
        .assignment {
            text-decoration: underline;
            margin: 0 0 10px;

            @include landingPageVar.response(md) {
                text-align: center;
            }
        }

        .description {
            margin: 0 0 8px;
        }

        ul {
            list-style: none;
        }

        ul li::before {
            content: "\2022";
            color: var(--landing-page-body-text-color);
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
          }

        .task {
            margin-bottom: 12px;
        }
    
        .subtitle-text {
            @include global.textSubtitle;
            @include global.textSizes($font-size: globalVar.globalFontSize(heading-m-l), $line-height: globalVar.globalLineHeight(heading-m-l));
            align-self: center;
            color: var(--experience-section-subheader-text-color);
        }

        .accent-text {
            @include global.textDescription;
            align-self: center;
            background-color: var(--landing-page-header-name-description-text-background-color);
            border-radius: 30px;
            color: var(--landing-page-header-name-description-text-color);
            font-size: globalVar.globalFontSize(body-l);
            letter-spacing: 3px;
            margin: 10px 0 24px;
            padding: 15px 20px;
            text-align: center;
            text-transform: uppercase;
        }
    
        .description-text {
            @include global.textDescription;
            line-height: globalVar.globalLineHeight(body-xl);
            color: var(--experience-section-body-text-color);
        }
    }
}
