@import "styles.scss";

.ang-exp-container {
    @include flexboxLayout(column, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-drawer-container {
        height: 100%;
        width: 100%;
    }

    .mat-drawer {
        @include flexboxLayout(column, flex-start, space-between);
        background-color: var(--dark-background-3);
        width: 300px;

        ::ng-deep .mat-drawer-inner-container {
            @include flexboxLayout(column, space-between, flex-start);
            overflow: hidden;
        }

        .top-drawer-container {
            .heading {
                @include darkHeadingXLText;
                margin: 34px 120px 54px 34px;
            }

            .nav-button {
                @include navButtonStyles;
                @include flexboxLayout(row, flex-start, center);

                mat-icon {
                    margin: 0 16px 0 0;
                }

                &-text {
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .mat-drawer-content {
        background-color: var(--dark-background-2);
        overflow-y: hidden;
        position: relative;

        .nav-bar {
            @include flexboxLayout(row, flex-end, center);
            background-color: var(--dark-background-3);
            height: var(--size-nav-bar-height);
            width: 100%;
        
            .buttons-container {
                @include flexboxLayout(row, flex-start, center);
                
                .nav-button {
                    @include mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), var(--size-button-tall));
                }
            }
        }

        .show-drawer-button {
            @include mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), var(--size-button-tall));    
            border-top-left-radius: 0;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 0;
            cursor: pointer;
            position: absolute;
            left: 500;
            margin: 0;
            top: 90%;
        }


    }


}