
<div class="ang-exp-container">

    <mat-drawer-container>
        
        <!-- opened="true" -->
        <mat-drawer #drawer mode="side"
                    (openedChange)="toggleShowDrawerButton($event)">

                    <div class="top-drawer-container">

                            <!-- Button in top left to return to home sidenav -->
                        <button class="return-home-button"
                                
                        >
                            <p class="back-button-text">Return home</p>
                        </button>

                        <h1 class="heading">Angular Experiments</h1>

                        <button *ngFor="let button of ANG_EXP_NAV_BUTTONS"
                                type="button" 
                                [routerLink]="button.routerLink"
                                routerLinkActive="active-link"
                                class="nav-button"
                                (click)="drawer.close()"
                                (click)="setTitle(button.text)"
                        >
                            {{button.text | titlecase}}
                        </button>

                    </div>

        </mat-drawer>

        <mat-drawer-content>

            <nav class="nav-bar">

                <div class="title-container">

                    <span *ngIf="shouldShowOpenDrawerButton" class="title-text">Angular Experiment: </span>
                    <span class="title-text">{{pageTitle}}</span>

                </div>
            
                <div class="buttons-container">
        
                    <button mat-button
                            class="nav-button"
                            (click)="drawer.open()"
                    >
                        Open sidenav
                    </button>

                    <button mat-button
                            class="nav-button"
                            (click)="toggleTheme()"
                    >
                        Toggle theme
                    </button>
                    
                </div>
        
            </nav>
            <router-outlet></router-outlet>

            <!-- <div [@routeAnimations]="getRouteAnimationData()">

                <router-outlet></router-outlet>

            </div> -->

                <!-- Button in lower left to open sidenav for this app -->
            <button *ngIf="shouldShowOpenDrawerButton"
                    class="show-drawer-button"
                    (click)="drawer.open()"
            >
                <mat-icon>visibility</mat-icon>
            </button>

        </mat-drawer-content>

    </mat-drawer-container>
</div>