@use '../../styles/global-mixins' as global;
@use '../../styles/ng-exp-mixins' as ang-exp;
@import "styles.scss";

.ang-exp-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-drawer-container {
        height: 100%;
        width: 100%;
    }

    .mat-drawer {
        @include global.flexboxLayout(column, flex-start, space-between);
        background-color: var(--ang-exp-background-3);
        width: 300px;

        ::ng-deep .mat-drawer-inner-container {
            @include global.flexboxLayout(column, space-between, flex-start);
            overflow: hidden;
        }

        .top-drawer-container {
            .heading {
                @include ang-exp.headingXLText;
                margin: 34px 120px 54px 34px;
            }

            .nav-button {
                @include ang-exp.sidenavButtonStyles;
                @include global.flexboxLayout(row, flex-start, center);

                mat-icon {
                    margin: 0 16px 0 0;
                }

                &-text {
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                }
            }

            .focused {
                background-color: var(--ang-exp-primary-idle);
                color: var(--ang-exp-on-primary-idle);
            }
        }
    }

    .mat-drawer-content {
        background-color: var(--ang-exp-background-2);
        overflow-y: hidden;
        position: relative;

        .nav-bar {
            @include global.flexboxLayout(row, flex-end, center);
            background-color: var(--ang-exp-background-3);
            height: var(--ang-exp-size-nav-bar-height);
            width: 100%;
        
            .buttons-container {
                @include global.flexboxLayout(row, flex-start, center);
                
                .nav-button {
                    @include ang-exp.topnavButtonStyles(var(--ang-exp-primary-idle), var(--ang-exp-on-primary-idle), var(--size-button-tall));
                    
                }
            }
        }

        .show-drawer-button {
            @include ang-exp.mainButtonStyles(var(--ang-exp-primary-idle), var(--ang-exp-on-primary-idle), var(--size-button-tall));    
            border-top-left-radius: 0;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 0;
            cursor: pointer;
            position: absolute;
            left: 500;
            margin: 0;
            top: 90%;
        }


    }


}