@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use '../../mods/ang-exp/css-tricks/css-tricks-mixins' as cssTricks;

:root {

    // colors

    --some-color-1: #223243;
    
    --lp-warn: red;
    --lp-on-warn: white;

    // DO NOT DELETE - THIS IS THE SCHEME USED FOR ORIGINAL DESIGN
    // from https://coolors.co/011627-ff0022-41ead4-fdfffc-b91372

    // needs background colors

    --lp-one: #41ead4ff;    // turquoise
    --lp-two: #b91372ff;   // red-violet
    --lp-three: #fdfffcff;  // baby powder
    --lp-four: #011627ff;   // rich black
    --lp-five: #ff0022ff;     // red-cmyk

    // --lp-primary: var(--landing-page-one);
    // --lp-on-primary: var(--landing-page-four);
    // --lp-secondary: var(--landing-page-two);
    // --lp-on-secondary: var(--global-white-1);
    // --lp-accent-1: var(--landing-page-three);
    // --lp-on-accent-1: var(--landing-page-four);
    // --lp-accent-2: var(--landing-page-four);
    // --lp-on-accent-2: var(--global-white-1);

    ///////////////// COLOR SCHEMES FOR LIGHT MODE ///////////////////////////

    --byzantium: #820263ff;
    --dogwood-rose: #d90368ff;
    --timberwolf: #eadedaff;
    --space-cadet: #2e294eff;
    --gold: #ffd400ff;

    --lp-background: var(--timberwolf);
    --lp-on-background: var(--space-cadet);
    --lp-primary: var(--space-cadet);
    --lp-on-primary: var(--gold);
    --lp-secondary: var(--dogwood-rose);
    --lp-on-secondary: var(--gold);
    --lp-accent-1: var(--byzantium);
    --lp-on-accent-1: var(--gold);
    --lp-accent-2: var(--gold);
    --lp-on-accent-2: var(--dogwood-rose);

    // --lp-background: var(--timberwolf);
    // --lp-on-background: var(--space-cadet);
    // --lp-primary: var(--space-cadet);
    // --lp-on-primary: var(--timberwolf);
    // --lp-secondary: var(--gold);
    // --lp-on-secondary: var(--byzantium);
    // --lp-accent-1: var(--dogwood-rose);
    // --lp-on-accent-1: var(--gold);
    // --lp-accent-2: var(--byzantium);
    // --lp-on-accent-2: var(--gold);

    // --lp-background: var(--timberwolf);
    // --lp-on-background: var(--byzantium);
    // --lp-primary: var(--byzantium);
    // --lp-on-primary: var(--gold);
    // --lp-secondary: var(--dogwood-rose);
    // --lp-on-secondary: var(--gold);
    // --lp-accent-1: var(--space-cadet);
    // --lp-on-accent-1: var(--gold);
    // --lp-accent-2: var(--space-cadet);
    // --lp-on-accent-2: var(--gold);

    --marian-blue: #3d3b8eff;
    --glaucous: #6883baff;
    --seasalt: #f9f9f9ff;
    --thulian-pink: #e072a4ff;
    --celadon: #b0e298ff;

    // --lp-background: var(--seasalt);
    // --lp-on-background: var(--marian-blue);
    // --lp-primary: var(--marian-blue);
    // --lp-on-primary: var(--seasalt);
    // --lp-secondary: var(--thulian-pink);
    // --lp-on-secondary: var(--marian-blue);
    // --lp-accent-1: var(--celadon);
    // --lp-on-accent-1: var(--marian-blue);
    // --lp-accent-2: var(--glaucous);
    // --lp-on-accent-2: var(--seasalt);

    --rose-quartz: #aba9bfff;
    --periwinkle: #beb7dfff;
    --nyanza: #d4f2d2ff;
    --russian-violet: #34113fff;
    --battleship-gray: #868784ff;

    // --lp-background: var(--nyanza);
    // --lp-on-background: var(--marian-blue);
    // --lp-primary: var(--marian-blue);
    // --lp-on-primary: var(--nyanza);
    // --lp-secondary: var(--rose-quartz);
    // --lp-on-secondary: var(--russian-violet);
    // --lp-accent-1: var(--russian-violet);
    // --lp-on-accent-1: var(--nyanza);
    // --lp-accent-2: var(--russian-violet);
    // --lp-on-accent-2: var(--nyanza);

    --saffron: #e3b505ff;
    --penn-red: #95190cff;
    --tyrian-purple: #610345ff;
    --teal: #107e7dff;
    --indigo-dye: #044b7fff;

    // --lp-background: var(--saffron);
    // --lp-on-background: var(--indigo-dye);
    // --lp-primary: var(--penn-red);
    // --lp-on-primary: var(--saffron);
    // --lp-secondary: var(--teal);
    // --lp-on-secondary: var(--tyrian-purple);
    // --lp-accent-1: var(--indigo-dye);
    // --lp-on-accent-1: var(--saffron);
    // --lp-accent-2: var(--tyrian-purple);
    // --lp-on-accent-2: var(--saffron);

    --tyrian-purple: #5f0f40ff;
    --carmine: #9a031eff;
    --ut-orange: #fb8b24ff;
    --spanish-orange: #e36414ff;
    --midnight-green: #0f4c5cff;

    // --lp-background: var(--seasalt);
    // --lp-on-background: var(--tyrian-purple);
    // --lp-primary: var(--tyrian-purple);
    // --lp-on-primary: var(--seasalt);
    // --lp-secondary: var(--midnight-green);
    // --lp-on-secondary: var(--ut-orange);
    // --lp-accent-1: var(--carmine);
    // --lp-on-accent-1: var(--seasalt);
    // --lp-accent-2: var(--ut-orange);
    // --lp-on-accent-2: var(--midnight-green);

    --cerulean: #086788ff;
    --blue-green: #07a0c3ff;
    --jonquil: #f0c808ff;
    --papaya-whip: #fff1d0ff;
    --rojo: #dd1c1aff;

    // --lp-background: var(--papaya-whip);
    // --lp-on-background: var(--cerulean);
    // --lp-primary: var(--blue-green);
    // --lp-on-primary: var(--papaya-whip);
    // --lp-secondary: var(--jonquil);
    // --lp-on-secondary: var(--cerulean);
    // --lp-accent-1: var(--rojo);
    // --lp-on-accent-1: var(--papaya-whip);
    // --lp-accent-2: var(--cerulean);
    // --lp-on-accent-2: var(--jonquil);

    ///////////////// COLOR SCHEMES FOR DARK MODE ///////////////////////////
    
    --turquoise: #41ead4ff;    // one
    --red-violet: #b91372ff;   // two
    --baby-powder: #fdfffcff;  // three
    --rich-black: #011627ff;   // four
    --red-cmyk: #ff0022ff;     // five
    
    // --lp-background: var(--global-white-1);
    // --lp-on-background: var(--rich-black);
    // --lp-primary: var(--turquoise);
    // --lp-on-primary: var(--rich-black);
    // --lp-secondary: var(--red-violet);
    // --lp-on-secondary: var(--global-white-1);
    // --lp-accent-1: var(--baby-powder);
    // --lp-on-accent-1: var(--rich-black);
    // --lp-accent-2: var(--rich-black);
    // --lp-on-accent-2: var(--global-white-1);

    // --lp-dark-background: var(--global-grey-2);
    // // --lp-dark-background: var(--rich-black);     // rich black is too dark for a background
    // --lp-dark-on-background: var(--baby-powder);
    // --lp-dark-primary: var(--turquoise);
    // --lp-dark-on-primary: var(--rich-black);
    // --lp-dark-secondary: var(--red-violet);
    // --lp-dark-on-secondary: var(--aureolin);
    // --lp-dark-accent-1: var(--raspberry);
    // --lp-dark-on-accent-1: var(--baby-powder);
    // --lp-dark-accent-2: var(--aureolin);
    // --lp-dark-on-accent-2: var(--red-violet);

    // --lp-dark-background: var(--rich-black);     // rich black is too dark for a background
    --lp-dark-background: var(--global-grey-2);
    --lp-dark-on-background: var(--baby-powder);
    --lp-dark-primary: var(--turquoise);
    --lp-dark-on-primary: var(--rich-black);
    --lp-dark-secondary: var(--red-violet);
    --lp-dark-on-secondary: var(--aureolin);
    --lp-dark-accent-1: var(--turquoise);
    --lp-dark-on-accent-1: var(--rich-black);
    --lp-dark-accent-2: var(--aureolin);
    --lp-dark-on-accent-2: var(--red-violet);

    // glowing colors
    --raspberry: #dd1155ff;
    --folly: #FF1654;
    --brilliant-rose: #f15bb5ff;
    --mint: #00cc99ff;
    --emerald: #35CE8D;
    --aquamarine: #00f5d4ff;
    --amaranth-purple: #aa1155ff;
    --purpureus: #AF42AE;
    --mauveine: #802392;
    --purple-pizazz: #F65BE3;
    --amethyst: #9b5de5ff;
    --medium-slate-blue: #7161EF;
    --deep-sky-blue: #00bbf9ff;
    --maize: #fee440ff;
    --aureolin: #F7E733;

    // for dark mode scroll container background
    --full-black: #000;

    // uses colors from all sets above
    // --lp-dark-background: var(--global-grey-2);
    // --lp-dark-on-background: var(--jonquil);
    // --lp-dark-primary: var(--amaranth-purple);
    // --lp-dark-on-primary: var(--global-grey-2);
    // --lp-dark-secondary: var(--emerald);
    // --lp-dark-on-secondary: var(--aureolin);
    // --lp-dark-accent-1: var(--deep-sky-blue);
    // --lp-dark-on-accent-1: var(--maize);
    // --lp-dark-accent-2: var(--aureolin);
    // --lp-dark-on-accent-2: var(--emerald);

   
    // --lp-background: var(--);        // lightest color
    // --lp-on-background: var(--);     // darkest color
    // --lp-primary: var(--);           // darkest color
    // --lp-on-primary: var(--);        // lightest color
    // --lp-secondary: var(--);         // brightest color
    // --lp-on-secondary: var(--);      // pick
    // --lp-accent-1: var(--);          // remaining color
    // --lp-on-accent-1: var(--);       // pick
    // --lp-accent-2: var(--);          // set to on-secondary
    // --lp-on-accent-2: var(--);       // set to secondary
  
    // --lp-dark-background: var(--);
    // --lp-dark-on-background: var(--);
    // --lp-dark-primary: var(--);
    // --lp-dark-on-primary: var(--);
    // --lp-dark-secondary: var(--);
    // --lp-dark-on-secondary: var(--);
    // --lp-dark-accent-1: var(--);
    // --lp-dark-on-accent-1: var(--);
    // --lp-dark-accent-2: var(--);
    // --lp-dark-on-accent-2: var(--);
   
}

.landing-page-light-theme {


    // Nav bar
    --landing-page-nav-background-color: var(--lp-primary);
    --landing-page-nav-text-color: var(--lp-on-primary);

    --hamburger-menu-icon-color: var(--lp-on-primary);

    --topnav-menu-item-color: var(--lp-background);
    --topnav-menu-item-text-color: var(--lp-on-background);
    --topnav-menu-item-active-color: var(--lp-secondary);
    --topnav-menu-item-text-active-color: var(--lp-on-secondary);
    --topnav-menu-item-hover-color: var(--lp-accent-2);
    --topnav-menu-item-text-hover-color: var(--lp-on-accent-2);

    --lp-three-way-toggle-border-color: var(--lp-accent-1);
    --lp-three-way-toggle-trough-color: var(--lp-primary);
    --lp-three-way-toggle-icon-color: var(--lp-accent-1);
    --lp-three-way-toggle-icon-active-color: var(--lp-on-accent-1);

    --social-icon-backing-circle-color: var(--landing-page-nav-text-color);
    
    // main page
    --landing-page-background-color: var(--lp-background);

    --landing-page-header-text-color: var(--lp-on-background);
    --landing-page-header-name-text-color: var(--lp-primary);
    --landing-page-body-text-color: var(--lp-on-background);
    
    --landing-page-button-background-color: var(--lp-primary);
    --landing-page-button-text-color: var(--lp-on-primary);
    --landing-page-button-hover-background-color: var(--lp-secondary);
    --landing-page-button-hover-text-color: var(--lp-on-secondary);
    
    --landing-page-heavy-border-color: var(--lp-background);
    --landing-page-heavy-border-hover-color: var(--lp-primary);

    --scroll-container-background-color: var(--lp-background);

    --section-header-text-color: var(--lp-on-background);
    --section-button-background-color: var(--lp-on-background);
    --section-button-text-color: var(--lp-on-primary);

    --skill-card-background-color: var(--lp-primary);
    --skill-card-title-color: var(--lp-on-primary);

    // --project-card-background-color: var(--lp-accent-2);
    --project-card-background-color: var(--lp-secondary);
    --project-card-overlay-background-color: var(--lp-accent-1);
    --project-card-overlay-header-text-color: var(--lp-on-accent-1);
    --project-card-overlay-description-text-color: var(--lp-on-accent-1);
    --project-card-overlay-button-background-color: var(--lp-secondary);
    --project-card-overlay-button-text-color: var(--lp-on-secondary);

    --experience-section-subheader-text-color: var(--lp-on-background);
    --experience-section-body-text-color: var(--lp-on-background);
    
    --contact-section-subheader-text-color: var(--lp-on-background);
    --contact-section-body-text-color: var(--lp-on-background);
    --contact-section-form-outline-color: var(--lp-primary);
    --contact-section-form-placeholder-background-color: var(--lp-background);
    --contact-section-form-placeholder-text-color: var(--lp-on-background);
    --contact-section-form-icon-color: var(--lp-primary);

    --contact-section-send-message-button-background-color: var(--lp-primary);
    --contact-section-send-message-button-text-color: var(--lp-on-primary);

    --scroll-to-top-button-background-color: var(--lp-primary);
    --scroll-to-top-button-text-color: var(--lp-on-primary);
    --scroll-to-top-button-hover-background-color: var(--lp-secondary);
    --scroll-to-top-button-hover-text-color: var(--lp-on-secondary);
    

    --footer-background-color: var(--lp-primary);
    --footer-text-color: var(--lp-on-primary);


    
    
}

.landing-page-dark-theme {

    // Nav bar
    --landing-page-nav-background-color: var(--lp-dark-primary);
    --landing-page-nav-text-color: var(--lp-dark-on-primary);
    
    --hamburger-menu-icon-color: var(--lp-dark-on-primary);

    --topnav-menu-item-color: var(--lp-dark-background);
    --topnav-menu-item-text-color: var(--lp-dark-on-background);
    --topnav-menu-item-active-color: var(--lp-dark-secondary);
    --topnav-menu-item-text-active-color: var(--lp-dark-on-secondary);
    --topnav-menu-item-hover-color: var(--lp-dark-accent-2);
    --topnav-menu-item-text-hover-color: var(--lp-dark-on-accent-2);

    --lp-three-way-toggle-border-color: var(--lp-dark-on-accent-2);
    --lp-three-way-toggle-trough-color: var(--lp-dark-primary);
    --lp-three-way-toggle-icon-color: var(--lp-dark-accent-1);
    --lp-three-way-toggle-icon-active-color: var(--lp-dark-on-accent-1);

    --social-icon-backing-circle-color: var(--landing-page-nav-background-color);

    // main page
    --landing-page-background-color: var(--lp-dark-background);

    --landing-page-header-text-color: var(--lp-dark-on-background);
    --landing-page-header-name-text-color: var(--lp-dark-primary);
    --landing-page-body-text-color: var(--lp-dark-on-background);

    --landing-page-button-background-color: var(--lp-dark-primary);
    --landing-page-button-text-color: var(--lp-dark-on-primary);
    --landing-page-button-hover-background-color: var(--lp-dark-secondary);
    --landing-page-button-hover-text-color: var(--lp-dark-on-secondary);
    
    --landing-page-heavy-border-color: var(--lp-dark-background);
    --landing-page-heavy-border-hover-color: var(--lp-dark-primary);

    --scroll-container-background-color: var(--full-black);

    // --section-header-text-color: var(--lp-dark-on-background);
    --section-header-text-color: var(--lp-dark-primary);
    --section-button-background-color: var(--lp-dark-primary);
    --section-button-text-color: var(--lp-dark-on-primary);

    --skill-card-background-color: var(--lp-dark-primary);
    --skill-card-title-color: var(--lp-dark-on-primary);
    
    // --project-card-background-color: var(--lp-dark-primary);
    // --project-card-background-color: var(--lp-dark-accent-2);
    --project-card-background-color: var(--lp-dark-secondary);
    --project-card-overlay-background-color: var(--lp-dark-accent-1);
    --project-card-overlay-header-text-color: var(--lp-dark-on-accent-1);
    --project-card-overlay-description-text-color: var(--lp-dark-on-accent-1);
    --project-card-overlay-button-background-color: var(--lp-dark-secondary);
    --project-card-overlay-button-text-color: var(--lp-dark-on-secondary);

    --experience-section-subheader-text-color: var(--lp-dark-on-background);
    --experience-section-body-text-color: var(--lp-dark-on-background);
    
    --contact-section-subheader-text-color: var(--lp-dark-on-background);
    --contact-section-body-text-color: var(--lp-dark-on-background);
    --contact-section-form-outline-color: var(--lp-dark-primary);
    --contact-section-form-placeholder-background-color: var(--lp-dark-background);
    --contact-section-form-placeholder-text-color: var(--lp-dark-on-background);
    --contact-section-form-icon-color: var(--lp-dark-primary);
    --contact-section-send-message-button-background-color: var(--lp-dark-primary);
    --contact-section-send-message-button-text-color: var(--lp-dark-on-primary);

    --scroll-to-top-button-background-color: var(--lp-dark-primary);
    --scroll-to-top-button-text-color: var(--lp-dark-on-primary);
    --scroll-to-top-button-hover-background-color: var(--lp-dark-secondary);
    --scroll-to-top-button-hover-text-color: var(--lp-dark-on-secondary);

    --footer-background-color: var(--lp-dark-primary);
    --footer-text-color: var(--lp-dark-on-primary);

}

// for skill card
@mixin textSkillCardHeader {
    @include global.textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-l), $line-height: globalVar.globalLineHeight(heading-l));    
    font-family: var(--global-font-nunito);
}

// for contact form
@mixin placeholderText {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 12px 10px 12px 60px;
    pointer-events: none;
    transition: 0.5s;

    @include global.response(xs) {
        font-size: globalVar.globalFontSize(body-m);
    }
}

@mixin placeholderFocusStyles {
    position: absolute;
    left: 40px;
    top: -10px;
    background-color: #223243;
    border: 1px solid #00dfc4;
    border-radius: 10px;
    color: #00dfc4;
    font-size: 0.8em;
    letter-spacing: 0.1px;
    padding: 0 8px;
}


// from css tricks spiffyButtonStyles mixin
@mixin contactSpiffyButtonStyles {
    @include global.flexboxLayout(row, center, center);
    @include contactBoxShadowRaisedUpperLeftLowerRight;
    @include global.textButtonMain;
    @include global.globalColors(var(--landing-page-button-background-color), var(--landing-page-button-text-color));
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    
    &:hover {
        @include global.globalColors(var(--landing-page-button-hover-background-color), var(--landing-page-button-hover-text-color));

    }

    @include global.response(lg-xl) {
        font-size: globalVar.globalFontSize(heading-s-m);
        letter-spacing: 2px;
    }

    @include global.response(md-lg) {
        // font-size: globalVar.globalFontSize(heading-s-m);
        letter-spacing: 0;
    }

    @include global.response(md) {
        font-size: globalVar.globalFontSize(heading-m);
        letter-spacing: 2px;
    }
    
    @include global.response(sm) {
        letter-spacing: 4px;
    }
    
    @include global.response(xxs) {
        font-size: globalVar.globalFontSize(heading-s-m);
        letter-spacing: 1px;
    }

}

@mixin contactBoxShadowRaisedUpperLeftLowerRight {
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0,0,0, 0.35),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                inset 5px 5px 15px rgba(0,0,0, 0.35);
}

@mixin contactBorderSolid($size: 8px, $color: black) {
    border: $size solid $color;
}

//////////////////////////// HEXAGONS //////////////////////////

@mixin hexContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    // container
	// min-height: calc(100vh - 145px);    // 145 = nav height + tab bar height
    background-color: #000;
    position: relative;
    overflow: hidden;
    z-index: 3;
    
    .row {
        display: inline-flex;


        margin-top: -32px;
        margin-left: -50px;

        // margin-top: -19px;
        // margin-left: -25px;

        &:first-of-type {
            margin-top: -55px;
        }

        &:nth-child(even) {
            margin-left: 1px;
        }

        .hexagon-outlined {
            @include hexagonOutlined;
            @include hoverColor;
            @include animation4SLinearInfinite;

        }
    }
    
}

@mixin animation4SLinearInfinite {
    animation: animate 4s linear infinite;      // infinite makes it continuous

    // rotates through the color hues to make hex color change in 4s cycles
    @keyframes animate {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }
}

@mixin hexagonSolid {
    background-color: #111;
    position: relative;
    margin: 1px;

    height: 110px;
    width: 100px;

    // height: 55px;
    // width: 50px;


    // flat side top/bottom - this doesn't look evenly distrib'd.  taller than wide
    // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    // flat side left/right - looks height width ~equal
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    transition: 2s;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.02);
        z-index: 10;
    }
}

@mixin hexagonOutlined {
    @include hexagonSolid;
    
    margin: 2px;
    
    // margin: 1px;

    // This puts a mask on the solid hexagon so it looks outlined
    &:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        background: #111;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        z-index: 1;
    }

}

@mixin halfHexagonTopOutlined {
    background-color: #111;
    position: relative;
    margin: 2px;

    // height: 110px;
    // width: 100px;

    height: 55px;
    width: 100px;
    clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
    
    // height: 110px;
    // width: 100px;
    // clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);

    transition: 2s;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.02);
        z-index: 10;
    }

    // This puts a mask on the solid hexagon so it looks outlined
    &:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 0;
        left: 4px;
        right: 4px;
        background: #111;
        clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
        z-index: 1;
    }
}

@mixin hoverColor($color: #0f0) {
    &:hover {
        transition: 0s;
        background-color: $color;
    }
}

///////////////////////////////////////////////////////////////

// $color lookup var

// color function

// use global vars for font sizes and line heights

// landing page material palette and theme vars

////////////////////////////////////////

// ORIGINAL COLOR SCHEME - DO NOT DELETE

// --turquoise: #41ead4ff;    // one
// --red-violet: #b91372ff;   // two
// --baby-powder: #fdfffcff;  // three
// --rich-black: #011627ff;   // four
// --red-cmyk: #ff0022ff;     // five

// --lp-background: var(--global-white-1);
// --lp-on-background: var(--rich-black);
// --lp-primary: var(--turquoise);
// --lp-on-primary: var(--rich-black);
// --lp-secondary: var(--red-violet);
// --lp-on-secondary: var(--global-white-1);
// --lp-accent-1: var(--baby-powder);
// --lp-on-accent-1: var(--rich-black);
// --lp-accent-2: var(--rich-black);
// --lp-on-accent-2: var(--global-white-1);

// --lp-dark-background: var(--global-grey-2);
// // --lp-dark-background: var(--rich-black);     // rich black is too dark for a background
// --lp-dark-on-background: var(--global-white-1);
// --lp-dark-primary: var(--turquoise);
// --lp-dark-on-primary: var(--rich-black);
// --lp-dark-secondary: var(--red-violet);
// --lp-dark-on-secondary: var(--baby-powder);
// --lp-dark-accent-1: var(--baby-powder);
// --lp-dark-on-accent-1: var(--rich-black);
// --lp-dark-accent-2: var(--global-white-1);
// --lp-dark-on-accent-2: var(--rich-black);

//////////////////////////////////////////////////

// COLOR SCHEMES FROM COOLORS
/* CSS HEX */
// --snow: #fbf5f3ff;
// --fulvous: #e28413ff;
// --oxford-blue: #000022ff;
// --rusty-red: #de3c4bff;
// --cardinal: #c42847ff;

/* CSS HEX */
// --uranian-blue: #bce7fdff;
// --lilac: #c492b1ff;
// --raspberry-rose: #af3b6eff;
// --charcoal: #424651ff;
// --spring-green: #21fa90ff;

// COLOR SCHEMES
//      --yinmn-blue: #2e5077;
//     --orange-peel: #ffa630;
//     --moonstone: #4da1a9;
//     --tea-green: #d7e8ba;
//     --tyrian-purple: #611c35;

//     --lp-background: var(--tea-green);
//     --lp-on-background: var(--yinmn-blue);
    
//     --lp-primary: var(--yinmn-blue);
//     --lp-on-primary: var(--tea-green);
    
//     --lp-secondary: var(--orange-peel);
//     --lp-on-secondary: var(--tyrian-purple);
    
//     --lp-accent-1: var(--moonstone);
//     --lp-on-accent-1: var(--tea-green);
    
//     --lp-accent-2: var(--tyrian-purple);
//     --lp-on-accent-2: var(--yinmn-blue);
    
//     --lp-warn: var(--red-pantone);
//     --lp-on-warn: var(--global-white-1);
    
//     --lp-dark-background: var(--yinmn-blue);
//     --lp-dark-on-background: var(--tea-green);

//     --lp-dark-primary: var(--orange-peel);
//     --lp-dark-on-primary: var(--tyrian-purple);
    
//     --lp-dark-secondary: var(--moonstone);
//     --lp-dark-on-secondary: var(--tea-green);
    
//     --lp-dark-accent-1: var(--tyrian-purple);
//     --lp-dark-accent-2: var(--tea-green);
    
//     --lp-dark-on-accent-1: var(--tea-green);
//     --lp-dark-on-accent-2: var(--yinmn-blue);


// --uranian-blue: #bce7fdff;
//     --lilac: #c492b1ff;
//     --raspberry-rose: #af3b6eff;
//     --charcoal: #424651ff;
//     --spring-green: #21fa90ff;

//     --lp-background: var(--uranian-blue);
//     --lp-on-background: var(--charcoal);
//     --lp-primary: var(--raspberry-rose);
//     --lp-on-primary: var(--uranian-blue);
//     --lp-secondary: var(--spring-green);
//     --lp-on-secondary: var(--charcoal);
//     --lp-accent-1: var(--lilac);
//     --lp-on-accent-1: var(--charcoal);
//     --lp-accent-2: var(--spring-green);
//     --lp-on-accent-2: var(--charcoal);
    
//     --lp-dark-background: var(--charcoal);
//     --lp-dark-on-background: var(--uranian-blue);
//     --lp-dark-primary: var(--spring-green);
//     --lp-dark-on-primary: var(--raspberry-rose);
//     --lp-dark-secondary: var(--raspberry-rose);
//     --lp-dark-on-secondary: var(--charcoal);
//     --lp-dark-accent-1: var(--lilac);
//     --lp-dark-on-accent-1: var(--charcoal);
//     --lp-dark-accent-2: var(--lilac);
//     --lp-dark-on-accent-2: var(--charcoal);


// --lp-five: var(--red-pantone);
    
    // --lp-one: var(--space-cadet);
    // --lp-one: var(--giants-orange);
    // --lp-one: var(--persian-green);
    // --lp-one: var(--mindaro);

    // --lp-two: var(--space-cadet);
    // --lp-two: var(--giants-orange);
    // --lp-two: var(--persian-green);
    // --lp-two: var(--mindaro);
    
    // --lp-three: var(--space-cadet);
    // --lp-three: var(--giants-orange);
    // --lp-three: var(--persian-green);
    // --lp-three: var(--mindaro);
    
    // --lp-four: var(--space-cadet);
    // --lp-four: var(--giants-orange);
    // --lp-four: var(--persian-green);
    // --lp-four: var(--mindaro);
    
    
    
    // --lp-primary: var(--lp-one);
    // --lp-secondary: var(--lp-two);
    // --lp-accent-1: var(--lp-three);
    // --lp-accent-2: var(--lp-four);
    // --lp-warn: var(--lp-five);
    // --lp-on-primary: var(--lp-four);
    // --lp-on-secondary: var(--global-white-1);
    // --lp-on-accent-1: var(--lp-four);
    // --lp-on-accent-2: var(--global-white-1);
    // --lp-on-warn: var(--global-white-1);


    // --lp-background: var(--);
    // --lp-on-background: var(--);
    // --lp-primary: var(--);
    // --lp-on-primary: var(--);
    // --lp-secondary: var(--);
    // --lp-on-secondary: var(--);
    // --lp-accent-1: var(--);
    // --lp-on-accent-1: var(--);
    // --lp-accent-2: var(--);
    // --lp-on-accent-2: var(--);
  
    // --lp-dark-background: var(--);
    // --lp-dark-on-background: var(--);
    // --lp-dark-primary: var(--);
    // --lp-dark-on-primary: var(--);
    // --lp-dark-secondary: var(--);
    // --lp-dark-on-secondary: var(--);
    // --lp-dark-accent-1: var(--);
    // --lp-dark-on-accent-1: var(--);
    // --lp-dark-accent-2: var(--);
    // --lp-dark-on-accent-2: var(--);
    