<div class="landing-page-container">
    
    <button class="scroll-to-top-button"
        (click)="scrollToTarget(LpScrollTargetId.SCROLL_TARGET)"
    >
        <mat-icon>keyboard_double_arrow_up</mat-icon>
    </button>

    <nav class="landing-page-nav">

        <div class="title-container">

            <button mat-icon-button
                    class="dropdown-icon-button"
                    color="primary"
                    [matMenuTriggerFor]="globalTopnavMenu"
                    (menuOpened)="handleTopnavMenuOpen()"
            >
                <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #globalTopnavMenu="matMenu"
                      [class]="globalTopnavMenuCssClass"
                      (menuOpened)="handleTopnavMenuOpen()"
            >

                <ng-container *ngFor="let button of APP_SIDENAV_BUTTONS">
                    <button type="button"
                            mat-menu-item
                            routerLink="/{{button.url}}"
                            routerLinkActive="topnav-active"
                            class="nav-button"
                    >
                        {{button.text}}
                    </button>

                </ng-container>
                
            </mat-menu>
            
            <p class="header-text">{{ROBERT_RINEHART_TEXT | uppercase}}</p>

        </div>

        <div class="nav-buttons-container">

            <app-three-way-toggle [viewMode]="viewModeBS.value"
                                  (mode)="handleUpdateViewMode($event)"
            >
            </app-three-way-toggle>

            <app-social-icon-links></app-social-icon-links>
            
        </div>
        
    </nav>

    <div class="scroll-container" #scrollContainer>

        <div class="scroll-target" id="{{LpScrollTargetId.SCROLL_TARGET}}"></div>

        <div class="animations-container-top" *ngIf="viewModeBS.value === 'css-tricks'">
        
            <div class="rows-container">
                
                <div class="row" *ngFor="let row of rows$ | async">
                        
                    <div class="hexagon-outlined" *ngFor="let hex of items$ | async"></div>
    
                </div>

            </div>

            <div class="half-row">
                        
                <div class="hexagon-half" *ngFor="let hex of items$ | async"></div>

            </div>

        </div>

        <main class="main-container"  id="{{LpScrollTargetId.WELCOME}}"  #mainContainer>

            <section class="welcome-container">

                <div class="welcome-header">

                    <app-name-intro></app-name-intro>

                </div>

                <div class="welcome-top">

                    <div class="welcome welcome-left">
                        
                        <app-name-intro></app-name-intro>
        
                        <p class="welcome-description-text">{{WELCOME_TEXT}}</p>
                    
                    </div>
        
                    <div class="welcome welcome-right">
        
                        <div class="welcome-image">

                            <img src="../../../assets/bob-rinehart-profile-photo.jpg" alt="">
        
                        </div>
        
                    </div>

                </div>

                <div class="welcome-bottom">

                    <button *ngFor="let button of WELCOME_BUTTONS"
                            class="main-button"
                            (click)="scrollToTarget(button.fragment ?? '')"
                    >
                        {{button.text}}
                    </button>

                    <button class="main-button"
                            (click)="handleDownloadResume()"
                    >
                        {{RESUME_TEXT}}
                    </button>

                </div>

            </section>

            <section class="skills" id="{{LpScrollTargetId.SKILLS}}" #skills>
                
                <p class="section-header">
                    {{LandingPageSection.SKILLS | uppercase}}
                </p>
                
                <div class="skills-container">

                    <ng-container *ngIf="RINEBOB_SKILLS as skills">

                        <ng-container *ngFor="let skill of skills">
                            
                            <app-skill-card [skill]="skill"></app-skill-card>

                        </ng-container>

                    </ng-container>
                    
                </div>

            </section>

            <section class="projects" id="{{LpScrollTargetId.PROJECTS}}" #projects>

                <p class="section-header">
                    {{LandingPageSection.PROJECTS | uppercase}}
                </p>

                <div class="projects-container">

                    <ng-container *ngIf="RINEBOB_PROJECTS as projects">

                        <ng-container *ngFor="let project of projects">
                            
                            <app-project-card [project]="project">
                            </app-project-card>

                        </ng-container>
                        

                    </ng-container>
                    
                </div>

            </section>

            <section class="experience" id="{{LpScrollTargetId.EXPERIENCE}}" #experience>

                <p class="section-header">
                    {{LandingPageSection.EXPERIENCE | uppercase}}
                </p>

                <ng-container *ngIf="RINEBOB_EXPERIENCE as experiences">

                    <ng-container *ngFor="let experience of experiences">
                        
                        <app-experience-card [experience]="experience">
                        </app-experience-card>

                    </ng-container>

                </ng-container>

            </section>

            <section class="contact-container" id="{{LpScrollTargetId.CONTACT}}" #contact>

                <p class="section-header">
                    {{LandingPageSection.CONTACT | uppercase}}
                </p>

                <div class="contact">
                    
                    <div class="contact-left">

                            <p class="subtitle-text">
                                {{CONTACT_SUBTITLE_TEXT}}
                            </p>
                            
                            <p class="description-text contact-description">
                                {{CONTACT_MESSAGE_TEXT}}
                            </p>

                            
                        </div>
                        
                        <div class="contact-right">
                            
                            <app-contact-form (contact)="handleContactSubmission($event)"></app-contact-form>
                            
                            <p class="description-text form-not-ready-text">Wait!  Sorry the form isn't hooked up yet.  You can still reach me at bob at robert rinehart dot com or through <a class="linked-in-link" [href]="RinebobUrl.LINKED_IN" target="_blank" rel="noopener">LinkedIn</a> though.</p>
                        
                    </div>

                </div>

            </section>

        </main>

    </div>

    <footer class="footer-container">
            
        <p class="header-text footer-title">{{ROBERT_RINEHART_TEXT | uppercase}}</p>
        <div class="footer-buttons-container">

            <app-social-icon-links></app-social-icon-links>
            
        </div>

    </footer>
</div>