@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use './landing-page-variables' as landingPageVar;
@import "styles.scss";

:host {
    @include global.flexboxLayout(column, flex-start, flex-start);
    
    .landing-page-container {
        overflow-x: hidden;
        position: relative;
        width: 100%;

        .scroll-to-top-button {
            @include global.flexboxLayout(row, center, center);
            @include global.globalOpenSidenavButtonStyles;
            @include global.globalColors($background-color: var(--global-grey-5), $color: var(--global-white-1));
            border-radius: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 93%;
            top: 89%;
            width: 56px;
            z-index: 10;

            &:hover {
                @include global.globalColors($background-color: var(--global-grey-2), $color: var(--global-white-1));
            }

            @include global.response(xl) {
                left: 92%;
            }

            @include global.response(lg) {
                left: 90%;
            }

            @include global.response(md) {
                left: 88%;
            }

            @include global.response(sm-md) {
                height: 36px;
                width: 36px;
            }
            
            @include global.response(xs) {
                left: 82%;
            }
        }
            
        .landing-page-nav {
            @include global.flexboxLayout(row, space-between, center);
            background-color: var(--landing-page-nav-background-color);
            
            min-height: 50px;
            width: 100%;
            

            .title-container {
                @include global.flexboxLayout(row, flex-start, center);
                
                .dropdown-icon-button {
                    color: var(--hamburger-menu-icon-color);

                    @include global.response(lg) {
                        display: block;
                    }
                }
                
                h1 {
                    margin: 0 0 0 16px;
                }
            }

            .nav-buttons-container {
                @include global.flexboxLayout(row, flex-end, center);

                app-three-way-toggle {
                    margin: 0 40px;

                    @include global.response(sm) {
                        margin: 0 20px;
                    }

                    @include global.response(xxs) {
                        display: none;
                    }
                }

                app-social-icon-links {
                    margin-right: 20px;
                }
            }
        }

        .scroll-container {
            @include global.flexboxLayout(column, flex-start, center);
            align-self: stretch;
            background-color: var(--landing-page-background-color);
            height: calc(100vh - 50px);
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;

            .main-container {
                flex-grow: 1;
                max-width: 1200px;
                width: 100%;

                section {
                    @include landingPageVar.contactBorder8pxSolid(var(--landing-page-heavy-border-color));
                    @include landingPageVar.contactBoxShadowRaisedUpperLeftLowerRight;
                    border-radius: 20px;
                    margin: 20px;
                    padding: 20px;

                    .section-header {
                        @include global.textSectionHeader;
                        color: var(--section-header-text-color);
                        align-self: center;
                        margin-bottom: 20px;
                        text-align: center;

                        @include global.response(lg) {
                            @include global.textSizes($font-size: globalVar.globalFontSize(heading-l-xl), $line-height: globalVar.globalLineHeight(heading-l-xl));
                        }
                    }
                }
        
                .welcome-container {
                    @include global.flexboxLayout(column, center, center);
                    
                    .welcome-top {
                        @include global.flexboxLayout(row, center, center);
                    
                        @include global.response(sm-sm) {
                            @include global.flexboxLayout(column, flex-start, center);
                            flex-wrap: inherit;
                        }

                        .welcome {
                            @include global.border1;
                            height: 100%;
                            padding: 50px;
                            max-width: 45%;
                            flex-grow: 1;
                            
                            @include global.response(md) {
                                max-width: 100%;
                                padding: 20px;
                            }
                        }
        
                        .welcome-left {
                            @include global.flexboxLayout(column, flex-start, center);
                            margin-right: 20px;
                            align-self: stretch;
        
                            @include global.response(md) {
                                align-self: inherit;
                                margin: 0;
                                max-width: 100%;
                            }
        
                            .welcome-title-text {
                                @include global.textHeader;
                                color: var(--landing-page-header-text-color);
                                margin: 30px 0;
                                text-align: center;
        
                                @include global.response(md) {
                                    margin: 10px 0;
                                }
                            }
        
                            .welcome-description-text {
                                @include global.textDescription;
                                color: var(--landing-page-body-text-color);
                                margin-bottom: 50px;
                                text-align: center;
                                
                                @include global.response(md) {
                                    margin-bottom: 20px;
                                }
                            }
                                
                        }
                        .welcome-right {
                            @include global.flexboxLayout(row, center, center);
                            
                            .robert-image {
                                @include global.border1;
                                height: 200px;
                                width: 200px;
                            }
                        }
                    }

                    .welcome-bottom {
                        @include global.flexboxLayout(row, space-evenly, center);
                        flex-grow: 1;
                        margin-top: 20px;
                        width: 100%;

                        .main-button {
                            width: 20%;
                        }

                        @include global.response(md) {
                            flex-wrap: wrap;

                            button {
                                margin: 4px;
                                width: 45%;
                            }
                        }

                        @include global.response(sm) {
                            @include global.flexboxLayout(column, center, center);

                            button {
                                margin: 4px;
                                width: 80%;
                            }
                        }
                    }
                }

                .skills {
                    @include global.flexboxLayout(column, flex-start, center);
                    
                    .skills-container {
                        @include global.flexboxLayout(row, space-between, flex-start);
                        flex-wrap: wrap;

                        app-skill-card {
                            margin: 8px 0;
                            width: 25%;
                            
                            @include global.response(md) {
                                width: 33%;
                            }

                            @include global.response(sm) {
                                width: 50%;
                            }

                            @include global.response(xxs) {
                                width: 100%;
                            }
                        }
                    }
                }

                .projects {
                    @include global.flexboxLayout(column, flex-start, center);
                    
                    .projects-container {
                        @include global.flexboxLayout(row, flex-start, flex-start);
                        flex-wrap: wrap;
                        width: 100%;

                        app-project-card {
                            width: 50%;

                            @include global.response(sm-md) {
                                height: 200px;
                                width: 100%;
                            }
                        }
                    }
                }

                .experience {
                    @include global.flexboxLayout(column, flex-start, center);
                }
        
                .contact-container {
                    @include global.flexboxLayout(column, center, center);
                    
                    .contact {
                        @include global.flexboxLayout(row, space-around, center);
                        
                        @include global.response(sm) {
                            @include global.flexboxLayout(column, flex-start, center);

                        }
                        
                        .contact-left {
                            @include global.flexboxLayout(column, flex-start, center);
                            width: 45%;

                            @include global.response(sm) {
                                width: 100%;
                            }

                            .contact-description {
                                text-align: center;
                                margin-bottom: 30px;
                                padding: 20px;
                                
                                @include global.response(sm) {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        
                        .contact-right {
                            @include global.flexboxLayout(column, center, center);
                            width: 45%;
                        }
                    }
                }
            }

            .footer-container {
                @include global.flexboxLayout(row, space-between, center);
                align-self: stretch;
                background-color: var(--footer-background-color);
                padding: 10px 20px;
                
                .footer-buttons-container {
                    @include global.flexboxLayout(row, flex-end, center);
                }
            }
        }


        .header-text {
            @include global.textHeader;
            color: var(--landing-page-header-text-color);
            margin: 0;

            @include global.response(sm-md) {
                font-size: globalVar.globalFontSize(heading-l)
            }
        }

        .title-text {
            @include global.textTitle;
            color: var(--landing-page-header-text-color);
        }

        .subtitle-text {
            @include global.textSubtitle;
            color: var(--landing-page-header-text-color);
        }

        .accent-text {
            @include global.textAccent;
            color: var(--landing-page-header-text-color);
        }

        .description-text {
            @include global.textDescription;
            color: var(--landing-page-body-text-color);
        }
        
        .placeholder-text {
            @include global.textPlaceholder;
            color: var(--experience-section-form-placeholder-text-color);
        }
        
        .main-button {
            @include landingPageVar.contactSpiffyButtonStyles;
        }

        .small-button {
            @include global.textButtonSmall;
            background-color: var(--section-button-background-color);
            color: var(--section-button-text-color);
            margin: 0 6px;
            padding: 4px 12px;
        }

        .icon-button {
            background: none;
            color: var(--landing-page-primary);
            padding: 0;
            border: 0;
            cursor: pointer;
            
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
        
        .icon {
            width: 28px;
        }
    }   
}