@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use './landing-page-variables' as landingPageVar;
@import "../../../styles/styles.scss";

:host {
    @include global.flexboxLayout(column, flex-start, flex-start);
    transition: all 0.5s ease;
    background-color: var(--landing-page-background-color);
    
    .landing-page-container {
        overflow-x: hidden;
        position: relative;
        width: 100%;

        .scroll-to-top-button {
            @include global.flexboxLayout(row, center, center);
            @include global.globalOpenSidenavButtonStyles;
            @include global.globalColors($background-color: var(--scroll-to-top-button-background-color), $color: var(--scroll-to-top-button-text-color));
            border-radius: 100%;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 93%;
            top: 89%;
            width: 56px;
            z-index: 10;

            &:hover {
                @include global.globalColors($background-color: var(--scroll-to-top-button-hover-background-color), $color: var(--scroll-to-top-button-hover-text-color));
            }

            @include landingPageVar.response(lg) {
                left: 90%;
            }

            @include landingPageVar.response(md) {
                left: 85%;
                top: 85%;
                height: 38px;
                width: 38px;
            }
        }
            
        .landing-page-nav {
            @include global.flexboxLayout(row, space-between, center);
            background-color: var(--landing-page-nav-background-color);
            
            min-height: 50px;
            width: 100%;
            

            .title-container {
                @include global.flexboxLayout(row, flex-start, center);
                
                .dropdown-icon-button {
                    color: var(--hamburger-menu-icon-color);
                }
                
                h1 {
                    margin: 0 0 0 16px;
                }
            }

            .nav-buttons-container {
                @include global.flexboxLayout(row, flex-end, center);

                app-three-way-toggle {
                    margin: 0 40px;
                    
                    // applies style from parent to child component
                    --three-way-toggle-border-color: var(--lp-three-way-toggle-border-color);
                    --three-way-toggle-trough-color: var(--lp-three-way-toggle-trough-color);
                    --three-way-toggle-icon-active-color: var(--lp-three-way-toggle-icon-active-color);

                    @include landingPageVar.response(lg) {
                        margin: 0 20px;
                    }

                    @include landingPageVar.response(md) {
                        display: none;
                    }
                }

                app-social-icon-links {
                    margin-right: 20px;
                }
            }
        }

        .scroll-container {
            @include global.flexboxLayout(column, flex-start, center);
            align-self: stretch;
            height: calc(100vh - 100px);
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            
            .animations-container-top {
                @include global.flexboxLayout(column, flex-start, flex-start);
                width: 100%;
                height: fit-content;
                
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                .half-row {
                    display: inline-flex;
                    margin-top: -33px;
                    margin-left: -50px;
                    z-index: 4;

                    .hexagon-half {
                        @include landingPageVar.halfHexagonTopOutlined;
                        @include landingPageVar.hoverColor;
                        @include landingPageVar.animation4SLinearInfinite;
                    }
                }
                
                .rows-container {
                    @include landingPageVar.hexContainer;
                }
            }

            .animations-container-bottom {
                @include global.flexboxLayout(column, flex-end, flex-start);
                width: 100%;
                height: fit-content;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1;
                transform: translateY(-100%);
                
                .rows-container {
                    @include landingPageVar.hexContainer;
                }
            }

            .main-container {
                flex-grow: 1;
                width: var(--lp-lg-inner-width);

                @include landingPageVar.response(lg) {
                    width: var(--lp-md-inner-width);
                }

                @include landingPageVar.response(md) {
                    width: var(--lp-sm-inner-width);
                }
                
                section {
                    @include landingPageVar.contactBorderSolid(2px, var(--landing-page-heavy-border-color));
                    @include landingPageVar.contactBoxShadowRaisedUpperLeftLowerRight;
                    background-color: var(--landing-page-background-color);
                    border-radius: 20px;
                    margin: 40px 20px 0 20px;
                    padding: 20px;
                    position: relative;
                    z-index: 3;

                    &:last-of-type {
                        margin-bottom: 40px;
                    }

                    &:hover {
                        @include landingPageVar.contactBorderSolid(2px, var(--landing-page-heavy-border-hover-color));
                    }

                    .section-header {
                        @include global.textSectionHeader;
                        color: var(--section-header-text-color);
                        align-self: center;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                }
        
                .welcome-container {
                    @include global.flexboxLayout(column, center, center);

                    .welcome-pre-name-text {
                        @include global.textTitle;
                        color: var(--landing-page-header-text-color);
                        font-size: globalVar.globalFontSize(heading-l);
                        text-align: center;
                    }
                    
                    .welcome-name-text {
                        @include global.textName;
                        color: var(--landing-page-header-name-text-color);
                    }

                    .welcome-name-description {
                        @include global.textTitle;
                        color: var(--landing-page-header-text-color);
                        font-size: globalVar.globalFontSize(heading-m);
                        margin-top: 20px;
                        text-align: center;
                    }

                    .welcome-header {
                        
                        app-name-intro {
                            display: none;

                            @include landingPageVar.response(lg) {
                                display: block;
                            }
                        }
                            
                        .welcome-title-text {
                            @include global.textTitle;
                            color: var(--landing-page-header-text-color);
                            margin: 20px 0;
                            text-align: center;
                        }

                        .name-container {
                            @include global.flexboxLayout(row, flex-start, baseline);
                            margin-bottom: 30px;
                        }
                    }
                    
                    .welcome-top {
                        @include global.flexboxLayout(row, center, center);

                        @include landingPageVar.response(lg) {
                            @include global.flexboxLayout(column, flex-start, center);
                            flex-wrap: inherit;
                        }

                        .welcome {
                            height: 100%;
                            max-width: 45%;
                            flex-grow: 1;

                            @include landingPageVar.response(lg) {
                                max-width: 100%;
                            }
                        }

                        .welcome-left {
                            @include global.flexboxLayout(column, flex-start, center);
                            margin-right: 20px;
                            align-self: stretch;
                            
                            @include landingPageVar.response(lg) {
                                margin-right: 0;
                                order: 2;
                            }

                            app-name-intro {
                                @include landingPageVar.response(lg) {
                                    display: none;
                                }
                            }
        
                            .welcome-description-text {
                                @include global.welcomeTextDescription;
                                color: var(--landing-page-body-text-color);
                                line-height: 30px;
                                margin: 10px 0 20px;
                                text-align: center;
                                
                                @include landingPageVar.response(lg) {
                                    margin-bottom: 20px;
                                    padding: 0 50px;
                                }
                                
                                @include landingPageVar.response(md) {
                                    padding: 0 20px;
                                }
                            }
                                
                        }
                        .welcome-right {
                            @include global.flexboxLayout(row, center, center);
                            
                            @include landingPageVar.response(md) {
                                order: 1;
                            }
                            
                            .welcome-image {
                                margin: 10px 0;
                                img {
                                    border-radius: 8px;
                                    height: 300px;
                            
                                    @include landingPageVar.response(lg) {
                                        height: 250px;
                                    }
                                    
                                    @include landingPageVar.response(md) {
                                        height: 200px;
                                    }
                                }
                            }
                        }
                    }

                    .welcome-bottom {
                        @include global.flexboxLayout(row, space-evenly, center);
                        flex-grow: 1;
                        margin-top: 20px;
                        width: 100%;

                        .main-button {
                            width: 20%;
                        }

                        @include landingPageVar.response(lg) {
                            flex-wrap: wrap;

                            .main-button {
                                margin: 8px;
                                width: 45%;
                            }
                        }

                        @include landingPageVar.response(md) {
                            @include global.flexboxLayout(column, center, center);

                            .main-button {
                                width: 80%;
                            }
                        }
                    }
                }

                .skills {
                    @include global.flexboxLayout(column, flex-start, center);
                    
                    .skills-container {
                        @include global.flexboxLayout(row, space-between, flex-start);
                        flex-wrap: wrap;

                        app-skill-card {
                            margin: 8px 0;
                            width: 25%;

                            @include landingPageVar.response(lg) {
                                width: 50%;
                            }
            
                            @include landingPageVar.response(md) {
                                width: 100%;
                            }
                        }
                    }
                }

                .projects {
                    @include global.flexboxLayout(column, flex-start, center);
                    
                    .projects-container {
                        @include global.flexboxLayout(row, flex-start, flex-start);
                        flex-wrap: wrap;
                        width: 100%;
                    }
                }

                .experience {
                    @include global.flexboxLayout(column, flex-start, center);
                }
        
                .contact-container {
                    @include global.flexboxLayout(column, center, center);
                    
                    .contact {
                        @include global.flexboxLayout(row, space-around, center);
                        
                        @include landingPageVar.response(md) {
                            @include global.flexboxLayout(column, flex-start, center);
                        }

                        .contact-left {
                            @include global.flexboxLayout(column, flex-start, center);
                            width: 45%;

                            @include landingPageVar.response(md) {
                                width: 100%;
                            }

                            .contact-description {
                                @include global.welcomeTextDescription;
                                letter-spacing: 1px;
                                margin-bottom: 30px;
                                padding: 20px;
                                text-align: center;
                                
                                @include landingPageVar.response(md) {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        
                        .contact-right {
                            @include global.flexboxLayout(column, center, center);
                            position: relative;
                            width: 45%;

                            @include landingPageVar.response(md) {
                                width: 100%;
                            }

                            app-contact-form {
                                width: 80%;
                                margin-bottom: 20px;
                            }

                            .form-not-ready-text {
                                color: var(--lp-secondary);
                                font-size: 10px;
                                max-width: 300px;
                                text-align: center;
                                
                                .linked-in-link {
                                    text-decoration: none;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer-container {
            @include global.flexboxLayout(row, space-between, center);
            align-self: stretch;
            background-color: var(--footer-background-color);
            min-height: 50px;
            padding: 0 20px;
            z-index: 2;
            
            .footer-buttons-container {
                @include global.flexboxLayout(row, flex-end, center);
            }
        }


        .header-text {
            @include global.textSubtitle;
            color: var(--landing-page-nav-text-color);
            letter-spacing: 4px;
            margin: 0;

            @include landingPageVar.response(lg) {
                font-size: globalVar.globalFontSize(heading-l)
            }
            
            @include landingPageVar.response(md) {
                font-size: globalVar.globalFontSize(heading-m)
            }
        }

        .title-text {
            @include global.textTitle;
            color: var(--landing-page-header-text-color);
        }

        .subtitle-text {
            @include global.textSubtitle;
            color: var(--landing-page-header-text-color);
        }

        .accent-text {
            @include global.textAccent;
            color: var(--landing-page-header-text-color);
        }

        .description-text {
            @include global.textDescription;
            color: var(--landing-page-body-text-color);
        }
        
        .placeholder-text {
            @include global.textPlaceholder;
            color: var(--experience-section-form-placeholder-text-color);
        }
        
        .main-button {
            @include landingPageVar.contactSpiffyButtonStyles;
        }

        .small-button {
            @include global.textButtonSmall;
            background-color: var(--section-button-background-color);
            color: var(--section-button-text-color);
            margin: 0 6px;
            padding: 4px 12px;
        }

        .icon-button {
            background: none;
            color: var(--landing-page-primary);
            padding: 0;
            border: 0;
            cursor: pointer;
            
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
        
        .icon {
            width: 28px;
        }
    }   
}