

<div class="banner-container">

    <div class="banner-inner-container headphones-background">

        <div class="left">

            <p class="status-text">{{AppText.NEW_PRODUCT}}</p>

            <p class="headline">{{AppText.XX99_HEADPHONES}}</p>

            <p class="description">{{BANNER_TEXT}}</p>

            <a [routerLink]="['../products', AppText.XX99_HEADPHONES_SLUG]" type="button" class="see-product-button">
                {{AppText.SEE_PRODUCT}}
            </a>

        </div>

    </div>

</div>