@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.banner-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--nav-header-background-color);
    
    .banner-inner-container {
        @include global.flexboxLayout(row, space-between, center);
        background-image: url(../../../../../assets/audio/home/desktop/image-hero.jpg);
        background-size: cover;
        height: 100%;
        max-width: 1110px;
        width: 100%;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-position: bottom;

        @include audioMixin.response(lg) {
            background-image: none;
            max-width: var(--au-md-inner-width);
        }
        
        @include audioMixin.response(md) {
            max-width: var(--au-sm-inner-width);
        }

        .left {
            @include global.flexboxLayout(column, center, flex-start);
            // @include global.border1(white, 1px);
            height: 640px;
            width: 50%;
            z-index: 1;

            @include audioMixin.response(lg) {
                @include global.flexboxLayout(column, center, center);
                background-image: url(../../../../../assets/audio/home/tablet/image-header.jpg);
                background-origin: border-box;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;

            }

            .status-text {
                @include audioMixin.overlineText;
                color: var(--nav-header-text-color);
                margin-bottom: 24px;
                opacity: 50%;
            }
            
            .headline {
                @include audioMixin.header1Text;
                color: var(--nav-header-text-color);
                margin-bottom: 24px;
                
                @include audioMixin.response(lg) {
                    @include audioMixin.header3Text;
                    text-align: center;
                }
            }
            
            .description {
                @include audioMixin.bodyText;
                color: var(--au-on-background-color);
                opacity: 75%;
                max-width: 66%;
                margin-bottom: 40px;

                @include audioMixin.response(lg) {
                    max-width: var(--au-sm-inner-width);
                    text-align: center;
                }
            }
            
            .see-product-button {
                @include audioMixin.buttonStyles;
                @include audioMixin.audioColors;

                &:hover {
                    @include audioMixin.audioColors(var(--au-primary-hover), var(--au-on-primary-idle))
                }
            }
        }
    }
}