

<div class="banner-container">

    <div class="banner-inner-container headphones-background">

        <div class="left">

            <p class="status-text">new product</p>

            <p class="headline">xx 99 mark ii headphones</p>

            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque earum explicabo esse mollitia culpa consequatur atque commodi.</p>

            <button class="see-product-button">
                see product
            </button>

        </div>

    </div>

</div>