
<div class="footer-container">

    <div class="footer-inner-container">

        <div class="footer-top">

            <p class="logo-text">audiophile</p>

            <div class="nav-links-container">
    
                <a class="nav-link" *ngFor="let button of NavButtons">{{button.text}}</a>
        
            </div>

        </div>

        <div class="footer-bottom">

            <div class="left">

                <p class="description-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quae nisi numquam vero, inventore tempore quasi perferendis nobis, aut facere unde saepe ex corporis dolores suscipit veniam incidunt voluptate deleniti</p>

                <p class="description-text copyright">copyright 2023.  all rights reserved</p>

            </div>

            <div class="right">

                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-facebook.svg" alt="linked in logo button">
                </a>
                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-twitter.svg" alt="linked in logo button">
                </a>
                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-instagram.svg" alt="linked in logo button">
                </a>

            </div>
        </div>
    </div>
</div>