@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.footer-container {
    @include global.flexboxLayout(column, flex-start, center);
    background-color: var(--nav-header-background-color);

    .footer-inner-container {
        @include global.flexboxLayout(column, space-between, stretch);
        margin: 0 0 48px;
        max-width: 1110px;
        width: 100%;

        @include audioMixin.response(xl) {
            @include global.flexboxLayout(column, center, center);
            max-width: 768px;
            padding: 0 40px;
        }

        .accent-bar {
            background-color: var(--au-primary-idle);
            height: 4px;
            margin-bottom: 71px;
            width: 100px;
            
            @include audioMixin.response(xl) {
                align-self: flex-start;
                margin-bottom: 56px;
             
            }

        }
        
        .footer-top {
            @include global.flexboxLayout(row, space-between, center);
            margin-bottom: 36px;
            
            @include audioMixin.response(xl) {
                @include global.flexboxLayout(column, center, flex-start);
                margin-bottom: 32px;
                width: 100%;
            }

            .logo-text {
                @include audioMixin.logoText;
                color: var(--nav-header-text-color);
            }
            
        }
        
        .footer-bottom {
            @include global.flexboxLayout(row, space-between, center);
            position: relative;

            @include audioMixin.response(xl) {
                @include global.flexboxLayout(column, center, flex-start);
                width: 100%;
            }
            
            .left {
                @include global.flexboxLayout(column, space-between, flex-start);
                width: 50%;
                opacity: 50%;
    
                @include audioMixin.response(xl) {
                    @include global.flexboxLayout(column, center, flex-start);
                    width: 100%;
                }
    
                .description {
                    margin-bottom: 56px;
                    
                    @include audioMixin.response(xl) {
                        margin-bottom: 80px;
                        max-width: 689px;
                    }
                }
    
                .copyright {
                    text-transform: capitalize;
                }
            }
            
            .right {
                @include global.flexboxLayout(row, flex-end, center);

                @include audioMixin.response(xl) {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                 
                }
    
                .icon {
                    margin-right: 10px;
                }
                
            }
            
        }
        
    }

    .description-text {
        @include audioMixin.bodyText;
        color: var(--au-white);
    }

}