
<div class="footer-container">

    <div class="footer-inner-container">
        
        <div class="accent-bar"></div>

        <div class="footer-top">

            <p class="logo-text">{{AppText.LOGO_TEXT}}</p>
            
            <app-nav-links></app-nav-links>

        </div>

        <div class="footer-bottom">

            <div class="left">

                <p class="description-text description">{{FOOTER_TEXT}}</p>

                <p class="description-text copyright">{{FOOTER_COPYRIGHT}}</p>

            </div>

            <div class="right">

                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-facebook.svg" alt="linked in logo button">
                </a>
                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-twitter.svg" alt="linked in logo button">
                </a>
                <a class="icon-button" target="_blank" rel="noopener">
                    <img class="icon" src="../../../../../assets/audio/shared/desktop/icon-instagram.svg" alt="linked in logo button">
                </a>

            </div>
        </div>
    </div>
</div>