
<div class="footer-container">

    <div class="footer-inner-container">
        
        <div class="accent-bar"></div>

        <div class="footer-top">

            <p class="logo-text">{{AppText.LOGO_TEXT}}</p>
            
            <app-nav-links></app-nav-links>

        </div>

        <div class="footer-bottom">

            <div class="left">

                <p class="description-text description">{{FOOTER_TEXT}}</p>

                <p class="description-text copyright">{{FOOTER_COPYRIGHT}}</p>

            </div>

            <div class="right">

                
                <div class="icon-button facebook-icon" target="_blank" rel="noopener"></div>
                
                <div class="icon-button twitter-icon" target="_blank" rel="noopener"></div>
                
                <div class="icon-button instagram-icon" target="_blank" rel="noopener"></div>
                
            </div>

        </div>

    </div>
    
</div>