

<div class="shop-panel-container"
     [class.regular-height]="dialogMode === false"
>

    <div class="shop-panel-inner-container">

        <div class="categories-container">
            
            <div class="category-container" *ngFor="let category of CATEGORIES">
    
                <div class="image-container">
                    
                    <img src="{{category.image}}" class="img">
    
                </div>
    
                <p class="category-text">{{category.displayName | uppercase}}</p>
    
                <button *ngIf="dialogMode === true" class="shop-text" (click)="handleNavigation(category.name)">
                    
                    {{AppText.SHOP}}
    
                </button>
    
                <a *ngIf="dialogMode === false"
                   [routerLink]="[url, category.name]"
                   routerLinkActive="active"
                   class="shop-text"
                >
                    {{AppText.SHOP}}
                    
                    <mat-icon class="material-icons-outlined">chevron_right</mat-icon>
                    
                </a>
    
            </div>

        </div>

        <button *ngIf="dialogMode === true" class="shop-text back-button" (click)="handleNavigation(AppText.HOME)">
                
            {{AppText.BACK_TO_HOME}}

            <mat-icon class="material-icons-outlined">chevron_right</mat-icon>

        </button>

    </div>

</div>