@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@use '../../../styles/kanban-variables' as kanbanVar;
@import "styles.scss";

:host {
    // @include global.flexboxLayout(row, flex-start, flex-start);
    @include global.flexboxLayout(column, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-drawer-container {
        height: 100%;
        width: 100%;

        .mat-drawer {
            @include global.flexboxLayout(column, flex-start, space-between);
            background-color: var(--background-3);
            border-right: 1px solid var(--sidenav-border-color);
            width: 300px;

            ::ng-deep .mat-drawer-inner-container {
                @include global.flexboxLayout(column, space-between, flex-start);
                overflow: hidden;
            }

            .top-drawer-container {

                .all-boards {
                    @include kanban.kanbanHeadingSText;
                    margin: 16px 0 0;
                    padding: 0 16px;
                    text-transform: uppercase;
                }

                .sidenav-button {
                    @include global.flexboxLayout(row, flex-start, center);
                    @include kanban.kanbanSidenavButtonStyles;
                    @include kanban.kanbanColors($background-color: var(--background-3), $color: var(--subtitle-text-1));

                    mat-icon {
                        margin: 0 16px 0 0;
                    }
                    
                    &-text {
                        margin: 0;
                        padding: 0;
                    }
                    
                    &:not(.focused) {
                        
                        &:hover {
                            @include kanban.kanbanColors($background-color: var(--kanban-white-1), $color: var(--kanban-primary-idle));
                        }
                    }
                }

                .focused {
                    @include kanban.kanbanColors($background-color: var(--kanban-primary-idle), $color: var(--kanban-on-primary-idle));
                }

                

                .create-new-board-button {
                    @include kanban.kanbanHeadingMText;
                    @include kanban.kanbanColors($background-color: var(--background-3), $color: var(--kanban-primary-idle));
                    margin: 4px 8px;
                }
            }

            .bottom-buttons-container {
                @include global.flexboxLayout(column, flex-start, center);
                margin-bottom: 50px;
                width: 100%;
                
                .dark-mode-switch-container {
                    @include global.flexboxLayout(row, space-between, center);
                    background-color: var(--background-2);
                    margin: 0 0 22px;
                    padding: 15px 64px;

                    mat-icon {
                        color: var(--subtitle-text-1);
                    }

                    mat-slide-toggle {
                        margin: 0 24px;
                    }
                }

                .hide-sidebar-button {
                    @include kanban.kanbanHeadingMText;
                    @include global.flexboxLayout(row, center, center);
                    align-self: flex-start;
                    background-color: var(--background-3);
                    border: none;
                    color: var(--subtitle-text-1);
                    cursor: pointer;
                    margin-left: 14px;

                    mat-icon {
                        margin-right: 15px;
                    }

                    &:hover {
                        @include kanban.kanbanSidenavTextButtonStylesHover;
                    }
                }
            }

        }

        .mat-drawer-content {
            background-color: var(--background-2);
            overflow-y: hidden;
            position: relative;

            .nav-bar {
                @include global.flexboxLayout(row, space-between, center);
                background-color: var(--background-3);
                border-bottom: 1px solid var(--sidenav-border-color);
                height: var(--size-nav-bar-height);
                width: 100%;
        
                .board-title-container {
                    @include global.flexboxLayout(row, flex-start, center);
                    margin: 0 0 0 16px;
        
                    .board-title {
                        @include kanban.kanbanHeadingXLText;
                        margin: 24px;
                        
                        @include global.response(sm) {
                            margin: 0 0 0 16px;
                            max-width: 165px;
                        }
                    }
        
                    .dropdown-icon-button {
                        display: none;
        
                        @include global.response(sm) {
                            display: block;
                        }
                    }
                }
                
                .buttons-container {
                    @include global.flexboxLayout(row, flex-start, center);
                    
                    .nav-button {
                        @include kanban.kanbanTopnavButtonStyles(var(--kanban-primary-idle), var(--kanban-on-primary-idle), var(--size-button-tall));
                        @include kanban.kanbanColors;

                        &:hover {
                            @include kanban.kanbanColors($background-color: var(--kanban-primary-hover), $color: var(--kanban-on-primary-hover));
                        }
                        
                        .nav-button-text {
                            margin: 0;
                        }
        
                        @include global.response(md) {
        
                            .nav-button-text {
                                display: none;
                            }
        
                            mat-icon {
                                margin: 0;
                            }
                        }
        
                        @include global.response(sm) {
                            @include kanban.kanbanTopnavButtonStylesMobile;
                            width: 48px;
                        }
                    }
                }
        }
        
            .show-drawer-button {
                @include global.flexboxLayout(row, center, center);
                @include kanban.kanbanSidenavButtonStyles;    
                @include kanban.kanbanButtonTextStyles;
                @include kanban.kanbanColors;
                position: absolute;
                left: 0;
                top: 90%;
                width: 56px;
                
                margin: 0;
                padding: 0;

                &:hover {
                    @include kanban.kanbanColors(var(--kanban-primary-hover), var(--kanban-on-primary-hover));    
                }

                @include global.response(sm) {
                    display: none;
                }
            }
        }
    }
}

.kanban-logo-container {
    @include global.flexboxLayout(row, flex-start, center);
    border-right: 1px solid var(--sidenav-border-color);
    height: var(--size-nav-bar-height);
    margin-left: 24px;
    width: 358px;

    @include global.response(sm) {
        border: none;
        margin: 0;
    }

    .logo-text {
        @include kanban.kanbanHeadingXLText;
        margin: 0 0 0 16px;

        @include global.response(sm) {
            display: none;
        }
    }
}

.kanban-icon-container {
    @include global.flexboxLayout(row, flex-start, center);
    
    .kanban-icon-segment {
        border-radius: 2px;
        height: 25px;
        width: 6px;

        &:not(:last-child) {
            margin: 0 3px 0 0;
        }
    }

    .segment-1 {
        background-color: var(--kanban-primary-idle);
    }

    .segment-2 {
        background-color: var(--kanban-primary-idle);
        opacity: .75;
    }

    .segment-3 {
        background-color: var(--kanban-primary-idle);
        opacity: .5;
    }
}

.sidenav-closed {
    width: 200px;
    
    @include global.response(sm) {
        width: 20px;
        
    }
}



.columns-container {
    @include global.flexboxLayout(row, flex-start, flex-start);
    margin: 0 24px;

    .column-container {
        margin: 4px 12px;

        .column-header {
            @include global.flexboxLayout(row, flex-start, center);
            margin: 24px 0;

            .color-circle {
                border-radius: 100%;
                height: 12px;
                margin-right: 12px;
                width: 12px;

            }

            .column-header-text {
                @include kanban.kanbanHeadingSText;
                // color: var(--light-subtitle-text-1);
                color: var(--subtitle-text-1);
                margin: 0;
                text-transform: uppercase;

            }
        }
        
    }

    .new-column-area {
        @include global.flexboxLayout(row, center, center);
        background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
                border-radius: 6px;
        height: 80vh;
        margin-top: 64px;

        .new-column-button {
            @include kanban.kanbanHeadingXLText;
            color: var(--subtitle-text-1);
            text-transform: capitalize;
            
        }
        
        mat-icon {
            color: var(--subtitle-text-1);
            margin-right: 8px;
        }
    }

}
