@import "styles.scss";

:host {
    @include flexboxLayout(row, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-drawer-container {
        height: 100%;
        width: 100%;

        .mat-drawer {
            @include flexboxLayout(column, flex-start, space-between);
            background-color: var(--dark-background-3);
            width: 300px;

            ::ng-deep .mat-drawer-inner-container {
                @include flexboxLayout(column, space-between, flex-start);
                overflow: hidden;
            }

            .top-drawer-container {
                .heading {
                    @include darkHeadingXLText;
                    margin: 34px 120px 54px 34px;
                }

                .nav-button {
                    @include sidenavButtonStyles;
                    @include flexboxLayout(row, flex-start, center);

                    mat-icon {
                        margin: 0 16px 0 0;
                    }

                    &-text {
                        font-weight: lighter;
                        margin: 0;
                        padding: 0;
                    }
                    
                }

                .all-boards {
                    @include lightHeadingSText;
                    padding: 0 16px;
                    text-transform: uppercase;
                }

                .create-new-board-button {
                    @include darkHeadingMText;
                    background-color: var(--dark-background-3);
                    color: var(--primary-idle);
                    margin: 4px 8px;
                }
            }

            .bottom-buttons-container {
                @include flexboxLayout(column, flex-start, center);
                margin-bottom: 50px;
                // padding-left: 24px;
                width: 100%;
                
                .dark-mode-switch-container {
                    @include flexboxLayout(row, space-between, center);
                    background-color: var(--dark-background-2);
                    // margin: 0 24px 22px;
                    margin: 0 0 22px;
                    padding: 15px 64px;

                    mat-icon {
                        color: var(--light-subtitle-text-1);
                    }

                    mat-slide-toggle {
                        margin: 0 24px;
                    }
                }

                .hide-sidebar-button {
                    @include darkHeadingMText;
                    @include flexboxLayout(row, center, center);
                    align-self: flex-start;
                    background-color: var(--dark-background-3);
                    border: none;
                    color: var(--light-subtitle-text-1);
                    cursor: pointer;
                    margin-left: 14px;

                    mat-icon {
                        margin-right: 15px;
                    }
                }
            }

        }

        .mat-drawer-content {
            background-color: var(--dark-background-2);
            overflow-y: hidden;
            position: relative;

            .nav-bar {
                @include flexboxLayout(row, space-between, center);
                background-color: var(--dark-background-3);
                height: var(--size-nav-bar-height);
                width: 100%;

                .board-title-container {
                    @include flexboxLayout(row, flex-start, center);
                    margin: 0 0 0 16px;

                    .kanban-icon-container {
                        display: none;
                                                
                        @include response(sm) {
                            @include flexboxLayout(row, flex-start, center);
                        }
                        
                        .kanban-icon-segment {
                            border-radius: 2px;
                            height: 25px;
                            width: 6px;

                            &:not(:last-child) {
                                margin: 0 3px 0 0;
                            }
                        }

                        .segment-1 {
                            background-color: var(--primary-idle);
                        }

                        .segment-2 {
                            background-color: var(--primary-idle);
                            opacity: .75;
                        }

                        .segment-3 {
                            background-color: var(--primary-idle);
                            opacity: .5;
                        }
                    }

                    .board-title {
                        @include darkHeadingXLText;
                        margin: 0 0 0 24px;
                        
                        @include response(sm) {
                            margin: 0 0 0 16px;
                            max-width: 165px;
                        }
                    }
    
                    .dropdown-icon-button {
                        display: none;

                        @include response(sm) {
                            display: block;
                        }
                    }
                }
            
                .buttons-container {
                    @include flexboxLayout(row, flex-start, center);

                    
                    .nav-button {
                        @include topnavButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), var(--size-button-tall));
                        
                        .nav-button-text {
                            margin: 0;
                        }

                        @include response(md) {

                            .nav-button-text {
                                display: none;
                            }

                            mat-icon {
                                margin: 0;
                            }
                        }

                        @include response(sm) {
                            @include topnavButtonStylesMobile;
                            width: 48px;
                        }

                        button.create-task-menu-item {
                            display: none;

                            @include response(md) {
                                display: block;

                            }
                        }

                        


                    }
                }

                .menu-button-container {
                    // display: none;

                    @include response(xl) {
                        display: block;
                        
                    }
                
                }
            }

            .show-drawer-button {
                @include mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), var(--size-button-tall));    
                border-top-left-radius: 0;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                border-bottom-left-radius: 0;
                cursor: pointer;
                position: absolute;
                left: 0;
                margin: 0;
                top: 90%;

                @include response(sm) {
                    display: none;
                }
            }

        }
    }

}

.columns-container {
    @include flexboxLayout(row, flex-start, flex-start);
    margin: 0 24px;

    .column-container {
        margin: 4px 12px;

        .column-header {
            @include flexboxLayout(row, flex-start, center);
            margin: 24px 0;

            .color-circle {
                border-radius: 100%;
                height: 12px;
                margin-right: 12px;
                width: 12px;

            }

            .column-header-text {
                @include darkHeadingSText;
                color: var(--light-subtitle-text-1);
                margin: 0;
                text-transform: uppercase;

            }
        }
        
    }

    .new-column-area {
        @include flexboxLayout(row, center, center);
        background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
                border-radius: 6px;
        height: 80vh;
        margin-top: 64px;

        .new-column-button {
            @include darkHeadingXLText;
            color: var(--light-subtitle-text-1);
            text-transform: capitalize;
            
        }
        
        mat-icon {
            color: var(--light-subtitle-text-1);
            margin-right: 8px;
        }
    }

}

.task-card {
    @include taskCardStyles;
    
    .task-title {
        @include darkHeadingMText;
    }

    .task-subtitle {
        @include darkBodyMText;
    }
    
    
}

.no-tasks-container {
    @include flexboxLayout(column, center, center);
    height: 100%;
    height: calc(100% - var(--size-nav-bar-height));
}

.empty-board {
    @include darkBodyLText;
    color: var(--light-subtitle-text-1);


}

.add-column-button {
    @include mainButtonStyles;
    @include darkHeadingMText;
}
