@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@import "styles.scss";

.board-dialog-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    background-color: var(--dark-background-3);
   
    .title-container {
        @include global.flexboxLayout(row, flex-start, center);
        margin-bottom: 24px;
        padding: 0;
        width: 100%;
        
        .title-text {
            @include kanban.darkHeadingLText;
            padding: 0;
        }
   }

   .board-form {
        padding: 0;
        width: 100%;

        .mat-mdc-form-field {
            width: 100%;
        }

        .field-label {
            @include kanban.lightBodyMText;
            color: var(--dark-title-text-1);
        }

        .action-buttons {
            @include global.flexboxLayout(column, center, center);
            flex-wrap: wrap;
            
            width: 100%;

            button {
                width: 100%;
            }

            .cancel-button {
                @include kanban.mainButtonStyles(var(--secondary-idle), var(--text-color-for-light-background-1), 40px);
                justify-content: center;
                margin: 4px 0;
            }

            .save-button {
                @include kanban.mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), 40px);
                justify-content: center;
                margin: 4px 0;
            }
    
        }
    }

}