
<!-- [ngClass]=" theme" -->
<div class="board-dialog-container"
>

    <div matDialogTitle class="title-container">
        <p class="title-text">{{formMode === FormMode.CREATE ? 'Add New Board' : 'Edit Board'}}</p>
    </div>

    <form matDialogContent
          [formGroup]="boardForm"
          (ngSubmit)="handleSaveBoard()"
          class="board-form"
    >
    
            <!-- Display name control as title -->

        <p class="field-label">Title</p>
        <mat-form-field appearance="outline">
            <mat-label>Board title</mat-label>
            <!-- placeholder="Board title" -->
            <input matInput
                formControlName="displayNameControl"
                type="text"
            >
        </mat-form-field>


            <!-- Description control -->
        
        <p class="field-label">Description</p>
        <mat-form-field appearance="outline">
            <mat-label>Board description</mat-label>
            <!-- placeholder="Board description" -->
            <input matInput
                    formControlName="descriptionControl"
                    type="text"
            >
        </mat-form-field>

            <!-- Action buttons -->

        <div matDialogActions class="action-buttons">

            <button mat-flat-button 
                    class="cancel-button"
                    type="button"
                    (click)="handleCancelOperation()"
            >
                Cancel
            </button>
            
            <button mat-flat-button
                    type="submit"
                    class="save-button"
            >
                Save
            </button>

        </div>
            
            


    </form>


</div>