@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@import "styles.scss";

.board-dialog-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    background-color: var(--background-2);
   
    .title-container {
        @include global.flexboxLayout(row, flex-start, center);
        margin-bottom: 24px;
        padding: 0;
        width: 100%;
        
        .title-text {
            @include kanban.kanbanHeadingLText;
            padding: 0;
        }
   }

   .board-form {
        padding: 0;
        width: 100%;

        .mat-mdc-form-field {
            width: 100%;

            mat-label {
                color: var(--title-text-1);
            }

            .mat-mdc-input-element {
                color: var(--title-text-1);
            }
        }

        .field-label {
            @include kanban.kanbanBodyMText;
            color: var(--title-text-1);
            margin-bottom: 8px;
        }

        .action-buttons {
            @include global.flexboxLayout(column, center, center);
            flex-wrap: wrap;
            width: 100%;

            button {
                width: 100%;
            }

            .cancel-button {
                @include kanban.kanbanMainButtonStyles;
                @include kanban.kanbanColors($background-color: var(--kanban-secondary-idle), $color: var(--kanban-on-secondary-idle));
                justify-content: center;
                margin: 4px 0;
                
                &:hover {
                    @include kanban.kanbanColors($background-color: var(--kanban-secondary-hover), $color: var(--kanban-on-secondary-hover));
                    
                }
            }
    
            .save-button {
                @include kanban.kanbanMainButtonStyles;
                @include kanban.kanbanColors;
                justify-content: center;
                margin: 4px 0;

                &:hover {
                    @include kanban.kanbanColors($background-color: var(--kanban-primary-hover), $color: var(--kanban-on-primary-hover));
                    
                }
            }
        }
    }
}