<div class="settings-dialog-container">

    <div class="title-container">
        <p class="title-text">Select Columns to Display</p>
        <p class="subtitle-text">Column (number of tasks)</p>
        <p class="subtitle-text">Drag to change column order</p>
    </div>

    <div class="checkbox-list-scroll-container">

    
        <div class="checkbox-list-container column-boundary"
            cdkDropList
            [cdkDropListData]="TASK_STATUS_VALUES"
            (cdkDropListDropped)="dropElement($event)"
        >
            
            <div *ngFor="let value of TASK_STATUS_VALUES" 
                cdkDragBoundary=".column-boundary"
                class="drag-element" 
                cdkDrag
            >
                <div class="placeholder" *cdkDragPlaceholder></div>
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>

                <mat-checkbox #checkbox color="primary"
                            [checked]="getCheckedStatus(value)"
                            [id]="value"
                            (change)="generateColumnsList($event)"
                >
                    {{value | titlecase}} ({{numTasksByColumn[value]}})
                </mat-checkbox>

            </div>
            
        </div>
        
    </div>

    <div class="reset-buttons">

        <button mat-flat-button
                type="button"
                class="all-none-button"
                (click)="handleSelectColumnsWithTasks()"
        >
            Tasks only
        </button>

        <button mat-flat-button
                type="button"
                class="reset-initial-button"
                disabled="true"
                (click)="handleResetInitial()"
        >
            Reset
        </button>

        <button mat-flat-button 
                class="all-none-button"
                type="button"
                (click)="handleSetAllColumns(false)"
        >
            Clear all
        </button>
        
        <button mat-flat-button
                type="button"
                class="all-none-button"
                (click)="handleSetAllColumns(true)"
        >
            Select all
        </button>

    </div>

    <div class="action-buttons">

        <button mat-flat-button 
                class="cancel-button"
                type="button"
                (click)="handleCancelOperation()"
        >
            Cancel
        </button>
        
        <button mat-flat-button
                type="submit"
                class="save-button"
                (click)="handleSaveOperation()"
        >
            Save
        </button>

    </div>

</div>