

:root {

    --global-kanban-purple-1: #635fc7;
    
    // https://coolors.co/065143-129490-70b77e-e0a890-ce1483
    --global-brunswick-green: #065143ff;
    --global-dark-cyan: #129490ff;
    --global-emerald: #70b77eff;
    --global-buff: #e0a890ff;
    --global-red-violet: #ce1483ff;

    --global-grey-1: #000112;
    --global-grey-2: #20212c;
    --global-grey-3: #2b2c37;
    --global-grey-4: #3e3f4e;
    --global-grey-5: #828fa3;
    --global-grey-6: #e4ebfa;
    --global-white-1: #ffffff;
    --global-white-2: #f4f7fd;

    --global-font-plus-jakarta-sans: Plus Jakarta sans;
    --global-font-kanit: Kanit, "Helvetica Neue", sans-serif;
    --global-font-josefin-sans: Josefin sans, "Helvetica Neue", sans-serif;
    --global-font-great-vibes: Great Vibes, "Helvetica Neue", sans-serif;
    --global-font-dancing-script: Dancing Script, "Helvetica Neue", sans-serif;
    --global-font-nunito: Nunito, "Helvetica Neue", sans-serif;
    --global-font-exo: Exo+2, "Helvetica Neue", sans-serif;
    --global-font-orbitron: Orbitron, "Helvetica Neue", sans-serif;

    // for css tricks Icon nav bar
    --color: #222327;

    --global-background-1: var(--global-grey-2);
    --global-background-2: var(--global-grey-5);
    --global-foreground-1: var(--global-grey-2);
    --global-foreground-2: var(--global-grey-1);

}

$global-font-sizes: (
    masthead: 36px,
    heading-xl: 28px,
    tablet-heading-xl: 20px,
    heading-l-xl: 24px,
    heading-l: 22px,
    heading-m-l: 19px,
    heading-m: 16px,
    heading-s-m: 14px,
    heading-s: 12px,
    body-xl: 16px,
    body-l-xl: 14px,
    body-l: 13px,
    body-m: 12px,
    body-s: 10px,
);

@function globalFontSize($size) {
    @return map-get($global-font-sizes, $size);
}

$global-line-heights: (
    masthead: 60px,
    heading-xl: 30px,
    heading-l: 23px,
    heading-m: 19px,
    heading-s: 15px,
    body-xl: 24px,
    body-l: 18px,
    body-m: 15px,
    body-s: 12px,
);

@function globalLineHeight($size) {
    @return map-get($global-line-heights, $size);
}