@use '@angular/material' as mat;
@use './global-variables' as globalVar;


////////////// FLEXBOX //////////////////////

@mixin flexboxLayout($flex-direction: row, $justify-content: flex-start, $align-items: flex-start) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;

}

////////////// END FLEXBOX //////////////////////


////////////// BORDER //////////////////////


@mixin border1($color: black, $radius: 4px) {
    border-radius: $radius;
    border: 1px solid $color;
}

////////////// END BORDER //////////////////////////// 


//////////////////// COLORS /////////////////////

@mixin globalColors($background-color: var(--global-primary), $color: var(--global-on-primary)) {
    background-color: $background-color;
    color: $color;
}

@mixin globalBoxShadow {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

//////////////////// END COLORS /////////////////////

////////////////// TYPOGRAPHY //////////////////////////////

@mixin textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(masthead), $line-height: globalVar.globalLineHeight(masthead)) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin textMasthead {
    @include textSizes;
    font-family: var(--global-font-orbitron);
};

@mixin textHeader {
    @include textSizes($font-size: globalVar.globalFontSize(heading-xl), $line-height: globalVar.globalLineHeight(heading-xl));
    font-family: var(--global-font-nunito);
    text-transform: uppercase;
}

@mixin textTitle {
    @include textSizes($font-size: globalVar.globalFontSize(heading-xl), $line-height: globalVar.globalLineHeight(heading-xl));
    font-family: var(--global-font-orbitron);
    text-transform: uppercase;
}

@mixin textName {
    @include textSizes($font-size: globalVar.globalFontSize(masthead), $line-height: globalVar.globalLineHeight(masthead));
    font-family: var(--global-font-nunito);
    text-transform: none;
}

@mixin textSubtitle {
    @include textSizes($font-size: globalVar.globalFontSize(heading-l), $line-height: globalVar.globalLineHeight(heading-l));
    font-family: var(--global-font-nunito);
}

@mixin textAccent {
    @include textSizes($font-weight: 600, $font-size: globalVar.globalFontSize(heading-m), $line-height: globalVar.globalLineHeight(heading-m));
    font-family: var(--global-font-nunito);
}

@mixin welcomeTextDescription {
    @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(body-l), $line-height: globalVar.globalLineHeight(body-xl));
    font-family: var(--global-font-exo);
    letter-spacing: 1px;
}

@mixin textDescription($font-weight: 400, $font-size: globalVar.globalFontSize(body-l), $line-height: globalVar.globalLineHeight(body-l)) {
    @include textSizes($font-weight, $font-size, $line-height);
    font-family: var(--global-font-exo)
}

@mixin textButtonMain {
    @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(heading-m), $line-height: globalVar.globalLineHeight(heading-m));
    font-family: var(--global-font-nunito);
    text-transform: uppercase;
}

@mixin textButtonSmall {
    @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(body-m), $line-height: globalVar.globalLineHeight(body-m));
    font-family: var(--global-font-nunito);
    text-transform: uppercase;
}

@mixin textSectionHeader {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-xl), $line-height: globalVar.globalLineHeight(heading-xl));    
    font-family: var(--global-font-orbitron);
    text-transform: uppercase;
}

@mixin textSectionSubheader {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-l), $line-height: globalVar.globalLineHeight(heading-l));    
    font-family: var(--global-font-nunito);
    // text-transform: uppercase;
}

@mixin textListItem {
    @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(body-l), $line-height: globalVar.globalLineHeight(body-l));
    font-family: var(--global-font-exo);
}

@mixin textPlaceholder {
    @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(body-m), $line-height: globalVar.globalLineHeight(body-m));
    font-family: var(--global-font-exo);
}

@mixin textSidenavButton {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-l), $line-height: globalVar.globalLineHeight(heading-l));
    font-family: var(--global-font-exo);
    
}

@mixin textHeaderXL {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-xl), $line-height: globalVar.globalLineHeight(heading-xl));
    font-family: var(--global-font-exo);
    
}

@mixin textHeaderL {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-l), $line-height: globalVar.globalLineHeight(heading-l));
    font-family: var(--global-font-exo);
    
}

@mixin textHeaderM {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-m), $line-height: globalVar.globalLineHeight(heading-m));
    font-family: var(--global-font-exo);
    
}

@mixin textHeaderS {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(heading-s), $line-height: globalVar.globalLineHeight(heading-s));
    font-family: var(--global-font-exo);
    
}

@mixin textBodyL {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(body-l), $line-height: globalVar.globalLineHeight(body-l));
    font-family: var(--global-font-exo);
    
}

@mixin textBodyM {
    @include textSizes($font-weight: 700, $font-size: globalVar.globalFontSize(body-m), $line-height: globalVar.globalLineHeight(body-m));
    font-family: var(--global-font-exo);
    
}

////////////////// TYPOGRAPHY //////////////////////////////
 
/////////////////// ELEMENTS ///////////////////////////

@mixin globalSidenavButtonStyles($height: var(--size-button-tall)) {
    @include textButtonMain;
    // background-color: $background-color;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    height: $height;
    margin: 4px 8px;
    padding: 0 24px;
    text-align: left;
    width: 276px;

    @include response(xl) {
        @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(heading-s), $line-height: globalVar.globalLineHeight(heading-s));
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: calc($height * .8);
        margin: 3px 6px;
        padding: 0 20px;
        width: 220px;
    }
}

@mixin globalMainButtonStyles($height: var(--size-button-regular)) {
    @include flexboxLayout(row, space-between, center);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    height: $height;
    margin: 4px 8px;
    padding: 0 24px;
}

@mixin globalOpenSidenavButtonStyles($height: var(--size-button-tall)) {
    @include textButtonMain;
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    height: $height;
    margin: 4px 8px;
    padding: 0 24px;
    text-align: left;
    width: 56px;
}

@mixin globalTopnavMenuButtonStyles($height: var(--size-button-tall)) {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: $height;
    margin: 4px 8px;
    padding: 0 24px;
    text-align: left;
    width: 276px;

    .mdc-list-item__primary-text {
        @include textButtonMain;
        @include globalColors($background-color: inherit, $color: inherit);
    }

    @include response(xl) {
        @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(heading-s), $line-height: globalVar.globalLineHeight(heading-s));
        height: calc($height * .8);
        margin: 3px 6px;
        padding: 0 20px;
        width: 220px;

        .mdc-list-item__primary-text {
            @include textSizes($font-weight: 400, $font-size: globalVar.globalFontSize(heading-s), $line-height: globalVar.globalLineHeight(heading-s));
        }
    }
}

/////////////////// ELEMENTS ///////////////////////////

////////////// MEDIA BREAKPOINTS ///////////////////// 

@mixin response($breakpoint) {
    @if($breakpoint == xl) {
        @media(max-width: 1200px) {
            @content;
        }
    }

    @if($breakpoint == lg-xl) {
        @media(max-width: 1100px) {
            @content;
        }
    }
    
    @if($breakpoint == lg) {
        @media(max-width: 1000px) {
            @content;
        }
    }

    @if($breakpoint == md-lg) {
        @media(max-width: 880px) {
            @content;
        }
    }
    
    @if($breakpoint == md) {
        @media(max-width: 760px) {
            @content;
        }
    }

    @if($breakpoint == sm-md) {
        @media(max-width: 660px) {
            @content;
        }
    }

    @if($breakpoint == sm-sm) {
        @media(max-width: 600px) {
            @content;
        }
    }
    
    @if($breakpoint == sm) {
        @media(max-width: 560px) {
            @content;
        }
    }
    
    @if($breakpoint == xs-sm) {
        @media(max-width: 500px) {
            @content;
        }
    }

    @if($breakpoint == xs) {
        @media(max-width: 460px) {
            @content;
        }
    }

    @if($breakpoint == xxs) {
        @media(max-width: 360px) {
            @content;
        }
    }

    @if($breakpoint == h-md) {
        @media(max-height: 760px) {
            @content;
        }
    }

    @if($breakpoint == h-sm) {
        @media(max-height: 560px) {
            @content;
        }
    }
}

////////////// END MEDIA BREAKPOINTS ///////////////////////



////////////////// FE MENTOR PRODUCT FEEDBACK APP DESIGN SYSTEM //////////////

@mixin color($backgroundColor: transparent, $color: white) {
    background-color: $backgroundColor;
    color: $color;
}

@mixin typographyLevel($typography: globalVar.$jost-typography, $level: 'headline-1') {
    @include mat.typography-level($typography, $level);
}

@mixin fontSpec($fontFamily: globalVar.$jost-font, $fontWeight: 400, $fontSize: 16px, $lineHeight: 24px, $letterSpacing: 0) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
};

@mixin sbxH1() {
    font-family: globalVar.$jost-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.33;
};

@mixin sbxH2() {
    font-family: globalVar.$jost-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25;
};

@mixin sbxH3() {
    font-family: globalVar.$jost-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25;
};

@mixin sbxH4() {
    font-family: globalVar.$jost-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.19;
};

@mixin sbxBody1() {
    font-family: globalVar.$jost-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
};

@mixin sbxBody2() {
    font-family: globalVar.$jost-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.7px;
};

@mixin sbxBody3() {
    font-family: globalVar.$jost-font;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
};






////////////////// END FE MENTOR PRODUCT FEEDBACK APP DESIGN SYSTEM //////////////

