@use '@angular/material' as mat;

:root {

    ////// PRIMARY COLOR SPECIFIED IN KANBAN PROJECT DESIGN SYSTEM //////
    
    --kanban-purple-1: #635fc7;
    --kanban-purple-2: #a8a4ff;
    --kanban-grey-1: #000112;
    --kanban-grey-2: #20212c;
    --kanban-grey-3: #2b2c37;
    --kanban-grey-4: #3e3f4e;
    --kanban-grey-5: #828fa3;
    --kanban-grey-6: #e4ebfa;
    --kanban-white-1: #ffffff;
    --kanban-white-2: #f4f7fd;
    --kanban-red-1: #ea5555;
    --kanban-red-2: #ff9898;
    
    --kanban-primary-idle: var(--kanban-purple-1);
    --kanban-primary-hover: var(--kanban-purple-2);
    --kanban-secondary-idle: var(--kanban-white-1);
    // --kanban-secondary-hover in light/dark themes
    --kanban-destructive-idle: var(--kanban-red-1);
    --kanban-destructive-hover: var(--kanban-red-2);

    --kanban-on-primary-idle: var(--kanban-white-1);
    --kanban-on-primary-hover: var(--kanban-white-1);
    --kanban-on-secondary-idle: var(--kanban-purple-1);
    --kanban-on-secondary-hover: var(--kanban-purple-1);
    --kanban-on-destructive-idle: var(--kanban-white-1);
    --kanban-on-destructive-hover: var(--kanban-white-1);

    --checkbox-completed-text-color: var(--kanban-grey-1);
    --border-5: var(--kanban-grey-5);
    --destructive-text-1: var(--kanban-red-1);
    
    --size-button-tall: 48px;
    --size-button-regular: 40px;
    --size-button-mobile-height: 32px;
    --size-button-mobile-width: 48px;
    --size-heading-xl: 24px;
    --size-heading-lg: 18px;
    --size-heading-md: 15px;
    --size-heading-sm: 12px;
    --size-body-m: 13px;
    --size-body-s: 12px;

    --size-nav-bar-height: 96px;

    --size-board-dialog-width-xl: 480px;
    --size-board-dialog-width-lg: 400px;
    --size-board-dialog-width-md: 324px;

    --size-board-dialog-padding-xl: 32px;
    --size-board-dialog-padding-md: 24px;

    // --font-plus-jakarta-sans: Plus Jakarta sans, "Helvetica Neue", sans-serif;
    --font-plus-jakarta-sans: Plus Jakarta sans;
    --font-kanit: Kanit, "Helvetica Neue", sans-serif;
    --font-josefin-sans: Josefin sans, "Helvetica Neue", sans-serif;
    --font-great-vibes: Great Vibes, "Helvetica Neue", sans-serif;
    --font-dancing-script: Dancing Script, "Helvetica Neue", sans-serif;
    --font-nunito: Nunito, "Helvetica Neue", sans-serif;
    
    // --main-font-family: var(--font-plus-jakarta-sans);
    // --main-font-family: var(--font-kanit);
    // --main-font-family: var(--font-josefin-sans);
    // --main-font-family: var(--font-great-vibes);
    // --main-font-family: var(--font-dancing-script);
    --main-font-family: var(--font-nunito);
}


.kanban-light-theme {

    --kanban-secondary-hover: var(--kanban-purple-2);
    
    --background-1: var(--kanban-white-1);
    --background-2: var(--kanban-white-1);
    --background-3: var(--kanban-white-1);
    --background-4: var(--kanban-white-1);
    --background-5: var(--kanban-grey-5);
    --background-6: var(--kanban-grey-6);
    --title-text-1: var(--kanban-grey-1);
    --title-text-2: var(--kanban-grey-2);
    --title-text-3: var(--kanban-grey-3);
    --title-text-4: var(--kanban-grey-4);
    --subtitle-text-1: var(--kanban-grey-5);
    --subtitle-text-2: var(--kanban-grey-6);

    // text colors for light backgrounds
    --text-color-1: var(--kanban-purple-1);
    --text-color-2: var(--kanban-purple-2);

    --drag-preview-background-color: var(--kanban-grey-6);
    --drag-preview-placeholder-color: var(--kanban-grey-6);
    --drag-preview-text-color: var(--kanban-grey-1);
    --drag-preview-outline-color: var(--kanban-grey-5);

    --sidenav-border-color: var(--kanban-grey-6);

    --checkbox-background: var(--kanban-grey-6);
    --checkbox-background-hover: var(--kanban-purple-2);

    --task-card-drop-shadow-opacity: .25;

}


.kanban-dark-theme {

    --kanban-secondary-hover: var(--kanban-white-1);
    
    // text color for dark backgrounds    
    --text-color-1: var(--kanban-white-1);
    --background-1: var(--kanban-grey-1);
    --background-2: var(--kanban-grey-2);
    --background-3: var(--kanban-grey-3);
    --background-4: var(--kanban-grey-4);
    --background-5: var(--kanban-grey-5);
    --background-6: var(--kanban-grey-6);
    --title-text-1: var(--kanban-white-1);
    --title-text-2: var(--kanban-white-1);
    --title-text-3: var(--kanban-white-1);
    --title-text-4: var(--kanban-white-1);
    --subtitle-text-1: var(--kanban-grey-5);
    --subtitle-text-2: var(--kanban-grey-5);

    --drag-preview-background-color: var(--kanban-grey-5);
    --drag-preview-placeholder-color: var(--kanban-grey-6);
    --drag-preview-text-color: var(--kanban-white-1);
    --drag-preview-outline-color: var(--kanban-grey-4);

    --sidenav-border-color: var(--kanban-grey-4);

    --checkbox-background: var(--kanban-grey-2);
    --checkbox-background-hover: var(--kanban-purple-2);

    --task-card-drop-shadow-opacity: 0;
}

// // $kanban-primary: mat.define-palette($kanban-purple-palette, 400, 200);
// // $kanban-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $kanban-primary: mat.define-palette($kanban-purple-palette);
// $kanban-accent: mat.define-palette(mat.$pink-palette);

// // The "warn" palette is optional and defaults to red if not specified.
// $kanban-warn: mat.define-palette(mat.$red-palette);

// $kanban-light-theme: mat.define-light-theme((
//     color: (
//         primary: $kanban-primary,
//         accent: $kanban-accent,
//         warn: $kanban-warn,
//     ),
//         // Only include `typography` and `density` in the default light theme.
//         // Specify the font to use something other than default Roboto font
//     typography: mat.define-typography-config($font-family: var(--main-font-family)),
//     density: 0,
// ));

// $kanban-dark-theme: mat.define-dark-theme((
// color: (
//     primary: $kanban-primary,
//     accent: $kanban-accent,
//     warn: $kanban-warn,
// ),
// ));

// @include mat.core-theme($kanban-light-theme);
// @include mat.all-component-themes($kanban-light-theme);

// .kanban-dark-theme {
//     @include mat.core-theme($kanban-dark-theme);
//     @include mat.all-component-colors($kanban-dark-theme);
// }

    // Apply the light theme by default
    // @include mat.core-theme($kanban-light-theme);
    // @include mat.all-component-themes($kanban-light-theme);

    // Apply the dark theme only when the user prefers light themes.
    @media (prefers-color-scheme: dark) {
        // Use the `-color` mixins to only apply color styles without reapplying the same
        // typography and density styles.
        // @include mat.core-color($kanban-dark-theme);
        // @include mat.all-component-themes($kanban-dark-theme);

   }

$colors: (
        primary-idle: var(--kanban-primary-idle),
        primary-hover: var(--kanban-primary-hover),
        secondary-idle: var(--kanban-secondary-idle),
        secondary-hover: var(--kanban-secondary-hover),
        destructive-idle: var(--kanban-destructive-idle),
        destructive-hover: var(--kanban-destructive-hover),
        light-text: var(--kanban-white-1),
    );

@function color($color-name) {
    @return map-get($colors, $color-name);
}

// $column-dot-color-1: #49c4e5;
// $column-dot-color-2: #8471f2;
// $column-dot-color-3: #67e2ae;
// $column-dot-color-4: #49c4e5;
// $column-dot-color-5: #8471f2;
// $column-dot-color-6: #67e2ae;
// $column-dot-color-7: #49c4e5;
// $column-dot-color-8: #8471f2;
// $column-dot-color-9: #67e2ae;

// $statusColors2: (
//     planning: var($column-dot-color-1),
//     backlog: var(--column-dot-color-2),
//     not-started: var(--column-dot-color-3),
//     development: var(--column-dot-color-4),
//     review: var(--column-dot-color-5),
//     nightly: var(--column-dot-color-6),
//     staging: var(--column-dot-color-7),
//     production: var(--column-dot-color-8),
//     deprecated: var(--column-dot-color-9),

// );

// @function statusColor2($status-color-name) {
//     @return map-get($statusColors2, $status-color-name);
// }


// $statusColors: (
//     planning: var(--column-dot-color-1),
//     backlog: var(--column-dot-color-2),
//     not-started: var(--column-dot-color-3),
//     development: var(--column-dot-color-4),
//     review: var(--column-dot-color-5),
//     nightly: var(--column-dot-color-6),
//     staging: var(--column-dot-color-7),
//     production: var(--column-dot-color-8),
//     deprecated: var(--column-dot-color-9),

// );

// @function statusColor($status-color-name) {
//     @return map-get($statusColors, $status-color-name);
// }

$font-sizes: (
    heading-xl: 24px,
    tablet-heading-xl: 20px,
    heading-lg: 18px,
    heading-md: 15px,
    heading-sm: 12px,
    body-l: 13px,
    body-m: 12px,
);

@function fontSize($size) {
    @return map-get($font-sizes, $size);
}

$line-heights: (
    heading-xl: 30px,
    heading-lg: 23px,
    heading-md: 19px,
    heading-sm: 15px,
    body-l: 23px,
    body-m: 15px,
);

@function lineHeight($size) {
    @return map-get($line-heights, $size);
}

$fonts: (
    plus-jakarta-sans: var(--font-plus-jakarta-sans),
    // kanit: var(--font-kanit),
    // josefin-sans: var(--font-josefin-sans),
    // great-vibes: var(--font-great-vibes),
    // dancing-script: var(--font-dancing-script),
    // nunito: var(--font-nunito),
);

@function font($font) {
    @return map-get($fonts, $font);
}

$element-sizes: (
    button-tall: 48px,
    button-regular: 40px,
);

@function elementSize($element-size) {
    @return map-get($element-sizes, $element-size);
}
