

////////////// FLEXBOX //////////////////////

// @mixin flexboxLayout($flex-direction: row, $justify-content: flex-start, $align-items: flex-start) {
//     display: flex;
//     flex-direction: $flex-direction;
//     justify-content: $justify-content;
//     align-items: $align-items;

// }

////////////// END FLEXBOX //////////////////////


////////////// BORDER //////////////////////


// @mixin border1 {
//     border-radius: 4px;
//     border: 1px solid black;
//     margin: 8px;
//     padding: 8px;
// }

////////////// END BORDER //////////////////////


//////////////// ELEMENTS //////////////////////

@mixin mainButtonStyles($background-color: var(--primary-idle), $color: var(--text-color-for-dark-background-1), $height: 40px) {
    background-color: $background-color;
    border: none;
    border-radius: 24px;
    height: $height;
    color: $color;
    margin: 4px 8px;
    padding: 0 24px;
}

@mixin navButtonStyles {
    @include darkHeadingMText;
    background-color: color(primary-idle);
    border: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
    height: 40px;
    color: color(light-text);
    margin: 4px 8px;
    padding: 0 24px;
    text-align: left;
    width: 276px;
}

@mixin taskCardStyles {
    @include flexboxLayout(row, flex-start, flex-start);
    background-color: var(--dark-background-3);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--dark-subtitle-text-1);
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 2px;
    width: 100%;

    .handle-container {
        height: 100%;
        margin-right: 2px;
    }

    .drag-element-content {
        width: 100%;

        .task-title {
            @include darkHeadingMText;
            margin: 0 0 8px;
        }
    
        .task-subtitle {
            @include darkBodyMText;
            margin: 0 0 6px;
        }
    }

}


//////////////// END ELEMENTS //////////////////////

////////////// TYPOGRAPHY //////////////////////////

// Light styles

@mixin lightHeadingXLText {
    color: var(--light-title-text-1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
}


@mixin lightHeadingLText {
    color: var(--light-title-text-1);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
}

@mixin lightHeadingMText {
    color: var(--light-title-text-1);
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
}

@mixin lightHeadingSText {
    color: var(--light-subtitle-text-1);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
    letter-spacing: 4px;
    
}

@mixin lightBodyLText {
    color: var(--light-title-text-3);
    // color: var(--primary-idle);
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
}

@mixin lightBodyMText {
    color: var(--light-title-text-3);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
}

//////////////// END LIGHT STYLES /////////////////////////


//////////////// DARK STYLES /////////////////////////

@mixin darkHeadingXLText {
    @include lightHeadingXLText;
    color: var(--dark-title-text-1);
}


@mixin darkHeadingLText {
    @include lightHeadingLText;
    color: var(--dark-title-text-1);
}

@mixin darkHeadingMText {
    @include lightHeadingMText;
    color: var(--dark-title-text-1);
    // font-weight: 700;
    // font-size: 15px;
    // line-height: 19px;
    // font-family: var(--main-font-family);
}

@mixin darkHeadingSText {
    @include lightHeadingSText;
    color: var(--dark-subtitle-text-1);
    // font-weight: 700;
    // font-size: 12px;
    // line-height: 15px;
    // font-family: var(--main-font-family);
    // letter-spacing: 4px;
    
}

// dark body l
@mixin darkBodyLText {
    @include lightBodyLText;
    color: var(--dark-title-text-1);
    // font-weight: 500;
    // font-size: 13px;
    // line-height: 23px;
    // font-family: var(--main-font-family);
}

// dark body m
@mixin darkBodyMText {
    @include lightBodyMText;
    color: var(--dark-title-text-3);
    // font-weight: 700;
    // font-size: 12px;
    // line-height: 15px;
    // font-family: var(--main-font-family);
}
//////////////// END DARK STYLES /////////////////////////

////////////// END TYPOGRAPHY //////////////////////
/// 