@use '@angular/material' as mat;
@use '../styles/global-variables';
@use "sass:map";

:root {

    // from https://coolors.co/011627-ff0022-41ead4-fdfffc-b91372
    --rich-black: #011627ff;
    --red-cmyk: #ff0022ff;
    --turquoise: #41ead4ff;
    --baby-powder: #fdfffcff;
    --red-violet: #b91372ff;

    // https://coolors.co/f46036-2e294e-1b998b-e71d36-c5d86d
    --space-cadet: #2e294eff;       // primary
    --giants-orange: #f46036ff;     // secondary
    --persian-green: #1b998bff;     // accent 1
    --mindaro: #c5d86dff;           // accent 2
    --red-pantone: #e71d36ff;       // warn
    
    --ang-exp-primary: var(--space-cadet);
    --ang-exp-secondary: var(--giants-orange);
    --ang-exp-accent-1: var(--persian-green);
    --ang-exp-accent-2: var(--mindaro);
    --ang-exp-warn: var(--red-pantone);

    --ang-exp-on-primary: var(--global-white-1);
    --ang-exp-on-secondary: var(--global-white-1);
    --ang-exp-on-accent-1: var(--global-white-1);
    --ang-exp-on-accent-2: var(--global-primary);
    --ang-exp-on-warn: var(--global-white-1);

    --ang-exp-size-nav-bar-height: 96px;

    //  --font-plus-jakarta-sans: Plus Jakarta sans, "Helvetica Neue", sans-serif;
    //  --font-plus-jakarta-sans: Plus Jakarta sans;
    //  --font-kanit: Kanit, "Helvetica Neue", sans-serif;
    //  --font-josefin-sans: Josefin sans, "Helvetica Neue", sans-serif;
    //  --font-great-vibes: Great Vibes, "Helvetica Neue", sans-serif;
    //  --font-dancing-script: Dancing Script, "Helvetica Neue", sans-serif;
     --font-nunito: Nunito, "Helvetica Neue", sans-serif;
     
    // --ang-exp-main-font-family: var(--font-josefin-sans);
    // --ang-exp-main-font-family: var(--font-plus-jakarta-sans);
    // --ang-exp-main-font-family: var(--font-kanit);
    // --ang-exp-main-font-family: var(--font-great-vibes);
    // --ang-exp-main-font-family: var(--font-dancing-script);
    --ang-exp-main-font-family: var(--font-nunito);
}

// // based on space-cadet color (#2e294e) above.  Hex values obteained from Material color tool
// // https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
// $ang-exp-space-cadet-palette: (
//     50: #e9eaf0,
//     100: #c7cadb,
//     200: #a4a8c2,
//     300: #8286a9,
//     400: #696c97,
//     500: #525387,
//     600: #4b4c7e,
//     700: #434273,
//     800: #3b3966,
//     900: #2e294e,       // space cadet
//     contrast: (
//         50: rgba(black, 0.87),
//         100: rgba(black, 0.87),
//         200: rgba(black, 0.87),
//         300: rgba(black, 0.87),
//         400: white,
//         500: white,
//         600: white,
//         700: white,
//         800: white,
//         900: white,
//     )
// );

// $ang-exp-giants-orange-palette: (
//     50:  #f8eae8,
//     100: #facdc0,
//     200: #f8ad98,
//     300: #f68e70,
//     400: #f57551,
//     500: #f45f36,       // primary
//     600: #e95932,
//     700: #db532d,
//     800: #cd4c2a,
//     900: #b24224,
//     contrast: (
//         50: rgba(black, 0.87),
//         100: rgba(black, 0.87),
//         200: rgba(black, 0.87),
//         300: rgba(black, 0.87),
//         400: rgba(black, 0.87),
//         500: white,
//         600: white,
//         700: white,
//         800: white,
//         900: white,
//     )
// );

// $ang-exp-dark-theme: mat.define-dark-theme((
//     color: (
//         primary: mat.define-palette($ang-exp-space-cadet-palette),
//         accent: mat.define-palette($ang-exp-giants-orange-palette)
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
// ));

// $ang-exp-light-theme: mat.define-light-theme((
//     color: (
//         primary: mat.define-palette($ang-exp-space-cadet-palette),
//         accent: mat.define-palette($ang-exp-giants-orange-palette)
//     ),
// ));

// @include mat.core-theme($ang-exp-light-theme);
// @include mat.all-component-themes($ang-exp-light-theme);

// .ang-exp-dark-theme {
//     @include mat.core-theme($ang-exp-dark-theme);
//     @include mat.all-component-themes($ang-exp-dark-theme);
// }

// .ang-exp-light-theme {

//     --ang-exp-font: var(--ang-exp-main-font-family);
    
//     --ang-exp-background-1: var(--global-white-1);
//     --ang-exp-background-2: var(--global-white-1);
//     --ang-exp-background-3: var(--global-white-1);
//     --ang-exp-background-4: var(--global-white-1);
//     --ang-exp-background-5: var(--global-grey-5);
//     --ang-exp-background-6: var(--global-grey-6);

//     --ang-exp-title-text-1: var(--ang-exp-primary);
//     --ang-exp-title-text-2: var(--ang-exp-primary);
//     --ang-exp-title-text-3: var(--ang-exp-primary);
//     --ang-exp-title-text-4: var(--ang-exp-primary);
//     --ang-exp-subtitle-text-1: var(--global-grey-5);
//     --ang-exp-subtitle-text-2: var(--global-grey-6);

//     // text colors for light backgrounds
//     --ang-exp-text-color-1: var(--ang-exp-primary);
//     --ang-exp-text-color-2: var(--ang-exp-primary);

//     --ang-exp-drag-preview-background-color: var(--global-grey-6);
//     --ang-exp-drag-preview-placeholder-color: var(--global-grey-6);
//     --ang-exp-drag-preview-text-color: var(--global-grey-1);
//     --ang-exp-drag-preview-outline-color: var(--global-grey-5);
//     --ang-exp-sidenav-border-color: var(--global-grey-6);
//     --ang-exp-checkbox-background: var(--global-grey-6);
//     --ang-exp-checkbox-background-hover: var(--global-grey-5);
//     --ang-exp-task-card-drop-shadow-opacity: .25;

// }


// .ang-exp-dark-theme {

//     @include mat.core-theme($ang-exp-dark-theme);
//     @include mat.all-component-themes($ang-exp-dark-theme);

//     --ang-exp-font: var(--ang-exp-main-font-family);
    
//     --ang-exp-text-color-1: var(--global-white-1);
//     --ang-exp-background-1: var(--global-grey-1);
//     --ang-exp-background-2: var(--global-grey-2);
//     --ang-exp-background-3: var(--global-grey-3);
//     --ang-exp-background-4: var(--global-grey-4);
//     --ang-exp-background-5: var(--global-grey-5);
//     --ang-exp-background-6: var(--global-grey-6);
//     --ang-exp-title-text-1: var(--global-white-1);
//     --ang-exp-title-text-2: var(--global-white-1);
//     --ang-exp-title-text-3: var(--global-white-1);
//     --ang-exp-title-text-4: var(--global-white-1);
//     --ang-exp-subtitle-text-1: var(--global-grey-5);
//     --ang-exp-subtitle-text-2: var(--global-grey-5);
//     --ang-exp-drag-preview-background-color: var(--global-grey-5);
//     --ang-exp-drag-preview-placeholder-color: var(--global-grey-6);
//     --ang-exp-drag-preview-text-color: var(--global-white-1);
//     --ang-exp-drag-preview-outline-color: var(--global-grey-4);
//     --ang-exp-sidenav-border-color: var(--global-grey-4);
//     --ang-exp-checkbox-background: var(--global-grey-4);
//     --ang-exp-checkbox-background-hover: var(--global-grey-5);
//     --ang-exp-task-card-drop-shadow-opacity: 0;
// }

$font-sizes: (
    heading-xl: 24px,
    tablet-heading-xl: 20px,
    heading-lg: 18px,
    heading-md: 15px,
    heading-sm: 12px,
    body-l: 13px,
    body-m: 12px,
);

@function fontSize($size) {
    @return map-get($font-sizes, $size);
}

$line-heights: (
    heading-xl: 30px,
    heading-lg: 23px,
    heading-md: 19px,
    heading-sm: 15px,
    body-l: 23px,
    body-m: 15px,
);

@function lineHeight($size) {
    @return map-get($line-heights, $size);
}

$fonts: (
    plus-jakarta-sans: var(--font-plus-jakarta-sans),
    // kanit: var(--font-kanit),
    // josefin-sans: var(--font-josefin-sans),
    // great-vibes: var(--font-great-vibes),
    // dancing-script: var(--font-dancing-script),
    // nunito: var(--font-nunito),
);

@function font($font) {
    @return map-get($fonts, $font);
}

$element-sizes: (
    button-tall: 48px,
    button-regular: 40px,
);

@function elementSize($element-size) {
    @return map-get($element-sizes, $element-size);
}
