/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "../styles/kanban-mixins" as kanban;
@use "../styles/global-mixins" as global;
@use "../styles/ng-exp-mixins" as ng-exp;
@use "./kanban-variables" as kanbanVar;

@include mat.core();
@import "./global-variables";
// @import "./kanban-variables";
@import "./ng-exp-variables";

////////// ANGULAR MATERIAL THEME ///////////////////

    // based on purple-1.  Hex values obteained from Material color tool
    // https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
    $kanban-purple-palette: (
        50: #e9e8f7,
        100: #c7c6ec,
        200: #a2a1de,
        300: #7d7cd1,
        400: #635fc7,       // primary color
        500: #4a42bc,
        600: #4439b1,
        700: #3c2fa5,
        800: #34249a,
        900: #290c83,
        contrast: (
            50: rgba(black, 0.87),
            100: rgba(black, 0.87),
            200: rgba(black, 0.87),
            300: white,
            400: white,
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
        )
    );

    $kanban-primary: mat.define-palette($kanban-purple-palette, 400, 200);
    $kanban-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

    // The "warn" palette is optional and defaults to red if not specified.
    $kanban-warn: mat.define-palette(mat.$red-palette);

    $kanban-light-theme: mat.define-light-theme((
        color: (
            primary: $kanban-primary,
            accent: $kanban-accent,
            warn: $kanban-warn,
        ),
         // Only include `typography` and `density` in the default light theme.
         // Specify the font to use something other than default Roboto font
        typography: mat.define-typography-config($font-family: var(--main-font-family)),
        density: 0,
        ));

    $kanban-dark-theme: mat.define-dark-theme((
    color: (
        primary: $kanban-primary,
        accent: $kanban-accent,
        warn: $kanban-warn,
    ),
    ));

    // Apply the light theme by default
    @include mat.core-theme($kanban-light-theme);
    @include mat.all-component-themes($kanban-light-theme);

    // Apply the dark theme only when the user prefers light themes.
    @media (prefers-color-scheme: dark) {
        // Use the `-color` mixins to only apply color styles without reapplying the same
        // typography and density styles.
        @include mat.core-color($kanban-dark-theme);
        // @include mat.all-component-themes($kanban-dark-theme);

   }


   ////////// REMAINING KANBAN COLORS NOT USED IN THEME ///////////////////

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    padding: 0;
}

.board-view-topnav-menu-css {
    background-color: var(--background-2) !important;

    button.mat-mdc-menu-item {
    
        &:hover {
            background-color: var(--background-5) !important;
        }
    }

    .mdc-list-item__primary-text {
        color: var(--title-text-1);
    }

    .delete-board-menu-item {
        
        .mdc-list-item__primary-text {
            color: var(--kanban-destructive-idle) !important;

        }
    }

    .create-task-menu-item {
        display: none;

        @include global.response(md) {
            display: block;

        }
    }
}

.view-task-menu-css {
    background-color: var(--background-2) !important;

    button.mat-mdc-menu-item {
        
        &:hover {
            background-color: var(--background-5) !important;
        }
    }

    button.edit-task-button {
        .mdc-list-item__primary-text {
            color: var(--title-text-1);
        }
    }

    button.delete-task-button {
        .mdc-list-item__primary-text {
            color: var(--kanban-destructive-idle);
        }
    }
}

.boards-select-panel-class {
    
    .mat-mdc-dialog-container {
        background-color: var( --background-3);
        border-radius: 8px;
        height: 322px;
        
        .mdc-dialog__surface {
            background-color: var(--background-3) !important;
        }
    }

}

.board-form-panel-class,
.view-task-panel-class, 
.task-form-panel-class,
.delete-confirm-panel-class,
.column-settings-panel-class {
    
    background-color: var(--background-2);
    border-radius: 8px;

    .mdc-list-item__primary-text {
        color: var(--title-text-1);

    }
    
    .mat-mdc-dialog-container {
       
        .mat-mdc-dialog-surface {
            border-radius: 0;
            box-shadow: none;
            background-color: var(--background-2);
            border-radius: 8px;
            padding: var(--size-board-dialog-padding-xl);
            width: var(--size-board-dialog-width-xl);

            @include global.response(md) {
                width: var(--size-board-dialog-width-md);
                padding: var(--size-board-dialog-padding-md);
            }
        }
    }

    .mat-mdc-select-panel {
        background-color: var(--background-2) !important;
    }
}
