/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "./kanban-mixins" as kanban;
@use "./global-mixins" as global;
@use "./ng-exp-mixins" as ng-exp;
@use '../app/comps/landing-page/landing-page-variables' as landingPageVar;
@use '../app/mods/audio/audio-variables' as audioVar;
@use '../app/mods/audio/audio-mixins' as audioMixin;

@include mat.core();
@import "./global-variables";

////////// ANGULAR MATERIAL THEME ///////////////////

    // $app-primary-light: mat.define-palette(mat.$indigo-palette);
    // $app-secondary-light: mat.define-palette(mat.$pink-palette);
    // $app-warn-light: mat.define-palette(mat.$red-palette);
    // $app-primary: mat.define-palette(mat.$indigo-palette);
    // $app-secondary: mat.define-palette(mat.$pink-palette);
    $app-primary: mat.define-palette(mat.$cyan-palette);
    $app-secondary: mat.define-palette(mat.$blue-grey-palette);
    $app-warn: mat.define-palette(mat.$red-palette);
    
    // $app-primary-dark: mat.define-palette(mat.$cyan-palette);
    // $app-secondary-dark: mat.define-palette(mat.$blue-grey-palette);
    // $app-warn-dark: mat.define-palette(mat.$amber-palette);

$app-light-theme: mat.define-light-theme((
    color: (
            primary: $app-primary,
            accent: $app-secondary,
            warn: $app-warn,
    )
));

$app-dark-theme: mat.define-dark-theme((
    color: (
            primary: $app-primary,
            accent: $app-secondary,
            warn: $app-warn,
    )
));

// @include mat.core-theme($app-light-theme);
// @include mat.all-component-themes($app-light-theme);

// .app-dark-theme {
//     @include mat.core-theme($app-dark-theme);
//     @include mat.all-component-themes($app-dark-theme);
// }

// @include mat.core-theme($ang-exp-light-theme);

// Apply the dark theme only when the user prefers light themes.
// @media (prefers-color-scheme: dark) {
//     // Use the `-color` mixins to only apply color styles without reapplying the same
//     // typography and density styles.
//     @include mat.core-color($app-dark-theme);
//     @include mat.all-component-themes($app-dark-theme);

// }

   ////////////////////////////////////////////////////////////

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.global-topnav-menu-css {
    @include global.globalColors($background-color: var(--topnav-menu-item-color), $color: var(--topnav-menu-item-text-color));
    border-radius: 0 !important;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    
    .topnav-active {
        @include global.globalColors(var(--topnav-menu-item-active-color), var(--topnav-menu-item-text-active-color));
    }
    
    .mat-mdc-menu-content {
        padding: 0 !important;
    }
    
    button.mat-mdc-menu-item {
        @include global.globalTopnavMenuButtonStyles;
        margin: 0 !important;
        width: 100%;
        border-radius: 0;
        
        &:hover {
            @include global.globalColors(var(--topnav-menu-item-hover-color) !important, var(--topnav-menu-item-text-hover-color) !important);
            
        }
    }

    @include global.response(xs) {
        width: 100vw !important;
    }
}

.board-view-topnav-menu-css {
    background-color: var(--background-2) !important;

    button.mat-mdc-menu-item {
    
        &:hover {
            background-color: var(--background-5) !important;
        }
    }

    .mdc-list-item__primary-text {
        color: var(--title-text-1);
    }

    .delete-board-menu-item {
        
        .mdc-list-item__primary-text {
            color: var(--kanban-destructive-idle) !important;
        }
    }

    .create-task-menu-item {
        display: none;

        @include global.response(md) {
            display: block;
        }
    }
}

.view-task-menu-css {
    background-color: var(--background-2) !important;

    button.mat-mdc-menu-item {
        
        &:hover {
            background-color: var(--background-5) !important;
        }
    }

    button.edit-task-button {
        .mdc-list-item__primary-text {
            color: var(--title-text-1);
        }
    }

    button.delete-task-button {
        .mdc-list-item__primary-text {
            color: var(--kanban-destructive-idle);
        }
    }
}

.boards-select-panel-class {
    
    .mat-mdc-dialog-container {
        background-color: var( --background-3);
        border-radius: 8px;
        height: 322px;
        
        .mdc-dialog__surface {
            background-color: var(--background-3) !important;
            overflow: hidden;
        }
    }

}

.board-form-panel-class,
.view-task-panel-class, 
.task-form-panel-class,
.delete-confirm-panel-class,
.column-settings-panel-class {
    
    background-color: var(--background-2);
    border-radius: 8px;

    .mdc-list-item__primary-text {
        color: var(--title-text-1);

    }
    
    .mat-mdc-dialog-container {
       
        .mat-mdc-dialog-surface {
            border-radius: 0;
            box-shadow: none;
            background-color: var(--background-2);
            border-radius: 8px;
            padding: var(--size-board-dialog-padding-xl);
            width: var(--size-board-dialog-width-xl);

            @include global.response(md) {
                width: var(--size-board-dialog-width-md);
                padding: var(--size-board-dialog-padding-md);
            }
        }
    }

    .mat-mdc-select-panel {
        background-color: var(--background-2) !important;
    }
}

.shopping-cart-panel-class {
    background-color: var(--au-light-background) !important;
    border: none;
    border-radius: 8px;
}

.nav-menu-panel-class {
    :host {
        justify-content: center;
    }
    background-color: var(--au-light-background) !important;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    // 284px component height plus 56px/67px top/bottom padding when used as menu
    height: 407px;
    max-width: 100vw !important;
    width: 100%;

    @include audioMixin.response(md) {
        height: 320px;
     
    }
}

.nav-menu-container {
    top: 82px;
    width: 100%;
}
