@import "styles.scss";

.task-dialog-container {
    @include flexboxLayout(column, flex-start, flex-start);
    background-color: var(--dark-background-3);
    overflow: hidden;
    
    .title-container {
        @include flexboxLayout(row, space-between, center);
        margin-bottom: 24px;
        padding: 0;
        width: 100%;
        
        .mat-mdc-dialog-title {
            @include darkHeadingLText;
            margin: 0;
            max-width: 300px;
            padding: 0;

            @include response(md) {
                max-width: 220px;
            }
        }

        mat-icon {
            color: var( --light-subtitle-text-1);
        }
    }


    .dialog-subtitle {
        @include darkBodyLText;
        color: var(--light-subtitle-text-1);
        margin-bottom: 24px;
    }

    .mat-mdc-dialog-content {
        overflow: hidden;
        padding: 0;
        width: 100%;

        .subtasks-header {
            @include darkBodyMText;
            color: var(--dark-subtitle-text-1);
            margin-bottom: 16px;
        }

        .subtasks-scroll-container {
            max-height: 240px;
            overflow-y: auto;
            margin-bottom: 24px;

            @include response(h-md) {
                max-height: 130px;
            }

            .subtask-card {
                @include flexboxLayout(row, flex-start, center);
                background-color: var(--dark-background-2);
                border-radius: 4px;
                height: 40px;
                margin-bottom: 4px;
                width: 100%;
        
                .subtask-description {
                    @include darkBodyMText;
                    margin: 0;
                }
            }
        }

        .mat-mdc-form-field {
            width: 100%;
        }

        .subtask-status {
            @include flexboxLayout(row, flex-start, center);
            border-radius: 4px;
            border: 1px solid var(--border-5);
            height: 40px;
            margin-bottom: 16px;
            padding: 8px 16px;

            &-text {
                @include darkBodyLText;
                margin: 0;
            }
        }
    }

    .mat-mdc-dialog-actions {
        @include flexboxLayout(row, flex-end, center);
        width: 100%;

        button {
            @include mainButtonStyles;
            
            color: var(--dark-title-text-1);
            padding: 4px 24px;
        }
    }
   
}
