@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@import "styles.scss";

.task-dialog-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    background-color: var(--background-2);
    overflow: hidden;
    
    .title-container {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 24px;
        padding: 0;
        width: 100%;
        
        .mat-mdc-dialog-title {
            @include kanban.kanbanHeadingLText;
            margin: 0;
            max-width: 300px;
            padding: 0;

            @include global.response(md) {
                max-width: 220px;
            }
        }

        mat-icon {
            color: var( --subtitle-text-1);
        }
    }


    .dialog-subtitle {
        @include kanban.kanbanBodyLText;
        color: var(--subtitle-text-1);
        margin-bottom: 24px;
    }

    .mat-mdc-dialog-content {
        overflow: hidden;
        padding: 0;
        width: 100%;

        .subtasks-header {
            @include kanban.kanbanBodyMText;
            color: var(--subtitle-text-1);
            margin-bottom: 16px;
        }

        .subtasks-scroll-container {
            max-height: 240px;
            overflow-y: auto;
            margin-bottom: 24px;

            @include global.response(h-md) {
                max-height: 130px;
            }

            .subtask-card {
                @include global.flexboxLayout(row, flex-start, center);
                background-color: var(--checkbox-background);
                border-radius: 4px;
                height: 40px;
                margin-bottom: 4px;
                width: 100%;

                &:hover {
                    background-color: var(--checkbox-background-hover);
                }

                .subtask-description {
                    @include kanban.kanbanBodyMText;
                    margin: 0;
                }

                .subtask-completed {
                    color: var(--kanban-grey-5);
                    text-decoration: line-through;
                }
            }
        }

        .mat-mdc-form-field {
            width: 100%;
        }

        .subtask-status {
            @include global.flexboxLayout(row, flex-start, center);
            border-radius: 4px;
            border: 1px solid var(--border-5);
            height: 40px;
            margin-bottom: 16px;
            padding: 8px 16px;

            &-text {
                @include kanban.kanbanBodyLText;
                margin: 0;
            }
        }
    }

    .mat-mdc-dialog-actions {
        @include global.flexboxLayout(row, flex-end, center);
        width: 100%;

        button {
            @include kanban.kanbanMainButtonStyles;
            @include kanban.kanbanColors;
                justify-content: center;
                margin: 4px 0;
                padding: 4px 24px;

                &:hover {
                    @include kanban.kanbanColors($background-color: var(--kanban-primary-hover), $color: var(--kanban-on-primary-hover));

                }
        }
    }
   
}
