<p>Design system</p>

<div class="design-container">

    <div class="elements">

        <div class="colors">
            <div class="color color-1">
                <p>Purple 1</p>
            </div>
            <div class="color color-2">
                <p>Purple 2</p>
            </div>
            <div class="color color-3">
                <p>Grey 1</p>
            </div>
            <div class="color color-4">
                <p>Grey 2</p>
            </div>
            <div class="color color-5">
                <p>Grey 3</p>
            </div>
            <div class="color color-6">
                <p>Grey 4</p>
            </div>
            <div class="color color-7">
                <p>Grey 5</p>
            </div>
            <div class="color color-8">
                <p>Grey 6</p>
            </div>
            <div class="color color-9">
                <p>White 1</p>
            </div>
            <div class="color color-10">
                <p>White 2 </p>
            </div>
            <div class="color color-11">
                <p>Red 1</p>
            </div>
            <div class="color color-12">
                <p>Red 2</p>
            </div>

        </div>

        <div class="interactive">

            <div class="buttons">
                <button class="button button-1">Primary L Idle</button>
                <button class="button button-2">Primary S Idle</button>
                <button class="button button-3">Secondary Idle</button>
                <button class="button button-4">Destructive Idle</button>
                <button class="button button-5">Primary L Hover</button>
                <button class="button button-6">Primary S Hover</button>
                <button class="button button-7">Secondary Hover</button>
                <button class="button button-8">Destructive Hover</button>

            </div>

            <div class="fields">

                <div class="checkboxes">

                    <div class="checkbox-container checkbox-idle">
                        <input type="checkbox" id="idle" class="checkbox">
                        <label for="idle" class="checkbox-label">Idle</label>
                    </div>
                    
                    <div class="checkbox-container checkbox-hovered">
                        <input type="checkbox" id="hovered" class="checkbox">
                        <label for="hovered" class="checkbox-label">Hovered</label>
                    </div>
                    
                    <div class="checkbox-container checkbox-completed">
                        <input type="checkbox" id="completed" class="checkbox" checked  >
                        <label for="completed" class="checkbox-label">Completed</label>
                    </div>

                </div>

                <div class="text-fields">
                    <input type="text" class="text-field text-field-1">
                    <input type="text" class="text-field text-field-2">
                    <input type="text" class="text-field text-field-3">

                </div>

                <div class="dropdown">

                    <!-- <select name="dropdown" id="dropdown" class="dropdown dropdown-1">
                        <option value="Option 1" class="option option-1">Option 1</option>
                        <option value="Option 2" class="option option-2">Option 2</option>
                        <option value="Option 3" class="option option-3">Option 3</option>
                    </select> -->

                </div>

            </div>

        </div>


    </div>

    <div class="typography">

        
        <div class="light-styles spacer">
            
            <p class="light-heading-xl spacer">Light styles</p>
            
            <p class="light-heading-xl">Light heading XL</p>
            <p class="light-heading-xl spacer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fuga, voluptatibus corporis pariatur, obcaecati quisquam, quasi laboriosam alias ullam voluptatem culpa. Nulla laboriosam voluptatibus officiis perferendis omnis? At, culpa autem.</p>
            
            <p class="light-heading-l">Light heading L</p>
            <p class="light-heading-l spacer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio hic minus magni fugit praesentium nam quam quo officia expedita obcaecati quidem, nihil autem ratione, pariatur temporibus magnam ab natus ipsum?</p>
            
            <p class="light-heading-m">Light heading M</p>
            <p class="light-heading-m spacer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam ut repellendus recusandae, ea, provident ipsa doloribus in temporibus porro eum inventore reiciendis, ab assumenda? Aliquam praesentium quae ea beatae.</p>
            
            <p class="light-heading-s">Light heading S</p>
            <p class="light-heading-s spacer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ducimus deserunt debitis tempora? Blanditiis corporis accusamus quis, ratione ullam et nostrum iure consequatur voluptatem eum id non assumenda perspiciatis. Exercitationem.</p>
            
            <p class="light-body-l">Light body L</p>
            <p class="light-body-l spacer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi fuga sapiente beatae autem nesciunt modi minima, tempora aliquam quas ex aspernatur ipsa quo! Unde rerum numquam officia praesentium suscipit nemo.</p>
            
            <p class="light-body-m">Light body M</p>
            <p class="light-body-m spacer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora labore tenetur saepe, minima voluptatum iusto molestiae culpa adipisci eum non explicabo! Deserunt exercitationem inventore cum vitae mollitia id nesciunt ad.</p>
            
        </div>
        
        <div class="dark-styles spacer">
            
            <p class="dark-heading-xl spacer">Dark styles</p>
            
            <p class="dark-heading-xl">Dark heading XL</p>
            <p class="dark-heading-xl spacer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fuga, voluptatibus corporis pariatur, obcaecati quisquam, quasi laboriosam alias ullam voluptatem culpa. Nulla laboriosam voluptatibus officiis perferendis omnis? At, culpa autem.</p>
    
            <p class="dark-heading-l">Dark heading L</p>
            <p class="dark-heading-l spacer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio hic minus magni fugit praesentium nam quam quo officia expedita obcaecati quidem, nihil autem ratione, pariatur temporibus magnam ab natus ipsum?</p>
            
            <p class="dark-heading-m">Dark heading M</p>
            <p class="dark-heading-m spacer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam ut repellendus recusandae, ea, provident ipsa doloribus in temporibus porro eum inventore reiciendis, ab assumenda? Aliquam praesentium quae ea beatae.</p>
            
            <p class="dark-heading-s">Dark heading S</p>
            <p class="dark-heading-s spacer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ducimus deserunt debitis tempora? Blanditiis corporis accusamus quis, ratione ullam et nostrum iure consequatur voluptatem eum id non assumenda perspiciatis. Exercitationem.</p>
            
            <p class="dark-body-l">Dark body L</p>
            <p class="dark-body-l spacer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi fuga sapiente beatae autem nesciunt modi minima, tempora aliquam quas ex aspernatur ipsa quo! Unde rerum numquam officia praesentium suscipit nemo.</p>
            
            <p class="dark-body-m">Dark body M</p>
            <p class="dark-body-m spacer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora labore tenetur saepe, minima voluptatum iusto molestiae culpa adipisci eum non explicabo! Deserunt exercitationem inventore cum vitae mollitia id nesciunt ad.</p>
            
        </div>
        
    </div>
        
    <div class="colors-container light-theme">
        <div class="color-swatch">
            
        </div>
        
    </div>
    <div class="colors-container light-theme">
        <div class="color-swatch">

        </div>

    </div>
</div>



