
<div class="tour-bubble-container not-visible" *ngIf="selectedBubble as bubble">

    <div class="pointer"
         [style.top]="bubble.pointerTop"
         [style.left]="bubble.pointerLeft"
    ></div>

    <p class="title-text">{{bubble.title | titlecase}}</p>

    <p class="description">{{bubble.description}}</p>

    <div class="progress"></div>

    <div class="buttons-container">

        <button class="action-button next" (click)="handleSelectNextBubble()">Next</button>
        <button class="action-button cancel" (click)="handleCloseTour()">Got it</button>

    </div>

</div>