@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.about-panel-container {
    @include global.flexboxLayout(row, center, flex-start);
    background-color: var(--au-light-background);
    flex-grow: 1;
    
    .about-panel-inner-container {
        @include global.flexboxLayout(row, space-between, center);
        // @include global.border1(black, 1px);
        height: 588px;
        max-width: 1110px;
        width: 100%;
        
        @include audioMixin.response(xl) {
            @include global.flexboxLayout(column, center, center);
            max-width: 768px;
        }
        
        .left {
            // @include global.border1(black, 1px);
            width: 50%;

            @include audioMixin.response(xl) {
                @include global.flexboxLayout(column, center, center);
                order: 2;
                text-align: center;
                width: 573px;
            }

            .about-text {
                max-width: 445px;

                @include audioMixin.response(xl) {
                    max-width: 573px;
                    margin-bottom: 32px;
                }
            }

            .red-text {
                color: var(--au-primary-idle);
            }
        }
        
        .img {
            background-image: url(../../../../../assets/audio/shared/desktop/image-best-gear.jpg);
            border-radius: 8px;
            height: 588px;
            width: 540px;
            
            @include audioMixin.response(xl) {
                background-image: url(../../../../../assets/audio/shared/tablet/image-best-gear.jpg);
                background-size: cover;
                height: 300px;
                width: 689px;
                margin-bottom: 63px;
                order: 1;
            }
            
        }
    }

    .about-headline-text {
        @include audioMixin.header2Text;
    }
    
    .description-text {
        @include audioMixin.bodyText;

    }
}