@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.about-panel-container {
    @include global.flexboxLayout(row, center, flex-start);
    background-color: var(--au-light-background);
    width: 100%;
    
    .about-panel-inner-container {
        @include global.flexboxLayout(row, space-between, center);
        // @include global.border1(black, 1px);
        max-width: 1110px;
        width: 100%;

        @include audioMixin.response(lg) {
            @include global.flexboxLayout(column, center, center);
            max-width: var(--au-md-inner-width);
        }
        
        @include audioMixin.response(md) {
            max-width: var(--au-sm-inner-width);
        }
        
        .left {
            @include global.flexboxLayout(column, center, flex-start);
            // @include global.border1(black, 1px);
            width: 50%;
            
            @include audioMixin.response(lg) {
                order: 2;
                text-align: center;
                width: 100%;
                max-width: 575px;
            }

            .about-text {
                max-width: 445px;

                @include audioMixin.response(lg) {
                    max-width: 100%;
                    margin-bottom: 32px;
                }
            }

            .red-text {
                color: var(--au-primary-idle);
            }
        }
        
        .img {
            background-image: url(../../../../../assets/audio/shared/desktop/image-best-gear.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            height: 588px;
            width: 50%;
            
            @include audioMixin.response(lg) {
                background-image: url(../../../../../assets/audio/shared/tablet/image-best-gear.jpg);
                height: 300px;
                margin-bottom: 63px;
                width: 100%;
            }
            
            @include audioMixin.response(md) {
                background-image: url(../../../../../assets/audio/shared/mobile/image-best-gear.jpg);
                height: 300px;
            }
        }
    }

    .about-headline-text {
        @include audioMixin.header2Text;
    }
    
    .description-text {
        @include audioMixin.bodyText;
    }
}