

<div class="about-panel-container">
    
    <div class="about-panel-inner-container">

        <div class="left">

            <p class="about-headline-text about-text">bringing you the <span class="red-text">best</span> audio gear</p>
            
            <p class="description-text about-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio officiis placeat aut cumque aperiam recusandae temporibus a quam reprehenderit nesciunt voluptatum fugit, consectetur nemo perferendis quasi sed sint similique ipsa ullam. Mollitia reprehenderit quam qui tempore! Soluta aliquam assumenda ipsa perferendis possimus cum autem quam beatae quod cumque, porro totam?</p>

        </div>

        <img src="../../../../../assets/audio/shared/desktop/image-best-gear.jpg" alt="">
        
    </div>

</div>