@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.also-like-container {
    @include global.flexboxLayout(row, center, center);
    
    .also-like-inner-container {
        @include global.flexboxLayout(column, space-between, center);
        height: 100%;
        max-width: 1110px;
        width: 100%;

        @include audioMixin.response(lg) {
            max-width: var(--au-md-inner-width);
        }
        
        @include audioMixin.response(md) {
            max-width: var(--au-sm-inner-width);
        }
        
        .headline-text {
            @include audioMixin.header3Text;
            margin-bottom: 64px;
        }
        
        .bottom-container {
            @include global.flexboxLayout(row, space-between, center);
            
            @include audioMixin.response(md) {
                @include global.flexboxLayout(column, flex-start, center);
            }

            .product-container {
                @include global.flexboxLayout(column, flex-start, center);
                
                img {
                    margin-bottom: 40px;
                    width: 350px;

                    @include audioMixin.response(lg) {
                        width: 223px;
                    }

                    @include audioMixin.response(md) {
                        width: 190px;
                    }
                }
                
                .product-headline-text {
                    @include audioMixin.header5Text;
                    margin-bottom: 32px;

                }

                .see-product-button {
                    @include audioMixin.buttonStyles;
                    @include audioMixin.audioColors;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--au-primary-hover);
                    }
                }
            }
        }
    }

}