
<div class="also-like-container">

    <div class="also-like-inner-container">
        
        <p class="headline-text">{{AppText.ALSO_LIKE}}</p>

        <div class="bottom-container">
    
            <ng-container *ngFor="let product of products">
      
                <div class="product-container">
                    
                    <img src="{{product.image[viewportMode]}}" alt="">
                
                    <div class="product-headline-text">{{product.name}}</div>
                
                    <a [routerLink]="['../../products', product.slug]" type="button" class="see-product-button">
                        {{AppText.SEE_PRODUCT}}
                    </a>
                
                </div>

            </ng-container>

        </div>

    </div>
    
</div>
