

<div class="also-like-container">

    <div class="also-like-inner-container">
        
        <p class="headline-text">you may also like</p>

        <div class="bottom-container">
    
            <!-- ngFor here -->
            <div class="product-container">
                
                <img src="../../../../../assets/audio/shared/desktop/image-xx99-mark-one-headphones.jpg" alt="">
            
                <div class="product-headline-text">xx99 mark i</div>
            
                <button class="see-product-button">see product</button>
            
            </div>

        </div>

    </div>
</div>