

<div class="home-feature-container">

    <div class="home-feature-inner-container">

        <div class="feature top">

            <div class="left">

                <img src="../../../../../assets/audio/home/desktop/image-speaker-zx9.png">

            </div>


            <div class="right">

                <div class="text-container">
                    
                    <p class="headline-text headline">{{AppText.ZX9_SPEAKER}}</p>
                    
                    <p class="description-text description">{{HOME_FEATURE_TEXT}}</p>
            
                    <a [routerLink]="['../products', AppText.ZX9_SPEAKER_SLUG]" type="button" class="see-product-button">
                        {{AppText.SEE_PRODUCT}}
                    </a>

                </div>
                
            </div>
            
        </div>
        
        <div class="feature middle">
            
            <p class="sub-headline-text">{{AppText.ZX7_SPEAKER}}</p>
            
            <a [routerLink]="['../products', AppText.ZX7_SPEAKER_SLUG]" type="button" class="see-product-button">
                {{AppText.SEE_PRODUCT}}
            </a>
            
        </div>
        
        <div class="feature bottom">

            <!-- <img src="../../../../../assets/audio/home/desktop/image-earphones-yx1.jpg" class="img"> -->
            <div class="img"></div>

            <div class="right">

                <p class="sub-headline-text">{{AppText.YX1_HEADPHONES}}</p>
                
                <a [routerLink]="['../products', AppText.YX1_HEADPHONES_SLUG]" type="button" class="see-product-button">
                    {{AppText.SEE_PRODUCT}}
                </a>

            </div>

        </div>
    
    </div>

</div>