

<div class="home-feature-container">

    <div class="home-feature-inner-container">

        <div class="feature top">

            <div class="left">

                <img src="../../../../../assets/audio/home/desktop/image-speaker-zx9.png">

            </div>


            <div class="right">

                <div class="text-container">
                    
                    <p class="headline-text headline">zx9 speaker</p>
                    
                    <p class="description-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id optio culpa sunt porro nesciunt magni maxime aut iste inventore.</p>
    
                    <button class="see-product-button">see product</button>

                </div>
                
            </div>
            
        </div>
        
        <div class="feature middle">
            
            <p class="sub-headline-text">zx7 speaker</p>
            
            <button class="see-product-button">see product</button>
            
        </div>
        
        <div class="feature bottom">

            <img src="../../../../../assets/audio/home/desktop/image-earphones-yx1.jpg" class="img">

            <div class="right">

                <p class="sub-headline-text">yx1 earphones</p>
                
                <button class="see-product-button">see product</button>

            </div>

        </div>
    
    </div>

</div>