@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.home-feature-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--au-light-background);
    flex-grow: 1;
    
    .home-feature-inner-container {
        @include global.flexboxLayout(column, flex-start, center);
        // @include global.border1(black, 1px);
        max-width: 1110px;
        width: 100%;

        .feature {
            border-radius: 8px;
            width: 100%;
            
            &:not(:last-child) {
                margin-bottom: 48px;
            }
        }
        
        .top {
            @include global.flexboxLayout(row, space-between, flex-start);
            // @include global.border1(black, 1px);
            background-color: var(--au-primary-idle);
            background-image: url(../../../../../assets/audio/home/desktop/pattern-circles.svg);
            background-size: cover;
            
            .left {
                @include global.flexboxLayout(row, flex-end, flex-end);
                // @include global.border1(black, 1px);
                height: 560px;
                width: 540px;

                img {
                    width: 410px;
                }
            }
            
            
            .right {
                @include global.flexboxLayout(row, center, flex-end);
                // @include global.border1(black, 1px);
                align-self: center;
                
                .text-container {
                    margin-right: 95px;
                    width: 350px;
                    
                    .headline {
                        @include global.flexboxLayout(column, space-between, flex-start);
                        color: var(--au-white);
                        margin-bottom: 24px;
                        width: 100px;
                        
                    }
                    
                    .description {
                        color: var(--au-white);
                        margin-bottom: 40px;

                    }

                    .see-product-button {
                        @include audioMixin.buttonStyles;
                        @include audioMixin.audioColors(var(--au-black), var(--au-white));
                    }
                }
            }
        }
        
        .middle {
            @include global.flexboxLayout(column, space-between, flex-start);
            // @include global.border1(black, 1px);
            background-image: url(../../../../../assets/audio/home/desktop/image-speaker-zx7.jpg);
            background-size: cover;
            padding: 101px 95px;
            width: 100%;

            .see-product-button {
                @include audioMixin.buttonStyles;
                @include audioMixin.audioColors(transparent, var(--au-black));
            }
        }
        
        .bottom {
            @include global.flexboxLayout(row, space-between, flex-start);
            // @include global.border1(black, 1px);
            width: 100%;
            
            img {
                border-radius: 8px;
                height: 320px;
                width: 540px;
                
            }
            
            .right {
                @include global.flexboxLayout(column, center, flex-start);
                height: 320px;
                width: 540px;
                padding: 101px 95px;
                
                .see-product-button {
                    @include audioMixin.buttonStyles;
                    @include audioMixin.audioColors(transparent, var(--au-black));
                }
            }
        }
    }

    .headline-text {
        @include audioMixin.header1Text;
    }
    
    .sub-headline-text {
        @include audioMixin.header4Text;
    }
    
    .description-text {
        @include audioMixin.bodyText;
    }
}