<ng-container *ngIf="tasks.length !== 0; else noTasks">

    <div class="scroll-container">
    
        <div class="columns-container column-boundary"
             cdkDropListGroup
        >

            <div *ngFor="let column of userSelectedColumns$ | async"
                 [ngStyle]="{'order': getColumnOrder(column.name)}"
                 [style.width.px]="getWidth(userSelectedColumns.length)"
                 class="column-container"
                 id="{{column.id}}"
                 cdkDropList
                 [cdkDropListData]="allocatedTasks[column.name]"
                 (cdkDropListDropped)="dropElement($event)"
            >
            
                <ng-container *ngIf="allocatedTasks[column.name]">

                    <div class="column-header">
                        <div class="color-circle"
                        [ngStyle]="{'background-color': getColumnColor(column.name)}"
                        ></div>
                        <p class="column-header-text">{{column.name}} ({{allocatedTasks[column.name].length}})</p>
                    </div>


                    <div *ngFor="let task of allocatedTasks[column.name]"
                        class="task-card"
                        (click)="setSelectedTask(task)"
                        cdkDragBoundary=".column-boundary"
                        cdkDrag
                    >
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        <div class="handle-container">
                            
                            <mat-icon cdkDragHandle>drag_indicator</mat-icon>

                        </div>
                        
                        <div class="drag-element-content">
                            <p class="task-title">{{task.displayName}}</p>
                            <p class="task-subtitle">{{task.status}}</p>
                            <p class="task-subtitle">x of x subtasks</p>
                        </div>
            
                    </div>

                </ng-container>

                <div *ngIf="column.name === 'new column'" 
                    class="new-column-area"
                >
                    <button mat-button
                            class="new-column-button"
                            (click)="openColumnSettingsDialog()"
                    >
                        <mat-icon>settings</mat-icon>
                            columns
                    </button>
                </div>

            </div>

            <!-- <div class="new-column-area"
            >
                <button mat-button
                        class="new-column-button"
                        (click)="openColumnSettingsDialog()"
                >
                    <mat-icon>settings</mat-icon>
                        columns
                </button>
            </div> -->

        </div>

    </div>

</ng-container>

<ng-template #noTasks>
    <div class="no-tasks-container">
        
        <p class="empty-board">{{emptyBoardText}}</p>
        <button mat-button
                class="add-column-button"
                (click)="addNewTask()"
        >
            <mat-icon>add</mat-icon>
            Add New Task
        </button>

    </div>

</ng-template>
