<ng-container *ngIf="tasks.length !== 0; else noTasks">

    <div class="scroll-container">
    
        <div class="columns-container">

            <div *ngFor="let column of columns"
                [ngStyle]="{'order': getColumnOrder(column)}"
                [style.width.px]="getWidth(columns.length)"
                class="column-container" 
            >
            
                <ng-container *ngIf="allocatedTasks[column]">

                    <div class="column-header">
                        <div class="color-circle"
                        [ngStyle]="{'background-color': getColumnColor(column)}"
                        ></div>
                        <p class="column-header-text">{{column}} ({{allocatedTasks[column].length}})</p>
                    </div>


                    <div *ngFor="let task of allocatedTasks[column]"
                        class="task-card"
                        (click)="setSelectedTask(task)"
                    >
                        <p class="task-title">{{task.displayName}}</p>
                        <p class="task-subtitle">{{task.status}}</p>
                        <p class="task-subtitle">x of x subtasks</p>
            
                    </div>

                </ng-container>

                <div *ngIf="column === 'new-column'" 
                    class="new-column-area"
                >
                    <mat-icon>add</mat-icon>
                    <button mat-button class="new-column-button">new column</button>
                </div>

            </div>

        </div>

    </div>

</ng-container>

<ng-template #noTasks>
    <div class="no-tasks-container">
        
        <p class="empty-board">{{emptyBoardText}}</p>
        <button mat-button
                class="add-column-button"
                (click)="addNewTask()"
        >
            <mat-icon>add</mat-icon>
            Add New Task
        </button>

    </div>

</ng-template>
