@use '../styles/global-mixins' as global;
@use '../styles/global-variables' as globalVar;
@use '../css-tricks-mixins' as cssTricks;
@import "styles.scss";

.navigation {
    @include global.flexboxLayout(row, center, center);
    position: relative;
    width: 432px;
    height: 76px;
    background-color: #fff;
    border-radius: 10px;
    
    .nav-items-container {
        display: flex;
        min-width: 350px;
        
        .nav-item {
            @include global.flexboxLayout(column, center, center);
                position: relative;
                width: 76px;
                height: 76px;
                z-index: 1;

            & .link {
                @include global.flexboxLayout(column, center, center);
                position: relative;
                width: 100%;
                text-align: center;
                font-weight: 500;
                
                mat-icon {
                    position: relative;
                    display: block;
                    text-align: center;
                    transition: 0.5s;
                    color: var(--color);
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                }

                .text {
                    position: absolute;
                    color: var(--color);
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }
            }

            &:nth-child(1).active ~ .indicator {
                transform: translateX(calc(76px * 0));
            }

            &:nth-child(2).active ~ .indicator {
                transform: translateX(calc(76px * 1));
            }

            &:nth-child(3).active ~ .indicator {
                transform: translateX(calc(76px * 2));
            }
            
            &:nth-child(4).active ~ .indicator {
                transform: translateX(calc(76px * 3));
            }
            
            &:nth-child(5).active ~ .indicator {
                transform: translateX(calc(76px * 4));
            }
        }

        .active {
        
            .link {
                
                mat-icon {
                    transform: translateY(-38px);
                }

                .text {
                    opacity: 1;
                    transform: translateY(16px);
                }
            }
        }
        
        .indicator {
            position: absolute;
            top: -53%;
            width: 64px;
            height: 64px;
            background-color: #29fd53;
            border-radius: 50%;
            border: 6px solid var(--color);
            transition: 0.5s;

            &::before {
                content: '';
                position: absolute;
                top: 54%;
                left: -21px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-top-right-radius: 20px;
                box-shadow: 0px -10px 0 0 var(--color);
            }

            &::after {
                content: '';
                position: absolute;
                top: 54%;
                right: -21px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-top-left-radius: 20px;
                box-shadow: 0px -10px 0 0 var(--color);
            }
        }
    }
}