<div class="swipe-component-container">

    <div #swipeContainer
         class="swipe-container"
         [class.left]="clickDirectionBS.value === Direction.LEFT 
                           || clickDirectionBS.value === Direction.UNDEFINED"
         [class.right]="clickDirectionBS.value === Direction.RIGHT"
    >
        
        <div #elementsContainer
             class="elements-container"
             [class.left]="clickDirectionBS.value === Direction.LEFT 
                           || clickDirectionBS.value === Direction.UNDEFINED"
             [class.right]="clickDirectionBS.value === Direction.RIGHT"
             [@cardContainerAnimator]="swipeState$ | async"
             (@cardContainerAnimator.start)="checkSwipeState($event)"
             (@cardContainerAnimator.done)="resetSwipeState($event)"
        >

            <ng-container *ngIf="displayElements$ | async as elements">

                <ng-container *ngFor="let element of elements; let i = index">

                    <div class="element-container" 
                         (swipeleft)="handleSwipe(Direction.LEFT)"
                         (swiperight)="handleSwipe(Direction.RIGHT)"
                    >
                    
                        <p class="element-title">
                            {{element.title}}
                        </p>

                    </div>

                </ng-container>
                
            </ng-container>
            
        </div>

    </div>

    <!-- Displayed cards indicator and move buttons -->
    <div class="controls-container">

        <div class="indicator-container">

            <ng-container *ngIf="allElements$ | async as elements">

                <ng-container *ngFor="let element of elements; let i = index">

                    <div class="indicator"
                         [class.displayed]="indicatorIndices.includes(i)"
                    >
                        {{i}}
                    </div>
            
                </ng-container>
            
            </ng-container>
        
        </div>

        <div class="buttons-container">
            
            <button class="carousel-button" (click)="handleClick(Direction.LEFT)"
                    [disabled]="leftCarouselButtonDisabled"
            >
                <
            </button>
            
            <button class="carousel-button" (click)="handleClick(Direction.RIGHT)"
                    [disabled]="rightCarouselButtonDisabled"
            >
                >
            </button>

        </div>

    </div>

</div>
