@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.product-detail-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--au-light-background);
    flex-grow: 1;

    .product-detail-inner-container {
        @include global.flexboxLayout(column, space-between, flex-start);
        // @include global.border1(black, 1px);
        height: 100%;
        max-width: 1110px;
        width: 100%;
        background-origin: border-box;
        background-position-y: bottom;

        @include audioMixin.response(xl) {
            max-width: 768px;
            padding: 0 40px;
        }
        
        .top {
            @include global.flexboxLayout(row, space-between, flex-start);
            margin-bottom: 160px;
            
            @include audioMixin.response(xl) {
                @include global.flexboxLayout(row, center, center);
                margin-bottom: 120px;
                max-width: 768px;
            }

            @include audioMixin.response(sm) {
                @include global.flexboxLayout(column, center, center);
                
            }

            .left {
                @include global.flexboxLayout(row, center, center);
                width: 50%;
                
                img {
                    width: 560px;
                    
                    @include audioMixin.response(xl) {
                        width: 280px;
                     
                    }
                }
            }
    
            .right {
                @include global.flexboxLayout(column, space-between, flex-start);
                // @include global.border1(black, 1px);
                width: 50%;
                z-index: 1;
                margin-left: 30px;
                
                @include audioMixin.response(md) {
                    @include global.flexboxLayout(column, center, center);
                    margin-left: 0;
                    text-align: center;
                    width: 66%;
                 
                }

                @include audioMixin.response(sm) {
                    width: 100%;
                    
                }

                .status-text {
                    @include audioMixin.overlineText;
                    color: var(--au-primary-idle);
                    margin-bottom: 24px;
                    opacity: 50%;
                    
                    @include audioMixin.response(xl) {
                        font-size: 12px;
                        margin-bottom: 17px;
                     
                    }
                }
                
                .headline {
                    @include audioMixin.header1Text;
                    color: var(--au-black);
                    margin-bottom: 24px;
                    
                    @include audioMixin.response(xl) {
                        @include audioMixin.header4Text;
                        margin-bottom: 32px;
                     
                    }
                }
        
                .description {
                    @include audioMixin.bodyText;
                    color: var(--au-black);
                    opacity: 75%;
                    max-width: 66%;
                    margin-bottom: 40px;
                    
                    @include audioMixin.response(xl) {
                        margin-bottom: 32px;
                        max-width: 100%;
                     
                    }
                }
    
                .price {
                    @include audioMixin.header6Text;
                    margin-bottom: 46px;

                    @include audioMixin.response(xl) {
                        margin-bottom: 32px;
                    }
    
                }
    
                .quantity-container {
                    @include global.flexboxLayout(row, space-between, center);
                    
                    .counter-button {
                        @include audioMixin.subtitleText;
                        @include audioMixin.audioColors(var(--au-light-background), var(--au-black));
                        margin-right: 20px;
                        opacity: 0.25;
    
                        &:last-of-type {
                            margin-right: 32px;
                        }
                        
                    }
                    
                    .count {
                        @include audioMixin.subtitleText;
                        margin-right: 16px;
                    }
                    
                    .see-product-button {
                        @include audioMixin.buttonStyles;
                        @include audioMixin.audioColors;
                    }
    
                }
        
            }

        }

        .bottom {
            @include global.flexboxLayout;
            margin-bottom: 160px;

            @include audioMixin.response(xl) {
                @include global.flexboxLayout(column, space-between, center);
                margin-bottom: 120px;
             
            }
            
            .bottom-left {
                @include global.flexboxLayout(column, space-between, flex-start);
                width: 66%;
                
                @include audioMixin.response(xl) {
                    margin-bottom: 120px;
                    width: 100%;
                }

                @include audioMixin.response(sm) {
                    text-align: center;
                    
                }

                .headline-text {
                    width: 100%;
                }

                .description-text {
                    max-width: 80%;

                    @include audioMixin.response(xl) {
                        max-width: 100%;
                    }

                    
    
                }
            }
            
            .bottom-right {
                @include global.flexboxLayout(column, space-between, flex-start);
                
                @include audioMixin.response(xl) {
                    @include global.flexboxLayout(row, space-between, flex-start);
                    width: 100%;
                }

                @include audioMixin.response(sm) {
                    @include global.flexboxLayout(column, center, center);
                    width: 100%;
                }

                .contents-container {

                    @include audioMixin.response(xl) {
                        @include global.flexboxLayout(column, space-between, flex-start);
                        width: 50%;
                    }
                    
                    @include audioMixin.response(sm) {
                        @include global.flexboxLayout(column, space-between, flex-start);
                        width: 66%;
                    }
                    
                    .contents-text {
                        @include audioMixin.bodyText;
    
                        .quantity-text {
                            @include audioMixin.subtitleText;
                            color: var(--au-primary-idle);
                            margin-right: 24px;
    
                        }
                    }

                }

            }

            .headline-text {
                @include audioMixin.header3Text;
                margin-bottom: 32px;
            }
            
            .description-text {
                @include audioMixin.bodyText;
            }
        }

        .product-images {
            @include global.flexboxLayout;
            
            @include audioMixin.response(xl) {
                @include global.flexboxLayout(row, center, center);
                width: 100%;
            }
            
            .left {
                @include global.flexboxLayout(column, space-between, flex-start);
                margin-right: 30px;
                
                @include audioMixin.response(xl) {
                    margin-right: 18px;
                }

                .one {
                    border-radius: 8px;
                    height: 280px;
                    margin-bottom: 32px;
                    width: 445px;
                    
                    @include audioMixin.response(xl) {
                        height: 174px;
                        width: 277px;
                        margin-bottom: 20px;
                    }
                    
                    @include audioMixin.response(md) {
                        height: 150px;
                        width: 240px;
                        margin-bottom: 20px;
                    }
                    
                }
                
                .two {
                    border-radius: 8px;
                    height: 280px;
                    width: 445px;
                    
                    @include audioMixin.response(xl) {
                        height: 174px;
                        width: 277px;
                    }

                    @include audioMixin.response(md) {
                        height: 150px;
                        width: 240px;
                    }
                    
                }
            }
            
            .right {
                border-radius: 8px;
                height: 592px;
                width: 635px;

                @include audioMixin.response(xl) {
                    height: 368px;
                    width: 395px;
                }

                @include audioMixin.response(md) {
                    height: 318px;
                    width: 342px;
                 
                }

            }
        }


    }
}