

<div class="product-detail-container">

    <div class="product-detail-inner-container">
        
        <div class="top">
            
            <div class="left">
                
                <img src="{{product.image[viewportMode]}}">

            </div>
        
            <div class="right">
        
                <p class="status-text" *ngIf="product.new">{{AppText.NEW_PRODUCT}}</p>
        
                <p class="headline">{{product.name}}</p>
        
                <p class="description">{{product.description}}</p>
    
                <p class="price">$ {{product.price}}</p>
        
                <div class="quantity-container">

                    <button class="counter-button decrement-button" (click)="incrementCount(-1)">-</button>
                    <p class="count">{{count}}</p>
                    <button class="counter-button increment-button" (click)="incrementCount(1)">+</button>
                    
                    <button class="see-product-button" (click)="addToCart()">
                        {{AppText.ADD_TO_CART}}
                    </button>
    
                </div>
        
            </div>

        </div>

        <div class="bottom">

            <div class="bottom-left">

                <p class="headline-text">{{AppText.FEATURES}}</p>

                <p class="description-text">{{product.features}}</p>

            </div>

            <div class="bottom-right">

                <p class="headline-text">{{AppText.IN_THE_BOX}}</p>

                <div class="contents-container">
                    
                    <p class="contents-text" *ngFor="let item of product.includes"> 
                        <span class="quantity-text">{{item.quantity}} x</span>
                        {{item.item}}
                    </p>

                </div>
                
            </div>

        </div>

        <div class="product-images">
            
            <div class="left">

                <img src="{{product.gallery['first'][viewportMode]}}" class="one">
            
                <img src="{{product.gallery['second'][viewportMode]}}" class="two">
                
            </div>

            <img src="{{product.gallery['third'][viewportMode]}}" class="right">
            
        </div>

    </div>
    
</div>