

<div class="product-detail-container">

    <div class="product-detail-inner-container">
        
        <div class="top">
            
            <div class="left">
        
            </div>
        
            <div class="right">
        
                <p class="status-text">new product</p>
        
                <p class="headline">xx 99 mark ii headphones</p>
        
                <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque earum explicabo esse mollitia culpa consequatur atque commodi.</p>
    
                <p class="price">$2,999</p>
        
                <div class="quantity-container">
                    
                    <p class="counter-button">-</p>
                    <p class="count">1</p>
                    <p class="counter-button">+</p>
                    
                    <button class="see-product-button">
                        add to cart
                    </button>
    
                </div>
        
            </div>

        </div>

        <div class="bottom">

            <div class="bottom-left">

                <p class="headline-text">features</p>

                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam illo quae aliquid molestiae, ipsam assumenda, fuga in velit nostrum nobis deleniti. Iure vitae nisi enim dolore quis earum laborum minus vero suscipit, molestiae dolor sequi itaque modi porro tempora illum sit necessitatibus ipsam quos, possimus laudantium cumque voluptatem quae facilis?</p>

            </div>

            <div class="bottom-right">

                <p class="headline-text">in the box</p>

                <p class="contents-text"> 
                    <span class="quantity-text">1x</span>
                    headphone unit
                </p>

            </div>

        </div>

        <div class="product-images">
            
            <div class="left">
            
                <div class="one"></div>
                <div class="two"></div>

            </div>
            
            <div class="right"></div>
        
        </div>

    </div>
    
</div>