@import "styles.scss";

:host {
    @include flexboxLayout(row, flex-start, flex-start);
    height: 100%;

    .mat-sidenav-container {
        height: 100%;
        width: 100%;
    }

    .heading {
        @include darkHeadingXLText;
        margin: 34px 120px 54px 34px;
    }
    

    .nav-bar {
        @include flexboxLayout(row, flex-end, center);
        width: 100%;

        .nav-button {
            @include mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), var(--size-button-tall));
            align-self: flex-end;
        }
    }

}
.container, .task-container {
    border: 1px solid black;
    margin: 4px 20px;
}