

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side"
                 (openedChange)="toggleShowSidenavButton($event)"
    >

        <div class="top-sidenav-container">

            <h1 class="heading">
                Robert Drake Rinehart
            </h1>

            <ng-container *ngFor="let button of APP_SIDENAV_BUTTONS">
                <button type="button" 
                        routerLink="{{button.url}}"
                        class="nav-button"
                        (click)="sidenav.close()"
                >
                    {{button.text}}
                </button>

            </ng-container>

        </div>

        <div class="bottom-buttons-container">

            <div class="dark-mode-switch-container">
                <mat-icon class="material-symbols-outlined">light_mode</mat-icon>
                <mat-slide-toggle [color]="darkModeToggleButtonColor"
                                  [checked]="darkModeOn$ | async"
                                  (change)="toggleTheme()"
                                
                ></mat-slide-toggle>
                <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>

            </div>

            <button class="hide-sidebar-button"
                    (click)="sidenav.close()"
            >
                <mat-icon>visibility_off</mat-icon>
                Hide Sidebar
            </button>
        </div>
        
    </mat-sidenav>
    
    <mat-sidenav-content>

                <!-- Button in lower left of child app sidenav to return back to app home -->
        <button *ngIf="shouldShowOpenSidenavButton"
                class="return-home-button"
                (click)="sidenav.open()"
            >
            <p class="return-home-button-text">Return home</p>
        </button>
        
        <router-outlet></router-outlet>

            <!-- Button in lower left to open the sidenav -->
        <button *ngIf="shouldShowOpenSidenavButton"
                class="show-sidenav-button"
                (click)="sidenav.open()"
        >
            <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>

    </mat-sidenav-content>

</mat-sidenav-container>
