

<mat-sidenav-container>

    <mat-sidenav #sidenav mode="side">

        <div class="top-sidenav-container">

            <button type="button" 
                    routerLink="/kanban"
                    class="nav-link-button"
                    (click)="sidenav.close()"
            >
                Kanban Todo App
            </button>

        </div>

        <div class="bottom-buttons-container">
        </div>
        
    </mat-sidenav>
    
    <mat-sidenav-content>
        
        <router-outlet></router-outlet>

        <button *ngIf="shouldShowOpenSidenavButton"
                class="show-sidenav-button"
                (click)="sidenav.open()"
            >
            <p class="back-button-text">Other apps</p>
        </button>

    </mat-sidenav-content>

</mat-sidenav-container>
