@use '../styles/global-mixins' as global;
@use '../styles/kanban-mixins' as kanban;
@import "styles.scss";

:host {
    @include global.flexboxLayout(row, flex-start, flex-start);
    height: 100%;
    overflow: hidden;

    .mat-sidenav-container {
        height: 100%;
        width: 100%;
    
        .mat-sidenav {
            @include global.flexboxLayout(column, flex-start, space-between);
            background-color: var(--dark-background-3);
            width: 300px;

            ::ng-deep .mat-drawer-inner-container {
                @include global.flexboxLayout(column, space-between, flex-start);
                overflow: hidden;
            }

            .top-sidenav-container {
                .heading {
                    @include kanban.kanbanHeadingXLText;
                    margin: 34px 120px 54px 34px;
                }

                .nav-button {
                    @include kanban.kanbanSidenavButtonStyles;
                    @include global.flexboxLayout(row, flex-start, center);

                    mat-icon {
                        margin: 0 16px 0 0;
                    }

                    &-text {
                        font-weight: lighter;
                        margin: 0;
                        padding: 0;
                    }
                }

                .all-boards {
                    @include kanban.kanbanHeadingSText;
                    padding: 0 16px;
                    text-transform: uppercase;
                }

                .create-new-board-button {
                    @include kanban.kanbanHeadingMText;
                    background-color: var(--dark-background-3);
                    color: var(--primary-idle);
                }
            }

            .bottom-buttons-container {
                @include global.flexboxLayout(column, flex-start, center);
                margin-bottom: 50px;
                width: 100%;
                
                .dark-mode-switch-container {
                    @include global.flexboxLayout(row, space-between, center);
                    background-color: var(--background-2);
                    margin: 0 0 22px;
                    padding: 15px 64px;

                    mat-icon {
                        color: var(--subtitle-text-1);
                    }

                    mat-slide-toggle {
                        margin: 0 24px;
                    }
                }

                .hide-sidebar-button {
                    @include kanban.kanbanHeadingMText;
                    @include global.flexboxLayout(row, center, center);
                    align-self: flex-start;
                    background-color: var(--background-3);
                    border: none;
                    color: var(--subtitle-text-1);
                    cursor: pointer;
                    margin-left: 14px;

                    mat-icon {
                        margin-right: 15px;
                    }
                }
            }
        }

        .mat-sidenav-content {
            background-color: var(--background-2);
            overflow-y: hidden;
            position: relative;
    
            .show-sidenav-button {
                @include kanban.kanbanMainButtonStyles(var(--size-button-tall));
                @include kanban.kanbanColors($background-color: transparent, $color: transparent);

                border-top-left-radius: 0;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                border-bottom-left-radius: 0;
                cursor: pointer;
                height: 20px;
                position: absolute;
                left: 0;
                margin: 0;
                padding: 4px 8px;
                top: 4px;
                z-index: 10;
                
                .back-button-text {
                    @include kanban.kanbanBodyMText;
                    color: transparent;
                    font-size: 10px;
                    font-weight: lighter;
                    letter-spacing: 1.25px;
                    margin: -3px 0 0;
                    padding: 0;
                }
            }
        }
    }

    .link-active {
        background-color: var(--kanban-primary-idle);
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        width: 276px;
    }
}
