@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.checkout-page-container {
    @include global.flexboxLayout(column, flex-start, center);
    width: 100%;
    background-color: var(--au-light-background);
    color: var(--au-on-light-background);
    margin-bottom: 141px;

    @include audioMixin.response(lg) {
        margin-bottom: 116px;
    }

    @include audioMixin.response(md) {
        margin-bottom: 97px;
    }

    app-breadcrumb-panel {
        margin: 79px 0 38px;

        @include audioMixin.response(lg) {
            margin: 48px 0 24px;
        }

        @include audioMixin.response(md) {
            margin: 16px 0 24px;
        }
    }
    
    app-breadcrumb-panel,
    app-nav-footer {
        width: 100%;
    }

    .checkout-page-inner-container {
        @include global.flexboxLayout(row, flex-start, flex-start);
        // @include global.border1;
        max-width: 1110px;

        @include audioMixin.response(lg) {
            @include global.flexboxLayout(column, flex-start, center);
            max-width: var(--au-md-inner-width);
        }
        
        @include audioMixin.response(md) {
            max-width: var(--au-sm-inner-width);
        }

        .left {
            // @include global.border1;
            margin-right: 30px;
            padding: 54px 48px 48px 48px;

            @include audioMixin.response(lg) {
                margin-bottom: 10px;
                margin-right: 0;
                padding: 30px 28px;
                width: 100%
            }
            
            @include audioMixin.response(md) {
                @include global.flexboxLayout(column, flex-start, center);
                padding: 24px;
            }
            .header-text {
                @include audioMixin.header3Text;
                margin-bottom: 41px;
                
                @include audioMixin.response(md) {
                    @include global.flexboxLayout(column, flex-start, center);
                    margin-bottom: 32px;
                }
            }

            app-checkout-form {
                width: 100%;
            }

        }

        .right {
            @include global.flexboxLayout(column, flex-start, flex-start);

            @include audioMixin.response(lg) {
                @include global.flexboxLayout(column, flex-start, center);
                width: 100%;

                app-cart-detail {
                    width: 100%;
                }
            
            }
            
            .summary-text {
                @include audioMixin.header6Text;
            }
        }
    }

}