
<div class="checkout-page-container">

    <app-breadcrumb-panel></app-breadcrumb-panel>
    
    <div class="checkout-page-inner-container">
    
        <div class="left">

            <p class="header-text">{{AppText.CHECKOUT}}</p>
    
            <app-checkout-form (formValidity)="handleCustomerFormValidity($event)"
                               (customer)="handleCustomerFromForm($event)"
            >
            </app-checkout-form>
    
        </div>
    
        <div class="right">
    
            <app-cart-detail [customerFormValidity]="(customerFormValidity$ | async)!"
                             (continueAndPay)="handleContinueAndPay($event)"
            >
            </app-cart-detail>

        </div>
    
    </div>
    
</div>
