<mat-tab-group mat-stretch-tabs="false"
               mat-align-tabs="start"
               animationDuration="0ms"
               color="primary"
               (animationDone)="handleTabAnimationDone($event)"
               (focusChange)="handleTabFocusChange($event)"
               (selectedIndexChange)="handleSelectedIndexChange($event)"
               (selectedTabChange)="handleSelectedTabChange($event)"

>

    <mat-tab label="Login reg form">

        <app-login-reg-form></app-login-reg-form>
        
    </mat-tab>

    <mat-tab label="Icon nav bar">

        <div class="icon-nav-bar-container">

            <app-icon-nav-bar [navBarLinks]="ICON_NAV_BAR_LINKS"></app-icon-nav-bar>

        </div>

    </mat-tab>

    <mat-tab label="Glowing stuff">

        <div class="glowing-stuff-scroll-container">

            <div class="glowing-stuff-container">
    
                <div class="pyramid-container">
    
                    <div class="pyramid">

                        <div class="glow"></div>
    
                        <div>
            
                            <span style="--i:0"></span>
                            <span style="--i:1"></span>
                            <span style="--i:2"></span>
                            <span style="--i:3"></span>
                            
                        </div>
                    
                    </div>
    
                </div>
                
                <div class="neon-button-container">
    
                    <div class="neon-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        neon button
                    </div>
        
                </div>
        
                <div class="glowing-corners-container">
                    
                    <div class="box"></div>
                    
                    <div class="box"></div>
        
                </div>
    
            </div>

        </div>

    </mat-tab>

    <mat-tab label="Hexagons solid">

        <div class="hex-solid-container">

            <div class="row" *ngFor="let row of items">
                
                <div class="hexagon-solid" *ngFor="let hex of items"></div>

            </div>

        </div>

    </mat-tab>
    <mat-tab label="Hexagons outlined">

        <div class="hex-outlined-container">

            <div class="row" *ngFor="let row of items">
                
                <div class="hexagon-outlined" *ngFor="let hex of items"></div>

            </div>

        </div>

    </mat-tab>

    <mat-tab label="Hexagons cursor">

        <div class="hex-cursor-container">

            <div class="row" *ngFor="let row of items">
                
                <div class="hexagon-cursor" *ngFor="let hex of items"></div>

            </div>

            <div id="cursor" #cursorRef></div>
            
        </div>

    </mat-tab>


    



    x
    <!-- <mat-tab label="Easings">

    </mat-tab> -->

    <!-- <mat-tab label="angular docs">

    </mat-tab> -->

</mat-tab-group>