
<mat-card class="project-container">
    <mat-card-content>

        <div class="img-overlay">

            <p class="project-title">{{project.title}}</p>
            <p class="description-text project-description">
                {{project.description}}
            </p>

            <a mat-flat-button
                    class="main-button"
                    color="primary"
                    [routerLink]="project.route"
            >
                go to project
            </a>

        </div>

        <img src="{{project.imageSrc}}" alt="">

    </mat-card-content>
</mat-card>