@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;

:host {
    
    .parcels-view-container {
        @include global.flexboxLayout(column, flex-start,center);
        background-color: white;
        color: black;
        max-width: 1440px;
        padding: 20px;

        app-parcels-search, app-parcels-table {
            width: 100%;
        }
        

    }
    
}