
<div class="simple-drag-container">

    <div *ngFor="let box of [1, 2]"
         [style.width.px]="getWidth(2)"
         class="drag-target" 
         cdkDropListGroup
    >
        <div class="drag-thing"
             *ngFor="let thing of [1, 2, 3, 4]"
             cdkDrag
             cdkDragBoundary=".simple-drag-container"
        >
        </div>

    </div>
    
</div>


<div class="drag-drop-container column-boundary"
     cdkDropListGroup
>

    <div *ngFor="let column of columns; let ind = index"
         class="column-container"
    >

        <div class="column"
            [style.width.px]="getWidth(columns.length)"
            id="{{column.id}}"
            cdkDropList
            [cdkDropListData]="column.elements"
            (cdkDropListDropped)="dropElement($event)"
        >
            <div class="header-container">
                <p class="column-title">{{column.title}}</p>
                <!-- <p class="column-title">Col id {{column.id}}</p>
                <p class="column-title">Col index {{ind}}</p> -->
            </div>
            
            <div *ngFor="let element of column.elements; let i = index"
                 cdkDragBoundary=".column-boundary"
                 class="task-card" 
                 cdkDrag
            >
                <div class="placeholder" *cdkDragPlaceholder></div>
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                <div class="drag-element-content">
                    <p class="task-title">{{column.title}}</p>
                    <p class="task-subtitle">{{element.title}}</p>
                    <p class="task-subtitle">Elem index {{i}}</p>
                    <!-- <p class="element-title">{{element.content}}</p> -->

                </div>

            </div>
        
        </div>

    </div>
    
</div>
