

<div class="thank-you-container">

    <div class="checkmark-circle"></div>

    <div class="header-text">{{AppText.THANK_YOU_MESSAGE}}</div>

    <div class="message-text">{{AppText.CONFIRMATION_MESSAGE}}</div>

    <ng-container *ngIf="product">
    
        <div class="summary-container">

            <div class="left">
    
                <div class="product-container">
                    
                    <img src="../../../../../assets/audio/cart/image-xx99-mark-two-headphones.jpg" alt="">
                    
                    <div class="info-container">
                        
                        <p class="product-name-text">{{product.name}}</p>
                        <p class="price-text">{{product.price | currency}}</p>

                    </div>
                    
                    <p class="amount-text">x{{quantity}}</p>
                
                </div>
                
                <p class="remaining-items-text" *ngIf="numOtherItems > 0">and {{numOtherItems}} other item(s)</p>
                
            </div>
            
            <div class="right">
                <p class="grand-total-text">{{AppText.GRAND_TOTAL}}</p>
                <p class="total-cost-text">{{order.grandTotal | currency}}</p>
            </div>
            
        </div>
    
    </ng-container>

    <button class="back-to-home-button" (click)="handleCloseDialog()">{{AppText.BACK_TO_HOME}}</button>

</div>