

<div class="thank-you-container">

    <div class="checkmark-circle"></div>

    <div class="header-text">thank you for your order</div>

    <div class="message-text">You will receive an email confirmation shortly.</div>

    <div class="summary-container">

        <div class="left">

            <div class="product-container">
                
                <img src="../../../../../assets/audio/cart/image-xx99-mark-two-headphones.jpg" alt="">
                
                <div class="info-container">
                    
                    <p class="product-name-text">xx99 mkii</p>
                    <p class="price-text">$ 2,999</p>

                </div>
                
                <p class="amount-text">x1</p>
            
            </div>
            
            <p class="remaining-items-text">and 2 other item(s)</p>
        
        </div>

        <div class="right">
            <p class="grand-total-text">grand total</p>
            <p class="total-cost-text">$ 5,446</p>
        </div>

    </div>

    <button class="back-to-home-button">back to home</button>
</div>