@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.thank-you-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    @include audioMixin.audioColors(var(--au-light-background), var(--au-on-light-background));
    border-radius: 8px;
    padding: 48px;
    position: relative;
    
    @include audioMixin.response(md) {
        padding: 32px;
        max-width: 327px;
    }

    .checkmark-circle {
        background-color: var(--au-primary-idle);
        border-radius: 50%;
        height: 64px;
        margin-bottom: 33px;
        position: relative;
        width: 64px;

        &:before {
            content: '';
            border-right: 4px solid var(--au-white);
            border-bottom: 4px solid var(--au-white);
            position: absolute;
            transform: rotate(45deg);
            height: 20px;
            width: 8px;
            top: 26%;
            left: 43%;
            
        }
    }
    
    .header-text {
        @include audioMixin.header3Text;
        margin-bottom: 24px;
        max-width: 284px;
        
        @include audioMixin.response(md) {
            @include audioMixin.header5Text;
            line-height: 28px;
            margin-bottom: 16px;
        }
    }
    
    .message-text {
        @include audioMixin.bodyText;
        margin-bottom: 33px;
        opacity: 0.5;

        @include audioMixin.response(md) {
            margin-bottom: 24px;
        }

    }

    .summary-container {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 46px;
        width: 100%;
        
        @include audioMixin.response(md) {
            @include global.flexboxLayout(column, space-between, center);
            margin-bottom: 23px;
            
        }
        
        .left {
            @include global.flexboxLayout(column, center, center);
            padding: 24px;
            width: 50%;
            
            @include audioMixin.response(md) {
                padding: 0;
                width: 100%;
            }

            .products-container {
                border-bottom: 1px solid rgba(0,0,0,.08);
                max-height: 300px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 8px 12px 8px 0;
                
                .product-container {
                    @include global.flexboxLayout(row, flex-start, flex-start);
                    width: 100%;
                    
                    @include audioMixin.response(md) {
                        padding: 24px 24px 12px 24px;
                    }
                    
                    &:not(:last-of-type) {
                        margin-bottom: 12px;
                    }
                    
                    img {
                        width: 52px;
                    }
                    
                    .info-container {
                        @include global.flexboxLayout(column, space-between, flex-start);
    
                        .product-name-text {
                            @include audioMixin.bodyText;
                            font-weight: 700;
                            margin: 0;
                            text-transform: uppercase;
                        }
        
                        .price-text {
                            @include audioMixin.bodyText;
                            margin: 0;
                            font-weight: 700;
                            opacity: 0.5;
                        }
                    }
    
                    .amount-text {
                        @include audioMixin.bodyText;
                        font-weight: 700;
                        margin-left: auto;
                        opacity: 0.5;
                    }
                }
            }
            
            .show-other-items-button {
                border: none;
                cursor: pointer;
                font: 700 normal 12px/16px var(--au-main-font-family);
                margin: 13px 0 19px;
                opacity: 0.5;
                
                @include audioMixin.response(md) {
                    margin: 12px 0 25px;
                
                }

                &.disabled {
                    cursor: default;
                }
            }
        }

        .right {
            @include global.flexboxLayout(column, flex-end, flex-start);
            background-color: var(--au-black);
            border-radius: 0 8px 8px 0;
            width: 50%;
            padding: 41px 32px;
            align-self: stretch;

            @include audioMixin.response(md) {
                border-radius: 0 0 8px 8px;
                width: 100%;
                padding: 15px 24px 19px;
        
            }

            .grand-total-text {
                font: 500 normal 15px/25px var(--au-main-font-family);
                color: var(--au-white);
                opacity: 0.5;
                text-transform: uppercase;
            }

            .total-cost-text {
                @include audioMixin.header6Text;
                color: var(--au-white);
            }
        }
    }

    .back-to-home-button {
        @include audioMixin.buttonStyles;
        @include audioMixin.audioColors;
        width: 100%;
    }
}