@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.nav-links-container {
    @include global.flexboxLayout(row, space-between, center);
    width: 100%;

    @include audioMixin.response(sm) {
        @include global.flexboxLayout(column, center, center);

    }

    .nav-link {
        @include audioMixin.subtitleText;
        color: var(--nav-header-text-color);
        margin: 20px;
        padding: 6px 20px;
        text-decoration: none;

        @include audioMixin.response(sm) {
            @include global.flexboxLayout(column, center, center);
    
        }

        &:last-of-type {
            
            @include audioMixin.response(sm) {
                margin-right: 20px;
                padding-right: 20px;
        
            }
        }

        @include audioMixin.response(xl) {
            &:first-of-type {
                margin-left: 0;
                padding-left: 0;

                @include audioMixin.response(sm) {
                    margin-left: 20px;
                    padding-left: 20px;
            
                }
            }
        }

        .active {
            color: var(--au-primary-idle);
        }
    }
}
