@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.nav-links-container {
    @include global.flexboxLayout(row, space-between, center);

    .nav-link {
        @include audioMixin.subtitleText;
        color: var(--nav-header-text-color);
        margin: 20px;
        padding: 6px 20px;
        text-decoration: none;

        &:last-of-type {
            margin-right: 0;
            padding-right: 0;
        }

        @include audioMixin.response(xl) {
            &:first-of-type {
                margin-left: 0;
                padding-left: 0;
            }
        }

        .active {
            color: var(--au-primary-idle);
        }
    }
}
