@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.nav-links-container {
    @include global.flexboxLayout(row, space-between, center);
    width: 100%;

    @include audioMixin.response(md) {
        @include global.flexboxLayout(column, center, center);

    }

    .nav-link {
        @include audioMixin.subtitleText;
        color: var(--nav-header-text-color);
        text-decoration: none;

        @include audioMixin.response(md) {

            &:not(:last-of-type) {
                margin-bottom: 16px;
            }
        }

        &:not(:last-of-type) {
            margin-right: 34px;
            
            @include audioMixin.response(md) {
                margin-right: 0;
            }
        }

        &:last-of-type {
            
            @include audioMixin.response(sm) {
                margin-right: 20px;
                padding-right: 20px;
            }
        }

        &:hover {
            @include audioMixin.audioColors(var(--au-background-color), var(--au-primary-idle))
        }

        .active {
            color: var(--au-primary-idle);
        }
    }
}
