

<nav class="landing-page-nav">

    <h1 class="header-text">Robert Rinehart</h1>
    <div class="nav-buttons-container">

        <app-social-icon-links></app-social-icon-links>
        
    </div>
    
</nav>

<div class="scroll-container">

    <main class="main-container">

        <section class="welcome-container">

            <div class="welcome welcome-left">

                <p class="welcome-title-text">Hello I'm Robert!</p>
                <p class="welcome-description-text">I'm a frontend developer specializing in Angular and the Angular ecosystem.  I'm passionate about building terrific websites with lots of engaging features.</p>


            </div>

            <div class="welcome welcome-right">

                <div class="robert-image">

                </div>

            </div>

            <div class="welcome-bottom">

                    <button mat-stroked-button 
                            color=primary
                            class="main-button"
                    >
                        Skills
                    </button>
                    
                    <button mat-stroked-button 
                            color=primary
                            class="main-button"
                    >
                        Projects
                    </button>
                    
                    <button mat-stroked-button 
                            color=primary
                            class="main-button"
                    >
                        Experience
                    </button>
                    <button mat-stroked-button 
                            color=primary
                            class="main-button"
                    >
                        Contact
                    </button>

            </div>

        </section>

        <section class="skills">
            
            <p class="section-header">
                Skills
            </p>

            <div class="skills-container">
                
                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/angular.png" alt="">
                        <p class="skill-title">Angular</p>
                    </div>
                    

                    <div class="skill-list">
                        <p class="skill-list-item">Core</p>
                        <p class="skill-list-item">Common</p>
                        <p class="skill-list-item">Forms</p>
                        <p class="skill-list-item">http Client</p>
                        <p class="skill-list-item">Router</p>
                        <p class="skill-list-item">Animations</p>
                        <p class="skill-list-item">CLI</p>
                    </div>

                </div>

                <div class="skill-container">
                    
                    <div class="logo-container">
                        <img class="icon" src="../../assets/ts-logo-128.png" alt="">
                        <p class="skill-title">Typescript</p>
                    </div>

                    
                    <div class="skill-list">
                        <p class="skill-list-item">Interfaces/Enums</p>
                        <p class="skill-list-item">Generics</p>
                        <p class="skill-list-item">Utility Types</p>
                        <p class="skill-list-item">Type narrowing</p>
                    </div>

                </div>

                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/rxjs-logo.png" alt="">
                        <p class="skill-title">RxJs</p>

                    </div>

                    <div class="skill-list">
                        <p class="skill-list-item">Observables</p>
                        <p class="skill-list-item">Behavior Subjects</p>
                        <p class="skill-list-item">Operators</p>
                        <p class="skill-list-item">Multi-cast</p>
                        
                    </div>

                </div>

                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/ngrx.png" alt="">
                        <p class="skill-title">NgRx</p>

                    </div>
                        
                    <div class="skill-list">
                        <p class="skill-list-item">Global store</p>
                        <p class="skill-list-item">Effects</p>
                        <p class="skill-list-item">Component store</p>
                    </div>

                </div>

                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/material.png" alt="">
                        <p class="skill-title">Material</p>

                    </div>
                        
                    <div class="skill-list">
                        <p class="skill-list-item">All components</p>
                        <p class="skill-list-item">CDK</p>
                        <p class="skill-list-item">Drag-drop</p>
                        <p class="skill-list-item">Overlay</p>
                        <p class="skill-list-item">Component theming</p>
                    </div>

                </div>

                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/sass-logo2.png" alt="">
                        <p class="skill-title">Sass</p>
                    </div>
                        
                    <div class="skill-list">
                        <p class="skill-list-item">Variables</p>
                        <p class="skill-list-item">Mixins</p>
                        <p class="skill-list-item">Formulas</p>
                        <p class="skill-list-item">Interpolation</p>
                    </div>

                </div>
                
                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/firebase-logo.png" alt="">
                        <p class="skill-title">Firebase </p>

                    </div>
                        
                    <div class="skill-list">
                        <p class="skill-list-item">Auth</p>
                        <p class="skill-list-item">Firestore</p>
                        <p class="skill-list-item">Hosting</p>
                        <p class="skill-list-item">Storage</p>
                        <p class="skill-list-item">Cloud functions</p>
                    </div>

                </div>
                
                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/github-mark.png" alt="">
                        <p class="skill-title">Git</p>
                    </div>
                        
                    <div class="skill-list">
                        
                        <p class="skill-list-item">All commands</p>
                        
                    </div>

                </div>
               
                <div class="skill-container">

                    <div class="logo-container">
                        <img class="icon" src="../../assets/d3-logo.png" alt="">
                        <p class="skill-title">D3</p>
                    </div>
                        
                    <div class="skill-list">
                        
                        <p class="skill-list-item">All commands</p>
                        
                    </div>

                </div>

            </div>

        </section>

        <section class="projects">

            <p class="section-header">
                Projects
            </p>

            <div class="projects-container">
                
                <div class="project-container">

                    <div class="img-overlay">

                        <p class="project-title">Kanban style Todo App</p>
                        <p class="description-text project-description">
                            Manage software development projects from planning to production.  Full backend support through Firebase.  Material CDK drag-drop.
                        </p>

                        <button mat-flat-button
                                class="main-button"
                                color="primary"
                        >
                            Go to project
                        </button>

                    </div>

                    <img src="../../assets/DemoApp3.png" alt="">
                    
                </div>

                <div class="project-container">

                    <div class="img-overlay">
                        
                        <p class="project-title">Trading View website clone</p>
                        <p class="description-text project-description">
                            Clone of tradingview.com stock charting website.  Extensive D3 implementation for rendering stock prices, scales, indicators and other data.
                        </p>
    
                        <button mat-flat-button
                                class="main-button"
                                color="primary"
                        >
                            Go to project
                        </button>

                    </div>
                    
                </div>

                <div class="project-container">

                    <div class="img-overlay">
                        
                        <p class="project-title">Cubic-bezier animations site clone</p>
                        <p class="description-text project-description">Project description text - Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    
                        <button mat-flat-button
                                class="main-button"
                                color="primary"
                        >
                            Go to project
                        </button>

                    </div>
                    
                </div>

                <div class="project-container">

                    <div class="img-overlay">
                        
                        <p class="project-title">Bio Data App</p>
                        <p class="description-text project-description">Project description text - Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    
                        <button mat-flat-button
                                class="main-button"
                                color="primary"
                        >
                            Go to project
                        </button>

                    </div>
                    
                </div>

            </div>


        </section>

        <section class="experience">

            <p class="section-header">
                Experience
            </p>

                <!-- EPAM -->
            <div class="job-container">

                <div class="job-header">
                    
                    <p class="subtitle-text job-headline">
                        EPAM Systems, Inc. – Newtown, PA
                    </p>

                    <p class="subtitle-text">
                        August 2019 to February 2023
                    </p>

                </div>

                <p class="subtitle-text job-headline">
                    Senior Software Engineer
                </p>
                <p class="accent-text job-headline">
                    Frontend developer assigned to Google (Sunnyvale, CA) account.
                </p>

                        <!-- Taara Share -->
                <p class="description-text assignment">
                    Assignment: Taara Share (Project X) - March 2021 - December 2022
                </p>

                <p class="description-text">
                    As part of Google’s NBU (next billion users) initiative, Taara Share partners with local internet providers to offer low-cost direct-to-consumer commercial internet service in third-world countries beginning in Africa (Ghana and Kenya).
                </p>
                
                <ul class="description-container">

                    <li class="description-item">
                        <p class="description-text">
                            Sole developer for ‘ISP Portal’ application.  Built an externally visible Angular/Typescript application enabling Taara Share ISP partners to view and manage Hotspot locations, bandwidth Resellers and Customers.
                        </p>
                    </li>

                    <li class="description-item">
                        
                        <p class="description-text">
                            Designed and built a modularized Angular/Typescript architecture that supports reusable components including Material Table, Autocomplete search, create/edit dialogs and dynamically instantiating components enabling rapid development of create, edit, search, list and other features.

                        </p>

                    </li>

                    <li class="description-item">
                        
                        <p class="description-text">
                            This architecture allows developers to build one abstract/base component, then reuse that component and logic in multiple derived implementations without re-implementing the same/similar logic/html for each use case, saving substantial development time and effort.
                        </p>

                    </li>
                        
                </ul>

                        <!-- Resource Symphony -->
                <p class="description-text assignment">
                    Assignment: 'Resource Symphony' Team - August 2019 - February 2021
                </p>

                <p class="description-text">
                    Part of a team of six frontend developers building a mission-critical dashboard offering insight into cloud infrastructure resources.  Built features including:  
                </p>
                
                <ul class="description-container">

                    <li class="description-item">
                        <p class="description-text">
                            A Material Card-based display showing resource capacity ceiling, allocation, usage and efficiency.  Cards provided capabilities such as real-time updates, hover overlay, sparklines and drilldown for deeper visibility.
                        </p>
                    </li>

                    <li class="description-item">
                        
                        <p class="description-text">
                            Graphs of time-series using an internal D3-based charting library (Aplos).  Graphs show ceiling, allocation, usage, and efficiency across all regions, product areas and clusters.  Individual time series could be drilled down, filtered, highlighted.  Crosshairs and overlay cards display data for a specific point in time.
                        </p>

                    </li>
                        
                </ul>

            </div>

            <p class="description-text">
                Additional work history in resume
            </p>

        </section>

        <section class="contact-container">

            <p class="section-header">
                Contact
            </p>

            <div class="contact">
                
                <div class="contact-left">

                        <p class="title-text">Contact me!</p>
                        <p class="description-text contact-description">I'm currently seeking new opportunities.  If you think my skill set is a match for your needs please contact me here or through any of my channels.</p>
    
                </div>
                
                <div class="contact-right">

                    <div class="form-field name">
                        <p class="placeholder-text">Name</p>
                    </div>
                    
                    <div class="form-field email">
                        <p class="placeholder-text">Email</p>
                        
                    </div>
                    
                    <div class="form-field message">
                        <p class="placeholder-text">Message</p>

                    </div>

                    <button mat-stroked-button
                            color=primary
                            class="main-button"
                    >
                        Send message
                    </button>

                </div>

            </div>

        </section>

    </main>

    <footer class="footer-container">

        <p class="header-text footer-title">Robert Rinehart</p>
        <div class="footer-buttons-container">

            <app-social-icon-links></app-social-icon-links>
            
        </div>

    </footer>

    

</div>



