<!-- <div class="landing-page-container"> -->

    <nav class="landing-page-nav">

        <h1 class="header-text">Robert Rinehart</h1>
        <div class="nav-buttons-container">
            
            <button>Nav link text</button>
            <button>LinkedIn</button>
            <button>Twitter</button>

        </div>
        
    </nav>

    <div class="scroll-container">

        <main class="main-container">

            <section class="welcome-container">

                <div class="welcome welcome-left">

                    <p class="welcome-title-text">Hello I'm Robert!</p>
                    <p class="welcome-description-text">I'm a frontend developer specializing in Angular and the Angular ecosystem.  I'm passionate about building terrific websites with lots of engaging features.</p>


                </div>

                <div class="welcome welcome-right">

                    <div class="robert-image">

                    </div>

                </div>

                <div class="welcome-bottom">

                        <button class="main-button">Skills</button>
                        <button class="main-button">Projects</button>
                        <button class="main-button">Contact</button>

                </div>
    
            </section>
    
            <section class="skills">
                
                <p class="section-header">
                    Skills
                </p>

                <div class="skills-container">
                    
                    <div class="skill-container">
                        
                        <p class="skill-title">Angular</p>
    
                        <div class="skill-list">
                            <p class="skill-list-item">Core</p>
                            <p class="skill-list-item">Common</p>
                            <p class="skill-list-item">Forms</p>
                            <p class="skill-list-item">http Client</p>
                            <p class="skill-list-item">Router</p>
                            <p class="skill-list-item">Animations</p>
                        </div>

                    </div>
    
                    <div class="skill-container">
                        
                        <p class="skill-title">Typescript</p>
                        
                        <div class="skill-list">
                            <p class="skill-list-item">Interfaces</p>
                            <p class="skill-list-item">Generics</p>
                            <p class="skill-list-item">Types</p>
                            <p class="skill-list-item"></p>
                        </div>

                    </div>

                    <div class="skill-container">

                        <p class="skill-title">RxJs</p>

                        <div class="skill-list">
                            <p class="skill-list-item">Observables</p>
                            <p class="skill-list-item">Behavior Subjects</p>
                            <p class="skill-list-item">Operators</p>
                            
                        </div>

                    </div>
    
                    <div class="skill-container">

                        <p class="skill-title">NgRx</p>
                            
                        <div class="skill-list">
                            <p class="skill-list-item">Global store</p>
                            <p class="skill-list-item">Effects</p>
                            <p class="skill-list-item">Component store</p>
                        </div>

                    </div>
    
                    <div class="skill-container">

                        <p class="skill-title">Material</p>
                            
                        <div class="skill-list">
                            <p class="skill-list-item">All components</p>
                            <p class="skill-list-item">CDK</p>
                            <p class="skill-list-item">Drag-drop</p>
                            <p class="skill-list-item">Overlay</p>
                            <p class="skill-list-item">Component theming</p>
                        </div>

                    </div>
    
                    <div class="skill-container">

                        <p class="skill-title">Sass</p>
                            
                        <div class="skill-list">
                            <p class="skill-list-item">Variables</p>
                            <p class="skill-list-item">Mixins</p>
                            <p class="skill-list-item">Formulas</p>
                            <p class="skill-list-item">Interpolation</p>
                        </div>

                    </div>
                    
                    <div class="skill-container">

                        <p class="skill-title">Firebase</p>
                            
                        <div class="skill-list">
                            <p class="skill-list-item">Auth</p>
                            <p class="skill-list-item">Firestore</p>
                            <p class="skill-list-item">Hosting</p>
                            <p class="skill-list-item">Storage</p>
                            <p class="skill-list-item">Cloud functions</p>
                        </div>

                    </div>
                    
                    <div class="skill-container">

                        <p class="skill-title">Git</p>
                            
                        <div class="skill-list">
                            
                            <p class="skill-list-item">All commands</p>
                            
                        </div>

                    </div>

                </div>
    
            </section>
    
            <section class="projects">

                <p class="section-header">
                    Projects
                </p>

                <div class="projects-container">
                    
                    <div class="project-container">

                        <p class="title-text project-title">Project title text</p>
                        <p class="description-text project-description">Project description text - Lorem ipsum dolor sit amet consectetur adipisicing elit</p>

                        <button class="main-button">Go to project</button>
                        
                    </div>

                    <div class="project-container">
                        
                    </div>

                    <div class="project-container">
                        
                    </div>

                    <div class="project-container">
                        
                    </div>

                </div>

    
            </section>
    
            <section class="contact-container">

                <p class="section-header">
                    Contact
                </p>

                <div class="contact">
                    
                    <div class="contact-left">
    
                            <p class="title-text">Contact me!</p>
                            <p class="description-text contact-description">I'm currently seeking new opportunities.  If you think my skill set is a match for your needs please contact me here or through any of my channels.</p>
        
                    </div>
                    
                    <div class="contact-right">
    
                        <div class="form-field name">
                            <p class="placeholder-text">Name</p>
                        </div>
                        
                        <div class="form-field email">
                            <p class="placeholder-text">Email</p>
                            
                        </div>
                        
                        <div class="form-field message">
                            <p class="placeholder-text">Message</p>
    
                        </div>
    
                        <button class="main-button">Send message</button>
    
                    </div>

                </div>
    
            </section>
    
        </main>

        <footer class="footer-container">

            <p class="header-text footer-title">Robert Rinehart</p>
            <div class="footer-buttons-container">
                
                <button class="small-button">Nav link text</button>
                <button class="small-button">LinkedIn</button>
                <button class="small-button">Twitter</button>

            </div>
    
        </footer>

        <div class="design-system-container">
            <!-- <p class="heavy-font exo">Exo 2 - this is Exo 2</p>
            <p class="heavy-font exo">EXO 2 - THIS IS EXO TWO DUDE</p>
            <p class="heavy-font josefin-sans">Josefin sans</p>
            <p class="heavy-font josefin-sans">JOSEFIN SANS</p>
            <p class="heavy-font kanit">Kanit</p>
            <p class="heavy-font kanit">KANIT</p>
            <p class="heavy-font great-vibes">Great vibes</p>
            <p class="heavy-font great-vibes">GREAT VIBES</p>
            <p class="heavy-font nunito">Nunito</p>
            <p class="heavy-font nunito">NUNITO</p>
            <p class="heavy-font orbitron">Orbitron</p>
            <p class="heavy-font orbitron">ORBITRON</p>
            <p class="regular-font exo">Exo 2 - this is Exo 2</p>
            <p class="regular-font exo">EXO 2 - THIS IS EXO TWO DUDE</p>
            <p class="regular-font josefin-sans">Josefin sans</p>
            <p class="regular-font josefin-sans">JOSEFIN SANS</p>
            <p class="regular-font kanit">Kanit</p>
            <p class="regular-font kanit">KANIT</p>
            <p class="regular-font great-vibes">Great vibes</p>
            <p class="regular-font great-vibes">GREAT VIBES</p>
            <p class="regular-font nunito">Nunito</p>
            <p class="regular-font nunito">NUNITO</p>
            <p class="regular-font orbitron">Orbitron</p>
            <p class="regular-font orbitron">ORBITRON</p> -->
            <!-- <p class="masthead-text">Masthead text</p>
            <p class="header-text">Header text</p>
            <p class="title-text">Title text</p>
            <p class="description-text">Description text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquam nesciunt ex necessitatibus ipsum voluptatem, voluptates porro labore tempora, animi laboriosam harum repellat dignissimos! Suscipit nulla iure adipisci aut obcaecati!</p>
            <p class="button-text main-button-text">Main button text</p>
            <p class="section-header-text">Section header text</p>
            <p class="sub-header-text skill-header-text">Subheader Skill header text</p>
            <p class="list-item-text">Skill list item text</p>
            <p class="header-text sidenav-header-text">Sidenav header text</p>
            <p class="sidenav-button-text">Sidenav button text</p>
            <h1 class="header-text main-header-text">H1 Main header text</h1>
            
            <p class="project-header-text">Project header text</p>
            <p class="project-description-text">Project description text</p>
            <p class="contact-message-header-text">Contact message header text</p>
            <p class="contact-message-text">Contact message text</p>
            <p class="contact-form-placeholder-text">Contact form placeholder text</p> -->
    
        </div>

    </div>



<!-- </div> -->