
<div class="scroll-container">

    <div class="design-system-container">

        <div class="fonts-container">

            <div class="font-container">
                <p class="heavy-font exo">Exo 2 - this is Exo 2</p>
                <p class="heavy-font exo">EXO 2 - THIS IS EXO TWO DUDE</p>
                <p class="regular-font exo">Exo 2 - this is Exo 2</p>
                <p class="regular-font exo">EXO 2 - THIS IS EXO TWO DUDE</p>
    
            </div>
    
            <div class="font-container">
                <p class="heavy-font josefin-sans">Josefin sans</p>
                <p class="heavy-font josefin-sans">JOSEFIN SANS</p>
                <p class="regular-font josefin-sans">JOSEFIN SANS</p>
                <p class="regular-font josefin-sans">Josefin sans</p>
                
    
            </div>
    
            <div class="font-container">
                <p class="heavy-font kanit">Kanit</p>
                <p class="heavy-font kanit">KANIT</p>
                <p class="regular-font kanit">Kanit</p>
                <p class="regular-font kanit">KANIT</p>
                
            </div>
            <div class="font-container">
                <p class="heavy-font great-vibes">Great vibes</p>
                <p class="heavy-font great-vibes">GREAT VIBES</p>
                <p class="regular-font great-vibes">Great vibes</p>
                <p class="regular-font great-vibes">GREAT VIBES</p>
    
            </div>
            <div class="font-container">
                <p class="heavy-font nunito">Nunito</p>
                <p class="heavy-font nunito">NUNITO</p>
                <p class="regular-font nunito">Nunito</p>
                <p class="regular-font nunito">NUNITO</p>
    
            </div>
            <div class="font-container">
                <p class="heavy-font orbitron">Orbitron</p>
                <p class="heavy-font orbitron">ORBITRON</p>
                <p class="regular-font orbitron">Orbitron</p>
                <p class="regular-font orbitron">ORBITRON</p>
    
            </div>

        </div>

        <div class="styles-container">

            <div class="typography-container">
                <p class="masthead-text">Masthead text</p>
    
            </div>
    
            <div class="typography-container">
                <p class="header-text">Header text</p>
    
            </div>
            <div class="typography-container">
                <p class="title-text">Title text</p>
    
            </div>
            <div class="typography-container">
                <p class="description-text">Description text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquam nesciunt ex necessitatibus ipsum voluptatem, voluptates porro labore tempora, animi laboriosam harum repellat dignissimos! Suscipit nulla iure adipisci aut obcaecati!</p>
    
            </div>
            <div class="typography-container">
                <p class="main-button-text">Main button text</p>
    
            </div>
            <div class="typography-container">
                <p class="small-button-text">Small button text</p>
    
            </div>
            <div class="typography-container">
                <p class="section-header-text">Section header text</p>
    
            </div>
    
            <div class="typography-container">
                <p class="sub-header-text skill-header-text">Subheader text</p>
                
            </div>
            <div class="typography-container">
                <p class="list-item-text">Skill list item text</p>
                
            </div>
            <div class="typography-container">
                <p class="header-text sidenav-header-text">Sidenav header text</p>
                
            </div>
            <div class="typography-container">
                <p class="sidenav-button-text">Sidenav button text</p>
                
            </div>
            <div class="typography-container">
                <h1 class="header-text main-header-text">H1 Main header text</h1>
                
            </div>
            <div class="typography-container">
                <p class="header-text project-header-text">Project header text</p>
                
            </div>
            <div class="typography-container">
                <p class="description-text project-description-text">Project description text</p>
                
            </div>
            <div class="typography-container">
                <p class="header-text contact-message-header-text">Contact message header text</p>
                
            </div>
            <div class="typography-container">
                <p class="description-text contact-message-text">Contact message text</p>
                
            </div>
            <div class="typography-container">
                <p class="placeholder-text contact-form-placeholder-text">Contact form placeholder text</p>
                
            </div>
            
            

        </div>

        
    
    </div>

</div>
