@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@import "../../../styles/styles.scss";


.scroll-container {
    @include global.flexboxLayout(column, flex-start, center);
        align-self: stretch;
        // background-color: var(--global-emerald);
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;


    .design-system-container {
        @include global.flexboxLayout(column, flex-start, flex-start);
        
        .fonts-container {
            @include global.flexboxLayout(row, flex-start, flex-start);
            flex-wrap: wrap;

            .font-container {
                @include global.border1;
                flex-grow: 1;
                padding: 10px 20px;
                width: 40%;
            }
            
            
        }
        
        .styles-container {
            @include global.flexboxLayout(column, flex-start, flex-start);

            .typography-container {
                @include global.border1;
                flex-grow: 1;
                padding: 10px 20px;
                width: 100%;
            }

        }

        margin: 0 20px;

        .heavy-font {
            font-weight: 700;
            font-size: globalVar.globalFontSize(heading-xl);
            line-height: globalVar.globalLineHeight(heading-xl);

            margin: 10px 0;
            
        }

        .regular-font {
            font-weight: 400;
            font-size: globalVar.globalFontSize(body-xl);
            line-height: globalVar.globalLineHeight(body-xl);

            margin: 10px 0;
        }

        .exo {
            font-weight: 400;
            font-family: var(--global-font-exo);

        }

        .kanit {
            font-family: var(--global-font-kanit);
        }

        .josefin-sans {
            font-family: var(--global-font-josefin-sans);

        }

        .great-vibes {
            font-family: var(--global-font-great-vibes);
        }

        .nunito {
            font-family: var(--global-font-nunito);
        }

        .orbitron {
            font-family: var(--global-font-orbitron);
        }


        .masthead-text {
            @include global.textMasthead;
        }

        .header-text {
            @include global.textHeader;
        }

        .title-text {
            @include global.textTitle;
        }

        .description-text {
            @include global.textDescription;
        }

        .main-button-text {
            @include global.textButtonMain;
        }

        .small-button-text {
            @include global.textButtonSmall;
        }

        .section-header-text {
            @include global.textSectionHeader;
        }

        .sub-header-text {
            @include global.textSectionSubheader;
        }

        .list-item-text {
            @include global.textListItem;
        }

        .placeholder-text {
            @include global.textPlaceholder;
            color: var(--global-grey-5)
        }

        .sidenav-button-text {
            @include global.textSidenavButton;
        }
    }

}