

<div class="cart-detail-container">

    <div class="cart-header">
        <p class="headline-text">cart (3)</p>
        <p class="remove-all-text">remove all</p>
    </div>

    <div class="products-list-container">

        <div class="product-container">

            <img src="../../../../../assets/audio/cart/image-xx99-mark-two-headphones.jpg" alt="">

            <div class="product-info-container">
                
                <p class="product-title-text">xx99 mkii</p>
                
                <p class="product-cost-text">$ 2,999</p>

            </div>
            
            
            <div class="quantity-container">ac
                    
                <p class="counter-button">-</p>
                <p class="count">1</p>
                <p class="counter-button">+</p>
                
            </div>

        </div>

    </div>

    <div class="total-container">

        <p class="total-text">total</p>
        <p class="amount-text">$ 5,396</p>

    </div>

    <button class="checkout-button">checkout</button>

</div>