
<div class="cart-detail-container" #cartDetailContainer
    [class.tablet-width]="mode === 'summary'"
>

    <div class="cart-header">
        
        <ng-container *ngIf="mode === 'detail'; else summary">
            
            <p class="headline-text">{{AppText.CART}} ({{itemsCount}})</p>
            <button class="remove-all-button" (click)="handleRemoveAll()">{{AppText.REMOVE_ALL}}</button>
            <button class="close-button" (click)="handleCloseDialog()">x</button>
            
        </ng-container>
        
        <ng-template #summary>
            
            <p class="headline-text">{{AppText.SUMMARY}}</p>

        </ng-template>
        
    </div>

    <div class="products-list-container">

        <ng-container *ngIf="productsInCart$ | async as products">

            <div class="scroll-container">
                
                <ng-container *ngFor="let product of products">
                    
                    <div class="product-container">
            
                        <img src="{{product.image['desktop']}}" alt="">
            
                        <div class="product-info-container">
                            
                            <p class="product-title-text">{{product.name}}</p>
                            
                            <p class="product-cost-text">$ {{product.price}}</p>
            
                        </div>
                        
                        <div class="quantity-container" *ngIf="mode === 'detail'; else amounts">
                                
                            <button class="counter-button decrement-button" (click)="handleIncrementCount(product.slug, -1)">-</button>
                            <p class="count">{{product.count}}</p>
                            <button class="counter-button increment-button" (click)="handleIncrementCount(product.slug, 1)">+</button>
                            <button class="counter-button delete-button" (click)="handleRemoveItemFromCart(product.slug)"> <mat-icon class="material-symbols-outlined">delete</mat-icon> </button>
                            
                        </div>

                        <ng-template #amounts>
                            <div class="amount-container">

                                <p class="amount">x{{product.count}}</p>

                            </div>
                            
                        </ng-template>
            
                    </div>
    
                </ng-container>

            </div>

            
            <ng-container *ngIf="products.length === 0">

                <div class="empty-cart-container">

                    <p class="empty-cart-text">your cart is currently empty</p>

                </div>

            </ng-container>

        </ng-container>

        

    </div>

    <ng-container *ngIf="currentOrder$ | async  as order">
        
        <div class="total-container">
    
            <p class="total-text">{{AppText.TOTAL}}</p>
            <p class="amount-text">{{order.totalCost | currency}}</p>
    
        </div>

        <ng-container *ngIf="mode === 'summary'">
            
            <div class="total-container">
        
                <p class="total-text">{{AppText.SHIPPING}}</p>
                <p class="amount-text">{{order.shippingCost | currency}}</p>
        
            </div>
        
            <div class="total-container">
        
                <p class="total-text">{{AppText.VAT_INCLUDED}}</p>
                <p class="amount-text">{{order.vatCost | currency}}</p>
        
            </div>
        
            <div class="total-container grand-total-container">
        
                <p class="total-text">{{AppText.GRAND_TOTAL}}</p>
                <p class="amount-text grand-total-text">{{order.grandTotal | currency}}</p>
        
            </div>

        </ng-container>
        
    </ng-container>
    
    <button class="checkout-button disabled"
            (click)="handleProceed()"
            [disabled]="shouldDisablePayButton"
            [class.enabled]="!shouldDisablePayButton"
    >
        {{mode === CartDetailMode.DETAIL ? AppText.CHECKOUT : AppText.CONTINUE_AND_PAY}}
    </button>

</div>