@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.tablet-width {
    @include audioMixin.response(xl) {
    }
}

.cart-detail-container {
    @include global.flexboxLayout(column, space-between, flex-start);
    // @include global.border1;
    background-color: var(--au-light-background) !important;
    min-height: 400px;
    padding: 24px 32px 32px 32px;
    
    @include audioMixin.response(md) {
        max-width: var(--au-sm-inner-width);
        padding: 12px 16px;
    }
    
    .cart-header {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 32px;
        width: 100%;
        
        .headline-text {
            @include audioMixin.header6Text;
            margin: 0;
            
            @include audioMixin.response(md) {
                @include audioMixin.bodyText;
                font-weight: 700;
                
            }
        }
        
        .remove-all-button {
            @include audioMixin.bodyText;
            border: none;
            cursor: pointer;
            opacity: 0.5;
            text-transform: capitalize;

            &:hover {
                color: var(--au-primary-hover);
            }

            @include audioMixin.response(md) {
                font-size: 12px;
                
            }
            
        }

        .close-button {
            @include audioMixin.header6Text;
            border: none;
            cursor: pointer;
            opacity: 0.5;

            &:hover {
                color: var(--au-primary-hover);
            }

            @include audioMixin.response(md) {
                font-size: 12px;
                
            }
        }
        
    }
    
    .products-list-container {
        @include global.flexboxLayout(column, space-between, flex-start);
        margin-bottom: 32px;
        width: 100%;

        .scroll-container {
            @include global.flexboxLayout(column, flex-start, center);
            align-self: stretch;
            max-height: 480px;
            padding: 24px 16px 24px 12px;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            
            @include audioMixin.response(md) {
                max-height: 180px;
                padding: 12px 8px 12px 6px;
                
            }
            
            .product-container {
                @include global.flexboxLayout;
                margin-bottom: 24px;
                width: 100%;
                
                img {
                    margin-right: 12px;
                    width: 64px;
                    
                    @include audioMixin.response(md) {
                        margin-right: 6px;
                        width: 48px;
                        
                    }
                }
                
                .product-info-container {
                    @include global.flexboxLayout(column, space-between, flex-start);
                    margin-right: 30px;

                    @include audioMixin.response(md) {
                        margin-right: 12px;
                    }
    
                    .product-title-text {
                        @include audioMixin.bodyText;
                        font-weight: 700;
                        margin: 0;
                        text-transform: uppercase;

                        @include audioMixin.response(md) {
                            font-size: 12px;
                            
                        }
                    }
    
                    .product-cost-text {
                        @include audioMixin.bodyText;
                        opacity: 0.5;

                        @include audioMixin.response(md) {
                            font-size: 12px;
                            
                        }
    
                    }
                }
    
                .quantity-container {
                    @include global.flexboxLayout(row, space-between, center);
                    margin-left: auto;

                    @include audioMixin.response(md) {
                        font-size: 13px;
                    }

                    .counter-button {
                        @include audioMixin.header6Text;
                        @include audioMixin.audioColors(var(--au-light-background), var(--au-black));
                        border: none;
                        cursor: pointer;
                        opacity: 0.25;
                        padding: 0 10px;

                        @include audioMixin.response(md) {
                            font-size: 13px;
                        }
                        
                        &:hover {
                            color: var(--au-primary-hover);
                        }
                    }
    
                    .delete-button {
                        @include global.flexboxLayout(row, center, center);

                        @include audioMixin.response(md) {
                            display: none;
                        }

                        &:hover {
                            color: var(--au-primary-hover);
                        }
                    }
                    
                    .count {
                        @include audioMixin.subtitleText;
                        margin: 0 8px;
                    }
                }

                .amount-container {
                    @include global.flexboxLayout(row, flex-end, center);
                    margin-left: auto;

                    .amount {
                        @include audioMixin.bodyText;
                        font-weight: 700;
                        margin: 0;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .empty-cart-container {
        @include global.flexboxLayout(row, center, center);
        height: 100px;
        width: 100%;
        
        .empty-cart-text {
            @include audioMixin.bodyText;
            max-width: 75%;
            text-align: center;
            text-transform: capitalize;
        }
    }

    .total-container {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 8px;
        width: 100%;

        p { 
            margin: 0;
        }
        
        @include audioMixin.response(md) {
            margin-bottom: 8px;
        }

        .total-text {
            @include audioMixin.bodyText;
            opacity: 0.5;
            text-transform: uppercase;

            @include audioMixin.response(md) {
                font-size: 13px;
            }
        }
        
        .amount-text {
            @include audioMixin.header6Text;

            @include audioMixin.response(md) {
                font-size: 13px;
            }
        }

        .grand-total-text {
            color: var(--au-primary-idle);

        }

        &.grand-total-container {
            margin: 16px 0 32px;
        }
    }

    .checkout-button {
        @include audioMixin.buttonStyles;
        @include audioMixin.audioColors;
        border: none;
        cursor: pointer;
        margin-bottom: 32px;
        width: 100%;
    }
    
    .disabled {
        @include audioMixin.audioColors(var(--au-primary-hover));
        cursor: default;
    }

    .enabled {
        @include audioMixin.audioColors;
        cursor: pointer;

        &:hover {
            background-color: var(--au-primary-hover);
        }
    }

}