<div *ngIf="task$ | async as task"
     class="task-dialog-container"
>

    <div class="title-container">
        <p class="title-text">{{formMode === FormMode.CREATE ? 'Create Task' : 'Edit Task'}}</p>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="handleSaveTask()" class="task-form">

            <!-- Display name control as title -->

        <p class="field-label">Title</p>
        <mat-form-field appearance="outline">
            <mat-label>Task title</mat-label>
            <input matInput
                formControlName="displayNameControl"
                type="text"
            >
        </mat-form-field>


            <!-- Description control -->
        
        <p class="field-label">Description</p>
        <mat-form-field appearance="outline">
            <mat-label>Task description</mat-label>
            <input matInput
                    formControlName="descriptionControl"
                    type="text"
            >
        </mat-form-field>

            <!-- Subtasks form group -->

            <p class="field-label">Subtasks</p>

            <ng-container *ngIf="subtasksBS.value && subtasksBS.value.length > 0; else noSubtasks">

                <div class="subtasks-scroll-container">

                    <ng-container formArrayName="subtasks">
                        
                        <ng-container *ngFor="let subtaskForm of subtasks.controls; let i=index"
                        >

                            <div class="subtask-container" [formGroupName]="i">

                                <mat-form-field appearance="outline"
                            >
                            
                                <input matInput
                                        formControlName="subtaskDescriptionControl-{{i}}"
                                        placeholder="Subtask title or description"
                                        type="text"
                                >
                            </mat-form-field>

                            </div>


                        </ng-container>
                    
                    </ng-container>
                    
                        
                        
                            <!-- <mat-checkbox #checkbox 
                                        color="primary"
                                        [value]="''"
                                        [checked]="getCheckedStatus('')"
                                        (change)="updateSubtask($event)"
                            >
                                
                            </mat-checkbox> -->
        
                            
                            <!-- <button mat-icon-button
                                    type="button"
                                    (click)="deleteSubTask('{{i}}')"
                                    >
                                <mat-icon matSuffix>close</mat-icon>
        
                            </button> -->
            
                </div>
            
            </ng-container>

        <ng-template #noSubtasks>
                        
            <p class="no-subtasks-text">No subtasks yet.  Click to add.</p>
            
        </ng-template>


        <!-- <div class="subtasks-scroll-container">

            <div class="subtasks-container">

                <div class="subtask" formArrayName="subTasks" *ngFor="let subtask of subtasksArray.controls; let i=index">
                    
                    <mat-form-field appearance="outline"
                    >
                        <input matInput id="subtask-{{i}}"
                            [formControlName]="i"
                            placeholder="Subtask title or description"
                            type="text"
                        >
                    </mat-form-field>
                    <button mat-icon-button
                            type="button"
                            (click)="deleteSubTask('{{i}}')"
                            >
                        <mat-icon matSuffix>close</mat-icon>

                    </button>

                </div>

            </div>

        </div> -->

        <!-- (click)="addSubTask($event)" -->
        <button mat-flat-button
                class="add-subtask-button"
                type="button"
                (click)="addSubtask()"
                >
            <mat-icon>add</mat-icon>
            Add Subtask
        </button>
        
            <!-- Status control -->
        
        <p class="field-label">Status</p>
        <mat-form-field appearance="outline">
            <!-- [panelClass]="(theme$ | async)!" -->
            <mat-select [(value)]="selectedStatus"
                        [panelClass]="themeBS.value"
                        formControlName="statusControl"
                        class="status-select"
            >
                <mat-option *ngFor="let option of TASK_STATUS_VALUES" 
                            [value]="option"
                >
                    {{option | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

            <!-- Action buttons -->

        <div class="action-buttons">
            
            <button mat-flat-button 
                    class="cancel-button"
                    type="button"
                    (click)="handleCancel()"
            >
                Cancel
            </button>
            
            <button mat-flat-button
                    type="submit"
                    class="save-button"
            >
                Save
            </button>

        </div>

    </form>

</div>