@import "styles.scss";

.task-dialog-container {
    @include flexboxLayout(column, flex-start, flex-start);
    background-color: var(--dark-background-3);
    
    .title-container {
        @include flexboxLayout(row, space-between, center);
        margin-bottom: 24px;
        width: 100%;
        
        .title-text {
            @include darkHeadingLText;
            margin: 0;
            padding: 0;
        }
   }

   .task-form {
        width: 100%;

        .mat-mdc-form-field {
            width: 100%;
        }

        .field-label {
            @include lightBodyMText;
            color: var(--dark-title-text-1);
        }

        .subtasks-scroll-container {
            margin-bottom: 12px;
            max-height: 234px;
            overflow-y: auto;

            @include response(h-md) {
                max-height: 144px;
            }

            .subtasks-container {
                @include flexboxLayout(column, flex-start, flex-start);
                
                .subtask {
                    @include flexboxLayout(row, space-between, center);
                    width: 100%;
    
                    .mat-mdc-form-field {
                        width: 100%;
                    }
    
                    ::ng-deep {
                        .mat-mdc-input-element {
                            width: 90%;
                        }
                    }
    
                    button {
                        margin-top: -24px;
                        
                        mat-icon {
                            color: var(--light-subtitle-text-1);
                        }
                    }
                }
            }
        }

        .add-subtask-button {
            @include mainButtonStyles(var(--light-background-1), var(--text-color-for-light-background-1), 40px);
            justify-content: center;
            margin: 0 0 24px;
            width: 100%;
        }

        .action-buttons {
            @include flexboxLayout(row, flex-end, center);
            width: 100%;
    
            button {
                width: 50%;
            }
            .cancel-button {
                @include mainButtonStyles(var(--secondary-idle), var(--text-color-for-light-background-1), 40px);
                justify-content: center;
            }
    
            .save-button {
                @include mainButtonStyles(var(--primary-idle), var(--text-color-for-dark-background-1), 40px);
                justify-content: center;
            }
     
        }
    }

}