@use '../../../styles/global-mixins' as global;
@use '../../../styles/kanban-mixins' as kanban;
@import "styles.scss";

.task-dialog-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    background-color: var(--background-3);
    
    .title-container {
        @include global.flexboxLayout(row, space-between, center);
        margin-bottom: 24px;
        width: 100%;
        
        .title-text {
            @include kanban.kanbanHeadingLText;
            margin: 0;
            padding: 0;
        }
   }

   .task-form {
        width: 100%;

        .mat-mdc-form-field {
            width: 100%;

            mat-label {
                color: var(--title-text-1);
            }

            .mat-mdc-input-element {
                color: var(--title-text-1);
            }
            
            input::placeholder {
                color: var(--title-text-1);
            }
        }

        .field-label {
            @include kanban.kanbanBodyMText;
            color: var(--title-text-1);
        }

        .subtasks-scroll-container {
            margin-bottom: 12px;
            max-height: 234px;
            overflow-y: auto;

            @include global.response(h-md) {
                max-height: 144px;
            }

            .subtasks-container {
                @include global.flexboxLayout(column, flex-start, flex-start);
                
                .subtask {
                    @include global.flexboxLayout(row, space-between, center);
                    width: 100%;
    
                    .mat-mdc-form-field {
                        width: 100%;
                    }
    
                    ::ng-deep {
                        .mat-mdc-input-element {
                            width: 90%;
                        }
                    }
    
                    button {
                        margin-top: -24px;
                        
                        mat-icon {
                            color: var(--subtitle-text-1);
                        }
                    }
                }
            }
        }

        .add-subtask-button {
            @include kanban.kanbanMainButtonStyles(var(--kanban-secondary-idle), var(--kanban-on-secondary-idle), 40px);
            justify-content: center;
            margin: 0 0 24px;
            width: 100%;
        }

        .status-select {

            ::ng-deep {
                .mat-mdc-select-value-text {
                    color: var(--title-text-1);
                }

            }
        }

        .action-buttons {
            @include global.flexboxLayout(row, flex-end, center);
            width: 100%;
    
            button {
                width: 50%;
            }
            .cancel-button {
                @include kanban.kanbanMainButtonStyles(var(--kanban-secondary-idle), var(--kanban-on-secondary-idle), 40px);
                justify-content: center;
            }
    
            .save-button {
                @include kanban.kanbanMainButtonStyles(var(--kanban-primary-idle), var(--kanban-on-primary-idle), 40px);
                justify-content: center;
            }
     
        }
    }

}