@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.product-card-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--au-light-background);
    height: 560px;
    flex-grow: 1;

    .product-card-inner-container {
        @include global.flexboxLayout(row, space-between, center);
        // @include global.border1(black, 1px);
        
        height: 100%;
        max-width: 1110px;
        width: 100%;
        background-origin: border-box;
        background-position-y: bottom;

        .order-two {
            order: 2;
        }

        .product-image {
            height: 100%;
            width: 560px;
        }
    
        .product-description {
            @include global.flexboxLayout(column, space-between, flex-start);
            // @include global.border1(black, 1px);
            width: 50%;
            z-index: 1;
            margin-left: 30px;
    
            .status-text {
                @include audioMixin.overlineText;
                color: var(--au-primary-idle);
                margin-bottom: 24px;
                opacity: 50%;
            }
    
            .headline {
                @include audioMixin.header1Text;
                color: var(--au-black);
                margin-bottom: 24px;
            }
    
            .description {
                @include audioMixin.bodyText;
                color: var(--au-black);
                opacity: 75%;
                max-width: 66%;
                margin-bottom: 40px;
            }
    
            .see-product-button {
                @include audioMixin.buttonStyles;
                @include audioMixin.audioColors;
            }
        }

    }

}