@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/global-variables' as globalVar;
@use '../../audio-mixins' as audioMixin;
@use '../../audio-variables' as audioVar;

.product-card-container {
    @include global.flexboxLayout(row, center, center);
    background-color: var(--au-light-background);

    .order-one {
        order: 1;
    }

    .product-card-inner-container {
        @include global.flexboxLayout(row, space-between, center);
        // @include global.border1(black, 1px);
        height: 100%;
        max-width: 1110px;
        width: 100%;
        background-origin: border-box;
        background-position-y: bottom;

        @include audioMixin.response(lg) {
            @include global.flexboxLayout(column, center, center);
            max-width: 768px;
        }

        .order-two {
            order: 2;
        }

        .product-image {
            height: 560px;

            @include audioMixin.response(lg) {
                height: 220px;
            }
        }
    
        .product-description {
            @include global.flexboxLayout(column, space-between, flex-start);
            // @include global.border1(black, 1px);
            width: 50%;
            z-index: 1;
            margin-left: 30px;

            @include audioMixin.response(lg) {
                @include global.flexboxLayout(column, flex-start, center);
                text-align: center;
                width: 100%;
            }

            @include audioMixin.response(md) {
                margin-left: 0;
            }
    
            .status-text {
                @include audioMixin.overlineText;
                color: var(--au-primary-idle);
                margin-bottom: 24px;
                opacity: 50%;

                @include audioMixin.response(lg) {
                    margin-bottom: 16px;
                }
            }
    
            .headline {
                @include audioMixin.header2Text;
                color: var(--au-black);
                margin-bottom: 24px;

                @include audioMixin.response(lg) {
                    margin-bottom: 32px;
                }
                
                @include audioMixin.response(md) {
                    @include audioMixin.header4Text;
                }
            }
    
            .description {
                @include audioMixin.bodyText;
                color: var(--au-black);
                opacity: 75%;
                max-width: 66%;
                margin-bottom: 40px;

                @include audioMixin.response(lg) {
                    margin-bottom: 24px;
                }
            }
    
            .see-product-button {
                @include audioMixin.buttonStyles;
                @include audioMixin.audioColors;
                cursor: pointer;

                &:hover {
                    background-color: var(--au-primary-hover);
                }
            }
        }
    }
}