

<div class="product-card-container">

    <div class="product-card-inner-container">
        
        <img src="{{product.categoryImage['desktop']}}" class="product-image"
             [class.order-two]="!even"
        >
    
        <div class="product-description">
    
            <p class="status-text" *ngIf="product.new">{{AppText.NEW_PRODUCT}}</p>
    
            <p class="headline">{{product.name}}</p>
    
            <p class="description">{{product.description}}</p>
            
            <a [routerLink]="['../../products', product.slug]" type="button" class="see-product-button">
                {{AppText.SEE_PRODUCT}}
            </a>
    
        </div>

    </div>


</div>