

<div class="des-sys-container">

    <div class="color-container">

        <div class="color color-1">
            <p>Primary</p>
            <p class="header-six-text">HEADER 6 TEXT</p>
            <p class="tr-text header-six-text">Lorem ipsum dolor sit amet.</p>

        </div>
        
        <div class="color color-2">
            <p>Secondary</p>

            <p class="header-six-text">HEADER 6 TEXT</p>
            <p class="tr-text header-six-text">Lorem ipsum dolor sit amet.</p>


        </div>
        
        <div class="color color-3">

            <p>Accent One</p>

            <p class="header-six-text">HEADER 6 TEXT</p>
            <p class="tr-text header-six-text">Lorem ipsum dolor sit amet.</p>


        </div>
        
        <div class="color color-4">

            <p>Accent Two</p>

            <p class="header-six-text">HEADER 6 TEXT</p>
            <p class="tr-text header-six-text">Lorem ipsum dolor sit amet.</p>


        </div>

    </div>

    <div class="window header">
        
        <p class="masthead-text">TITLE TEXT</p>
        <p class="masthead-text">Masthead mixin</p>

    </div>

    <div class="windows-container">
        
        <div class="window main-window">
            
            <p class="tr-text header-one-text">HEADER ONE TEXT</p>
            <p class="tr-text header-one-text">Like header one text dude</p>
            
            <p class="tr-text header-two-text">HEADER TWO TEXT</p>
            <p class="tr-text header-two-text">Header 2 Lorem ipsum dolor sit amet.</p>
            
        </div>
        
        <div class="window accent-window">
            
            <p class="tr-text header-six-text">HEADER SIX TEXT</p>
            <p class="tr-text header-six-text">Header 6 Lorem ipsum dolor sit amet.</p>
            
            <p class="body-text">BODY TEXT</p>
            <p class="body-text">Body text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quasi, maiores modi nihil qui a. Adipisci quidem laudantium commodi nesciunt!</p>
    
            <p class="accent-text">ACCENT TEXT</p>
            <p class="accent-text">Accent text (yes i'm much better now)</p>
    
        </div>

    </div>

</div>

