@use '../../../../../styles/global-mixins' as global;
@use '../../../../../styles/kanban-mixins' as kanban;
@use '../../../../../styles/kanban-variables' as kanbanVar;
@import "styles.scss";

.tour-bubble-container {
    @include global.flexboxLayout(column, flex-start, flex-start);
    @include global.border1(var(--kanban-primary-idle));
    @include kanban.kanbanColors(var(--kanban-primary-idle), var(--kanban-on-primary-idle));
    padding: 20px;
    position: relative;
    width: 240px;
    z-index: 2;

    .pointer {
        position: absolute;
        top: 0;
        left: 0;
        border: 20px solid var(--kanban-primary-idle);
        transform: rotate(45deg);
    }

    .title-text {
        @include kanban.kanbanHeadingLText;
        @include kanban.kanbanColors(var(--kanban-primary-idle), var(--kanban-on-primary-idle));
        margin: 0 0 10px;
        z-index: 2;
    }
    
    .description {
        @include kanban.kanbanBodyLText;
        @include kanban.kanbanColors(var(--kanban-primary-idle), var(--kanban-on-primary-idle));
        z-index: 2;
    }

    .buttons-container {
        @include global.flexboxLayout(row, space-between, center);
        padding: 10px 0;
        width: 100%;
        
        .action-button {
            @include kanban.kanbanMainButtonStyles(20px);
            @include kanban.kanbanColors(var(--kanban-on-primary-idle), var(--kanban-primary-idle));
            font-size: 12px;
            justify-content: center;
            width: 40%;
    
            &:hover {
                @include kanban.kanbanColors($background-color: var(--kanban-primary-hover), $color: var(--kanban-on-primary-hover));
            }
    
            @include global.response(md) {
                font-size: 10px;
            }
    
            &.cancel {
    
            }
        }

    }


}
