
<div class="tour-bubble-container not-visible" *ngIf="selectedBubble as bubble">

    <div class="pointer"
         [style.top]="bubble.pointerTop"
         [style.left]="bubble.pointerLeft"
    ></div>

    <p class="title-text">{{bubble.title | titlecase}}</p>

    <ng-container *ngFor="let text of bubble.description">
        
        <p class="description">{{text}}</p>

    </ng-container>
    
    <div class="progress"></div>

    <div class="buttons-container">

        <button *ngIf="bubble.end !== true"
                class="action-button next" 
                (click)="handleSelectNextBubble()"
        >
            Next
        </button>
        
        <button class="action-button cancel"
                (click)="handleCloseTour()"
        >
            Got it
        </button>
        
    </div>

</div>