@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;

:host {
    
    .vehicles-view-container {
        @include global.flexboxLayout(column, flex-start,center);
        background-color: white;
        color: black;
        padding: 20px;
        
        app-vehicles-search, app-vehicles-table {
            width: 100%;
        }

    }
    
}