
<div class="product-page-container">

    <app-breadcrumb-panel [url]="(previousUrl$ | async)!"></app-breadcrumb-panel>
    
    <ng-container *ngIf="(product$ | async)! as product">
        
        <app-product-detail [product]="product"
                            [viewportMode]="viewportMode"
        ></app-product-detail>
        
        <app-also-like-panel [products]="product.others"></app-also-like-panel>
        
        <app-shop-panel [url]="url"></app-shop-panel>

    </ng-container>

    <app-about-panel></app-about-panel>

</div>
