@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use '../../mods/ang-exp/css-tricks//css-tricks-mixins' as cssTricks;
@import "styles.scss";

:host {
    @include global.flexboxLayout(column, flex-start, center);
    background-color: var(--background-2);
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    
    .kanban-logo-container {
        @include global.flexboxLayout(row, flex-start, center);
        align-self: flex-start;
        border-right: 1px solid var(--sidenav-border-color);
        height: var(--size-nav-bar-height);
        margin-left: 24px;
        width: 358px;
    
        @include global.response(sm) {
            border: none;
            margin: 0;
        }
    
        .logo-text {
            color: var(--title-text-1);
            font-weight: 700;
            font-size: globalVar.globalFontSize(heading-xl);
            line-height: globalVar.globalLineHeight(heading-xl);
            font-family: var(--main-font-family), "Helvetica Neue", sans-serif;
            margin: 0 0 0 16px;
        }
    }
    
    .kanban-icon-container {
        @include global.flexboxLayout(row, flex-start, center);
        
        .kanban-icon-segment {
            border-radius: 2px;
            height: 25px;
            width: 6px;
    
            &:not(:last-child) {
                margin: 0 3px 0 0;
            }
        }
    
        .segment-1 {
            background-color: var(--global-kanban-purple-1);
        }
    
        .segment-2 {
            background-color: var(--global-kanban-purple-1);
            opacity: .75;
        }
    
        .segment-3 {
            background-color: var(--global-kanban-purple-1);
            opacity: .5;
        }
    }
    
    .title-text {
        font: 500 normal 24px/30px var(--global-font-nunito);
        color: var(--title-text-1);
        margin-bottom: 50px;
    }

    .header-text {
        font: 500 normal 18px/24px var(--global-font-nunito);
        margin-bottom: 20px;
        align-self: center;
    }

    .instruction-text {
        font: 300 normal 14px/20px var(--global-font-nunito);
        margin-bottom: 16px;

        &:last-of-type {
            margin-top: 12px;
        }
    }

    .login-container {
        @include global.flexboxLayout(row, center, flex-start);
        background-color: var(--background-2);
        
        .panel-container {
            @include cssTricks.boxShadowRaisedUpperLeftLowerRight;
            background-color: var(--background-2);
            border: 8px solid var(--kanban-primary-idle);
            border-radius: 20px;
            color: var(--subtitle-text-1);
            height: 540px;
            padding: 40px;
            width: 360px;
            
            &.left {
                @include global.flexboxLayout(column, flex-start, flex-start);
            }
            
            &.right {
                @include global.flexboxLayout(column, center, center);
            }

            &:first-of-type {
                margin-right: 40px;
            }

            .auth-container {
                height: 300px;
                width: 240px;
            }
        }

        ::ng-deep {
            .firebaseui-idp-list {
                margin: 0;
            }

        }


        .anonymous-button {
            @include global.flexboxLayout(row, flex-start, center);
            background-color: var(--kanban-primary-idle);
            border: none;
            border-radius: 2px;
            color: var(--kanban-on-primary-idle);
            cursor: pointer;
            font: 700 normal 14px/20px var(--kanban-main-font-family);
            height: 40px;
            letter-spacing: 0;
            max-width: 192px;
            margin-bottom: 16px;
            min-width: 64px;
            outline: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;

            span {
                padding: 0 16px;
            }

        }
    }

}
