@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use './audio-variables' as audioVar;


/////////////////// TEXT /////////////////////

@mixin logoText {
    font: 700 normal 25px/35px var(--au-main-font-family);
}

@mixin header1Text {
    font: 700 normal 56px/58px var(--au-main-font-family);
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin header2Text {
    font: 700 normal 40px/44px var(--au-main-font-family);
    letter-spacing: 1.43px;
    text-transform: uppercase;
}

@mixin header3Text {
    font: 700 normal 32px/36px var(--au-main-font-family);
    letter-spacing: 1.14px;
    text-transform: uppercase;
}

@mixin header4Text {
    font: 700 normal 28px/38.25px var(--au-main-font-family);
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin header5Text {
    font: 700 normal 24px/32.8px var(--au-main-font-family);
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

@mixin header6Text {
    font: 700 normal 18px/25px var(--au-main-font-family);
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

@mixin shopPanelMdDialogHeaderText {
    font: 700 normal 15px/20.5px var(--au-main-font-family);
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

@mixin shopPanelMdDialogShopText {
    font: 700 normal 13px/18px var(--au-main-font-family);
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin overlineText {
    font: 400 normal 14px/19.1px var(--au-main-font-family);
    letter-spacing: 10px;
    text-transform: uppercase;
}

@mixin subtitleText {
    font: 700 normal 13px/25px var(--au-main-font-family);
    letter-spacing: 0.93px;
    text-transform: uppercase;
}

@mixin bodyText {
    font: 500 normal 15px/25px var(--au-main-font-family);
}

@mixin checkoutFormLabelText {
    font: 700 normal 12px/16px var(--au-main-font-family);
}

@mixin checkoutFormPlaceholderText {
    font: 400 normal 14px/19.1px var(--au-main-font-family);
    opacity: 0.4;
    text-transform: capitalize;
}

///////////////////////////// ELEMENTS //////////////////////

@mixin border($thickness: 1px, $color: var(--au-black)) {
    border: $thickness solid $color;
}

@mixin buttonText {
    font: 700 normal 13px/18px var(--au-main-font-family);
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin buttonStyles {
    @include buttonText;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    text-decoration: none;
    
}

@mixin audioColors($backgroundColor: var(--au-primary-idle), $color: var(--au-on-primary-idle)) {
    background-color: $backgroundColor;
    color: $color;

}

/////////////////// RESPONSIVE BREAKPOINTS /////////////////////

    // --au-lg-width: 1440px;
    // --au-md-width: 768px;
    // --au-sm-width: 375px;
    // --au-lg-inner-width: 1110px;
    // --au-md-inner-width: 689px;
    // --au-sm-inner-width: 327px;

@mixin response($breakpoint) {

    @if($breakpoint == lg) {
        @media(max-width: 1440px) {
            @content;
        }
    }
    
    @if($breakpoint == md) {
        @media(max-width: 768px) {
            @content;
        }
    }

    @if($breakpoint == sm) {
        @media(max-width: 375px) {
            @content;
        }
    }

}
