@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;

:root {

    --au-black: #000000;
    --au-white: #ffffff;
 
    --au-background-color: #0e0e0e;
    --au-on-background-color: #fff;

    --au-light-background: #f2f2f2;
    --au-on-light-background: #0e0e0e;
    --au-dark-background: #0e0e0e;
    --au-on-dark-background: #f2f2f2;

    --au-primary-idle: #d87d4a;
    --au-on-primary-idle: var(--au-white);

    --au-primary-hover: #fbaf85;
    --au-secondary-idle: #101010;
    --au-secondary-hover: #ffffff;
    --au-accent-1-idle: #f1f1f1;
    --au-accent-1-hover: #000000;
    --au-accent-2: #fafafa;

    --au-font-manrope: Manrope;
    --au-main-font-family: var(--au-font-manrope);

    --au-main-side-padding: 165px;

    --nav-header-background-color: var(--au-background-color);
    --nav-header-text-color: var(--au-on-background-color);

    --au-checkout-form-control-border-color: #cfcfcf;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}