@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@use './audio-mixins' as audioMixin;
@use './audio-variables' as audioVar;

.audio-view-container {
    @include global.flexboxLayout(column, flex-start, center);
    width: 100%;
    background-color: var(--au-light-background);
    color: var(--au-on-light-background);
    
    app-nav-header,
    app-about-panel,
    app-nav-footer {
        width: 100%;
    }
    
    .scroll-container {
        height: calc(100vh - 78px);
        overflow: auto;
        width: 100%;
        
        app-about-panel {
            display: flex;
            margin-bottom: 200px;
        }
    }
    
}
