@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;
@use '../landing-page-variables' as landingPageVar;
@import "styles.scss";

mat-card {
    @include global.flexboxLayout(column, flex-start, flex-start);
    @include global.globalBoxShadow;
    background-color: var(--skill-card-background-color);
    flex-grow: 1;
    margin: 0 10px;
    padding: 6px 24px;

    @include global.response(lg) {
        padding: 6px 18px;
    }

    @include global.response(md) {
        padding: 6px 24px;
    }

    mat-card-content {
        @include global.flexboxLayout(row, flex-start, center);
        padding: 16px 0;
        width: 100%;
        position: relative;
        
        .skill-logo {
            position: relative;
            width: globalVar.globalFontSize(heading-xl);
        }

        .logo-container {
            position: relative;
        }

        .github-backing-circle {
            position: absolute;
            background-color: var(--social-icon-backing-circle-color);
            height: 20px;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        .text-container {
            @include global.flexboxLayout(row, center, center);
            width: 100%;
            
            .skill-title {
                @include landingPageVar.textSkillCardHeader;
                color: var(--skill-card-title-color);
            }
        }
    
    }
}
