@use '../../../../styles/global-mixins' as global;
@use '../../../../styles/global-variables' as globalVar;
@use '../landing-page-variables' as landingPageVar;
@import "styles.scss";

mat-card {
    @include global.flexboxLayout(column, flex-start, flex-start);
    @include global.globalBoxShadow;
    background-color: var(--skill-card-background-color);
    flex-grow: 1;
    margin: 0 10px;
    padding: 6px 24px;
    
    mat-card-content {
        @include global.flexboxLayout(row, flex-start, center);
        padding: 16px 0;
        width: 100%;

        @include global.response(sm) {
            padding: 8px;
        }
        
        .skill-logo {
            width: globalVar.globalFontSize(heading-xl);
            
            
            @include global.response(lg) {
                width: globalVar.globalFontSize(heading-l-xl);
            }

            @include global.response(sm-md) {
                width: globalVar.globalFontSize(heading-m-l);
            }

            @include global.response(xxs) {
                width: globalVar.globalFontSize(heading-l-xl);
                
            }
        }

        .text-container {
            @include global.flexboxLayout(row, center, center);
            width: 100%;
            
            .skill-title {
                @include global.textSectionSubheader;
                color: var(--skill-card-title-color);
    
                @include global.response(lg) {
                    font-size: globalVar.globalFontSize(heading-m-l);
                }
    
                @include global.response(sm-md) {
                    font-size: globalVar.globalFontSize(heading-m);
                }
    
                @include global.response(xxs) {
                    font-size: globalVar.globalFontSize(heading-m-l);
                    
                }
            }
        }
    
    }
}
