
<ng-container *ngIf="skill">

    <mat-card>

        <mat-card-content>
            
            <div class="logo-container">
                
                <div class="github-backing-circle" *ngIf="skill.title === 'Git'"></div>
                <img src="{{skill.imageSrc}}" alt="skill image" class="skill-logo">

            </div>

            <div class="text-container">
                
                <p class="skill-title">{{ skill.title }}</p>

            </div>

        </mat-card-content>

    </mat-card>

</ng-container>