@use '../../../styles/global-mixins' as global;
@use '../../../styles/global-variables' as globalVar;
@import "styles.scss";

mat-card {
    @include global.flexboxLayout(column, flex-start, center);
    flex-grow: 1;
    margin: 0 10px;
    padding: 6px 24px;
    background-color: inherit;
    
    mat-card-content {
        @include global.flexboxLayout(row, flex-start, center);
        max-width: 400px;
        
        .skill-logo {
            margin-right: 16px;
            width: globalVar.globalFontSize(heading-xl);
            
            
            @include global.response(lg) {
                width: globalVar.globalFontSize(heading-l-xl);
            }

            @include global.response(sm-md) {
                width: globalVar.globalFontSize(heading-m-l);
            }

            @include global.response(xxs) {
                width: globalVar.globalFontSize(heading-l-xl);
                
            }
        }
    
        .skill-title {
            @include global.textSectionSubheader;

            @include global.response(lg) {
                font-size: globalVar.globalFontSize(heading-m-l);
            }

            @include global.response(sm-md) {
                font-size: globalVar.globalFontSize(heading-m);
            }

            @include global.response(xxs) {
                font-size: globalVar.globalFontSize(heading-m-l);
                
            }
        }
    }
}
